In [138]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time
import requests

In [139]:
# Scrape the data for the Art Ross Award, Scoring Champion
url = f'https://www.nhl.com/news/nhl-art-ross-trophy-winners-complete-list/c-287899824?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Art Ross']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
art_ross_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
art_ross_df['Year'] = art_ross_df['Year'].astype(int)
# filter dataframe 
art_ross_df = art_ross_df.loc[art_ross_df['Year'] >= 1967,:]
art_ross_df.head()

   Year           Player                 Team     Award
0  2020   Leon Draisaitl      Edmonton Oilers  Art Ross
1  2019  Nikita Kucherov  Tampa Bay Lightning  Art Ross
2  2018   Connor McDavid      Edmonton Oilers  Art Ross
3  2017   Connor McDavid      Edmonton Oilers  Art Ross
4  2016     Patrick Kane   Chicago Blackhawks  Art Ross

In [140]:
# Group the data by the player's name column
art_ross_grp_df = art_ross_df.groupby(by="Player", as_index=False).count()
art_ross_grp_df.head()

           Player  Year  Team  Award
0   Alex Ovechkin     1     1      1
1       Bobby Orr     2     2      2
2  Bryan Trottier     1     1      1
3  Connor McDavid     2     2      2
4    Daniel Sedin     1     1      1

In [141]:
# Drop columns that are not needed
art_ross_grp_df = art_ross_grp_df.drop(['Team', 'Award'], axis=1)
art_ross_grp_df.head()

           Player  Year
0   Alex Ovechkin     1
1       Bobby Orr     2
2  Bryan Trottier     1
3  Connor McDavid     2
4    Daniel Sedin     1

In [142]:
# Rename the year column to theaward name for the count
art_ross_grp_df = art_ross_grp_df.rename(columns={"Year": "Art Ross Awards"})
art_ross_grp_df.head()

           Player  Art Ross Awards
0   Alex Ovechkin                1
1       Bobby Orr                2
2  Bryan Trottier                1
3  Connor McDavid                2
4    Daniel Sedin                1

In [143]:
# Scrape the data for the Hart Memorial Award, League MVP
url = f'https://www.nhl.com/news/nhl-hart-memorial-trophy-winners-complete-list/c-287743272?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Hart Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
hart_memorial_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
hart_memorial_df['Year'] = hart_memorial_df['Year'].astype(int)
# filter dataframe 
hart_memorial_df = hart_memorial_df.loc[hart_memorial_df['Year'] >= 1967,:]
hart_memorial_df.head()

   Year           Player                 Team          Award
0  2020   Leon Draisaitl      Edmonton Oilers  Hart Memorial
1  2019  Nikita Kucherov  Tampa Bay Lightning  Hart Memorial
2  2018      Taylor Hall    New Jersey Devils  Hart Memorial
3  2017   Connor McDavid      Edmonton Oilers  Hart Memorial
4  2016     Patrick Kane   Chicago Blackhawks  Hart Memorial

In [144]:
# Group the data by the player's name column
hart_grp_df = hart_memorial_df.groupby(by="Player", as_index=False).count()
hart_grp_df.head()

           Player  Year  Team  Award
0   Alex Ovechkin     3     3      3
1    Bobby Clarke     3     3      3
2       Bobby Orr     3     3      3
3      Brett Hull     1     1      1
4  Bryan Trottier     1     1      1

In [145]:
# Drop columns that are not needed
hart_grp_df = hart_grp_df.drop(['Team', 'Award'], axis=1)
hart_grp_df.head()

           Player  Year
0   Alex Ovechkin     3
1    Bobby Clarke     3
2       Bobby Orr     3
3      Brett Hull     1
4  Bryan Trottier     1

In [146]:
# Rename the year column to theaward name for the count
hart_grp_df = hart_grp_df.rename(columns={"Year": "Hart Awards"})
hart_grp_df.head()

           Player  Hart Awards
0   Alex Ovechkin            3
1    Bobby Clarke            3
2       Bobby Orr            3
3      Brett Hull            1
4  Bryan Trottier            1

In [147]:
# Scrape the data for the Conn Smythe Trophy Award, Playoff MVP
url = 'https://www.nhl.com/news/nhl-conn-smythe-trophy-winners-complete-list/c-287709808?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Conn Smythe"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
conn_smythe_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
conn_smythe_df['Year'] = conn_smythe_df['Year'].astype(int)
# filter dataframe 
conn_smythe_df = conn_smythe_df.loc[conn_smythe_df['Year'] >= 1967,:]
conn_smythe_df.head()

   Year         Player                 Team        Award
0  2020  Victor Hedman  Tampa Bay Lightning  Conn Smythe
1  2019  Ryan O'Reilly      St. Louis Blues  Conn Smythe
2  2018  Alex Ovechkin  Washington Capitals  Conn Smythe
3  2017  Sidney Crosby  Pittsburgh Penguins  Conn Smythe
4  2016  Sidney Crosby  Pittsburgh Penguins  Conn Smythe

In [148]:
# Group the data by the player's name column
conn_smythe_grp_df = conn_smythe_df.groupby(by="Player", as_index=False).count()
conn_smythe_grp_df.head()

          Player  Year  Team  Award
0    Al MacInnis     1     1      1
1  Alex Ovechkin     1     1      1
2  Bernie Parent     2     2      2
3   Bill Ranford     1     1      1
4    Billy Smith     1     1      1

In [149]:
# Drop columns that are not needed
conn_smythe_grp_df = conn_smythe_grp_df.drop(['Team', 'Award'], axis=1)
conn_smythe_grp_df.head()

          Player  Year
0    Al MacInnis     1
1  Alex Ovechkin     1
2  Bernie Parent     2
3   Bill Ranford     1
4    Billy Smith     1

In [150]:
# Rename the year column to theaward name for the count
conn_smythe_grp_df = conn_smythe_grp_df.rename(columns={"Year": "Conn Smythe Awards"})
conn_smythe_grp_df.head()

          Player  Conn Smythe Awards
0    Al MacInnis                   1
1  Alex Ovechkin                   1
2  Bernie Parent                   2
3   Bill Ranford                   1
4    Billy Smith                   1

In [151]:
# Scrape the data for the Calder Memorial Trophy Awards, Rookie of the Year
url = 'https://www.nhl.com/news/nhl-calder-memorial-trophy-winners-complete-list/c-287749198?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Calder Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
calder_memorial_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
calder_memorial_df['Year'] = calder_memorial_df['Year'].astype(int)
# filter dataframe 
calder_memorial_df = calder_memorial_df.loc[calder_memorial_df['Year'] >= 1967,:]
calder_memorial_df.head()

   Year            Player                 Team            Award
0  2020        Cale Makar   Colorado Avalanche  Calder Memorial
1  2019  Elias Pettersson    Vancouver Canucks  Calder Memorial
2  2018     Mathew Barzal   New York Islanders  Calder Memorial
3  2017   Auston Matthews  Toronto Maple Leafs  Calder Memorial
4  2016    Artemi Panarin   Chicago Blackhawks  Calder Memorial

In [152]:
# Group the data by the player's name column
calder_memorial_grp_df = calder_memorial_df.groupby(by="Player", as_index=False).count()
calder_memorial_grp_df.head()

            Player  Year  Team  Award
0     Aaron Ekblad     1     1      1
1    Alex Ovechkin     1     1      1
2  Andrew Raycroft     1     1      1
3   Artemi Panarin     1     1      1
4  Auston Matthews     1     1      1

In [153]:
# Drop columns that are not needed
calder_memorial_grp_df = calder_memorial_grp_df.drop(['Team', 'Award'], axis=1)
calder_memorial_grp_df.head()

            Player  Year
0     Aaron Ekblad     1
1    Alex Ovechkin     1
2  Andrew Raycroft     1
3   Artemi Panarin     1
4  Auston Matthews     1

In [154]:
# Rename the year column to theaward name for the count
calder_memorial_grp_df = calder_memorial_grp_df.rename(columns={"Year": "Calder Awards"})
calder_memorial_grp_df.head()

            Player  Calder Awards
0     Aaron Ekblad              1
1    Alex Ovechkin              1
2  Andrew Raycroft              1
3   Artemi Panarin              1
4  Auston Matthews              1

In [155]:
# Scrape the data for the James Norris Memorial Trophy, Top Defenseman 
import re
url = 'https://www.nhl.com/news/nhl-james-norris-memorial-trophy-winners-complete-list/c-287778852?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = re.split(':|;', row)
        #print(words)
        more_words = words[1].split(',')
        #print(more_words)

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'James Norris Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
james_norris_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
james_norris_df['Year'] = james_norris_df['Year'].astype(int)
# filter dataframe 
james_norris_df = james_norris_df.loc[james_norris_df['Year'] >= 1967,:]
james_norris_df.head()

   Year         Player                 Team                  Award
0  2020     Roman Josi       Calgary Flames  James Norris Memorial
1  2019  Mark Giordano       Calgary Flames  James Norris Memorial
2  2018  Victor Hedman  Tampa Bay Lightning  James Norris Memorial
3  2017    Brent Burns      San Jose Sharks  James Norris Memorial
4  2016   Drew Doughty    Los Angeles Kings  James Norris Memorial

In [156]:
# Group the data by the player's name column
james_norris_grp_df = james_norris_df.groupby(by="Player", as_index=False).count()
james_norris_grp_df.head()

          Player  Year  Team  Award
0    Al MacInnis     1     1      1
1      Bobby Orr     8     8      8
2    Brent Burns     1     1      1
3   Brian Leetch     2     2      2
4  Chris Chelios     3     3      3

In [157]:
# Drop columns that are not needed
james_norris_grp_df = james_norris_grp_df.drop(['Team', 'Award'], axis=1)
james_norris_grp_df.head()

          Player  Year
0    Al MacInnis     1
1      Bobby Orr     8
2    Brent Burns     1
3   Brian Leetch     2
4  Chris Chelios     3

In [158]:
# Rename the year column to theaward name for the count
james_norris_grp_df = james_norris_grp_df.rename(columns={"Year": "James Norris Awards"})
james_norris_grp_df.head()

          Player  James Norris Awards
0    Al MacInnis                    1
1      Bobby Orr                    8
2    Brent Burns                    1
3   Brian Leetch                    2
4  Chris Chelios                    3

In [159]:
# Scrape the data for the Ted Lindsay Award, Outstanding Player voted by NHLPA players
url = 'https://www.nhl.com/news/nhl-ted-lindsay-award-winners-complete-list/c-287978282?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Ted Lindsay"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
ted_lindsay_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
ted_lindsay_df['Year'] = ted_lindsay_df['Year'].astype(int)
# filter dataframe 
ted_lindsay_df = ted_lindsay_df.loc[ted_lindsay_df['Year'] >= 1967,:]
ted_lindsay_df.head()

   Year           Player                 Team        Award
0  2020   Leon Draisaitl      Edmonton Oilers  Ted Lindsay
1  2019  Nikita Kucherov  Tampa Bay Lightning  Ted Lindsay
2  2018   Connor McDavid      Edmonton Oilers  Ted Lindsay
3  2017   Connor McDavid      Edmonton Oilers  Ted Lindsay
4  2016     Patrick Kane   Chicago Blackhawks  Ted Lindsay

In [160]:
# Group the data by the player's name column
ted_lindsay_grp_df = ted_lindsay_df.groupby(by="Player", as_index=False).count()
ted_lindsay_grp_df.head()

          Player  Year  Team  Award
0  Alex Ovechkin     3     3      3
1   Bobby Clarke     1     1      1
2      Bobby Orr     1     1      1
3     Brett Hull     1     1      1
4    Carey Price     1     1      1

In [161]:
# Drop columns that are not needed
ted_lindsay_grp_df = ted_lindsay_grp_df.drop(['Team', 'Award'], axis=1)
ted_lindsay_grp_df.head()

          Player  Year
0  Alex Ovechkin     3
1   Bobby Clarke     1
2      Bobby Orr     1
3     Brett Hull     1
4    Carey Price     1

In [162]:
# Rename the year column to theaward name for the count
ted_lindsay_grp_df = ted_lindsay_grp_df.rename(columns={"Year": "Ted Lindsay Awards"})
ted_lindsay_grp_df.head()

          Player  Ted Lindsay Awards
0  Alex Ovechkin                   3
1   Bobby Clarke                   1
2      Bobby Orr                   1
3     Brett Hull                   1
4    Carey Price                   1

In [163]:
# Scrape the data for the Maurice Richard Award, Top Goal Scorer
url = 'https://www.nhl.com/news/nhl-maurice-richard-trophy-winners-complete-list/c-287972892?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Maurice Richard"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
maurice_richard_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
maurice_richard_df['Year'] = maurice_richard_df['Year'].astype(int)
# filter dataframe 
maurice_richard_df = maurice_richard_df.loc[ted_lindsay_df['Year'] >= 1967,:]
maurice_richard_df.head()

   Year          Player                 Team            Award
0  2020   Alex Ovechkin  Washington Capitals  Maurice Richard
1  2020  David Pastrnak        Boston Bruins  Maurice Richard
2  2019   Alex Ovechkin  Washington Capitals  Maurice Richard
3  2018   Alex Ovechkin  Washington Capitals  Maurice Richard
4  2017   Sidney Crosby  Pittsburgh Penguins  Maurice Richard

In [164]:
# Group the data by the player's name column
maurice_richard_grp_df = maurice_richard_df.groupby(by="Player", as_index=False).count()
maurice_richard_grp_df.head()

           Player  Year  Team  Award
0   Alex Ovechkin     9     9      9
1     Corey Perry     1     1      1
2  David Pastrnak     1     1      1
3  Ilya Kovalchuk     1     1      1
4   Jarome Iginla     2     2      2

In [165]:
# Drop columns that are not needed
maurice_richard_grp_df = maurice_richard_grp_df.drop(['Team', 'Award'], axis=1)
maurice_richard_grp_df.head()

           Player  Year
0   Alex Ovechkin     9
1     Corey Perry     1
2  David Pastrnak     1
3  Ilya Kovalchuk     1
4   Jarome Iginla     2

In [166]:
# Rename the year column to theaward name for the count
maurice_richard_grp_df = maurice_richard_grp_df.rename(columns={"Year": "Maurice Richard Awards"})
maurice_richard_grp_df.head()

           Player  Maurice Richard Awards
0   Alex Ovechkin                       9
1     Corey Perry                       1
2  David Pastrnak                       1
3  Ilya Kovalchuk                       1
4   Jarome Iginla                       2

In [167]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(art_ross_grp_df,
                 conn_smythe_grp_df[['Player', 'Conn Smythe Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

           Player  Art Ross Awards  Conn Smythe Awards
0   Alex Ovechkin              1.0                 1.0
1       Bobby Orr              2.0                 2.0
2  Bryan Trottier              1.0                 1.0
3  Connor McDavid              2.0                 NaN
4    Daniel Sedin              1.0                 NaN

In [168]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 hart_grp_df[['Player', 'Hart Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

           Player  Art Ross Awards  Conn Smythe Awards  Hart Awards
0   Alex Ovechkin              1.0                 1.0          3.0
1       Bobby Orr              2.0                 2.0          3.0
2  Bryan Trottier              1.0                 1.0          1.0
3  Connor McDavid              2.0                 NaN          1.0
4    Daniel Sedin              1.0                 NaN          NaN

In [169]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 calder_memorial_grp_df[['Player', 'Calder Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards
0,Alex Ovechkin,1.0,1.0,3.0,1.0
1,Bobby Orr,2.0,2.0,3.0,1.0
2,Bryan Trottier,1.0,1.0,1.0,1.0
3,Connor McDavid,2.0,NaN,1.0,NaN
4,Daniel Sedin,1.0,NaN,NaN,NaN

In [170]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 james_norris_grp_df[['Player', 'James Norris Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards
0,Alex Ovechkin,1.0,1.0,3.0,1.0,NaN
1,Bobby Orr,2.0,2.0,3.0,1.0,8.0
2,Bryan Trottier,1.0,1.0,1.0,1.0,NaN
3,Connor McDavid,2.0,NaN,1.0,NaN,NaN
4,Daniel Sedin,1.0,NaN,NaN,NaN,NaN

In [171]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 ted_lindsay_grp_df[['Player', 'Ted Lindsay Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards
0,Alex Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0
1,Bobby Orr,2.0,2.0,3.0,1.0,8.0,1.0
2,Bryan Trottier,1.0,1.0,1.0,1.0,NaN,NaN
3,Connor McDavid,2.0,NaN,1.0,NaN,NaN,2.0
4,Daniel Sedin,1.0,NaN,NaN,NaN,NaN,1.0

In [172]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 maurice_richard_grp_df[['Player', 'Maurice Richard Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards
0,Alex Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0,9.0
1,Bobby Orr,2.0,2.0,3.0,1.0,8.0,1.0,NaN
2,Bryan Trottier,1.0,1.0,1.0,1.0,NaN,NaN,NaN
3,Connor McDavid,2.0,NaN,1.0,NaN,NaN,2.0,NaN
4,Daniel Sedin,1.0,NaN,NaN,NaN,NaN,1.0,NaN

In [173]:
awards_merge_df = awards_merge_df.replace("Alex Ovechkin", "Alexander Ovechkin")
awards_merge_df = awards_merge_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
awards_merge_df = awards_merge_df.replace("Evgeni Malkin", "Yevgeni Malkin")
awards_merge_df = awards_merge_df.replace("Johnny Quilty", "John Quilty")
awards_merge_df = awards_merge_df.replace("Ray Bourque", "Raymond Bourque")
awards_merge_df = awards_merge_df.replace("Sweeney Schriner", "David Schriner")
awards_merge_df = awards_merge_df.replace("Tommy Anderson", "Tom Anderson")
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards
0,Alexander Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0,9.0
1,Bobby Orr,2.0,2.0,3.0,1.0,8.0,1.0,NaN
2,Bryan Trottier,1.0,1.0,1.0,1.0,NaN,NaN,NaN
3,Connor McDavid,2.0,NaN,1.0,NaN,NaN,2.0,NaN
4,Daniel Sedin,1.0,NaN,NaN,NaN,NaN,1.0,NaN

In [174]:
# Scrape the data for Stanley Cup wins by player
#from splinter import Browser
#from bs4 import BeautifulSoup
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
from splinter.driver.webdriver import BaseWebDriver, WebDriverElement

In [175]:
options = Options()
options.add_argument('--no-sandbox')
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False, chrome_options=options)

In [176]:
# Set URL to the stanley Cup records page
url = 'https://records.nhl.com/records/playoff-skater-records/stanley-cups/skater-most-stanley-cups-won-career'
browser.visit(url)

In [177]:
# Scrape the data for Stanley Cup wins from the url
my_list = []

for i in range(1, 23):
#     print(i)

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    rows = soup.find_all('div', class_='rt-tr-group')
    for row in rows:
        cells = row.find_all('div', class_='rt-td')

        data = {
            'Player':cells[1].text,
            'Cups':cells[3].text
        }

        my_list.append(data)
    if i < 22:
        browser.find_by_text('Next').click()

my_list

 Leswick', 'Cups': '1'},
 {'Player': 'Don McFadyen', 'Cups': '1'},
 {'Player': 'Johnny Sheppard', 'Cups': '1'},
 {'Player': 'Russ Blinco', 'Cups': '1'},
 {'Player': 'Stewart Evans', 'Cups': '1'},
 {'Player': 'Gus Marker', 'Cups': '1'},
 {'Player': 'Sammy McManus', 'Cups': '1'},
 {'Player': 'Bill Miller', 'Cups': '1'},
 {'Player': 'Baldy Northcott', 'Cups': '1'},
 {'Player': 'Earl Robinson', 'Cups': '1'},
 {'Player': 'Al Shields', 'Cups': '1'},
 {'Player': 'Dave Trottier', 'Cups': '1'},
 {'Player': 'Jimmy Ward', 'Cups': '1'},
 {'Player': 'Cy Wentworth', 'Cups': '1'},
 {'Player': 'John Gallagher', 'Cups': '1'},
 {'Player': 'Howie Mackie', 'Cups': '1'},
 {'Player': 'Rolly Roulston', 'Cups': '1'},
 {'Player': 'John Sherf', 'Cups': '1'},
 {'Player': 'Bert Connelly', 'Cups': '1'},
 {'Player': 'Cully Dahlstrom', 'Cups': '1'},
 {'Player': 'Virgil Johnson', 'Cups': '1'},
 {'Player': 'Bill MacKenzie', 'Cups': '1'},
 {'Player': 'Pete Palangio', 'Cups': '1'},
 {'Player': 'Jack Shill', 'Cups': '1'},
 {'Player': 'Carl Voss', 'Cups': '1'},
 {'Player': 'Art Wiebe', 'Cups': '1'},
 {'Player': 'Harry Frost', 'Cups': '1'},
 {'Player': 'Red Hamill', 'Cups': '1'},
 {'Player': 'Jack Portland', 'Cups': '1'},
 {'Player': 'Charlie Sands', 'Cups': '1'},
 {'Player': 'Mac Colville', 'Cups': '1'},
 {'Player': 'Neil Colville', 'Cups': '1'},
 {'Player': 'Bryan Hextall Sr.', 'Cups': '1'},
 {'Player': 'Kilby MacDonald', 'Cups': '1'},
 {'Player': 'Lynn Patrick', 'Cups': '1'},
 {'Player': 'Muzz Patrick', 'Cups': '1'},
 {'Player': 'Alf Pike', 'Cups': '1'},
 {'Player': 'Alex Shibicky', 'Cups': '1'},
 {'Player': 'Clint Smith', 'Cups': '1'},
 {'Player': 'Stan Smith', 'Cups': '1'},
 {'Player': 'Pat McReavy', 'Cups': '1'},
 {'Player': 'Terry Reardon', 'Cups': '1'},
 {'Player': 'Jack Shewchuk', 'Cups': '1'},
 {'Player': 'Des Smith', 'Cups': '1'},
 {'Player': 'Eddie Wiseman', 'Cups': '1'},
 {'Player': 'Ernie Dickens', 'Cups': '1'},
 {'Player': 'Gordie Drillon', 'Cups': '1'},
 {'Player': 'Hank Goldup', 'Cups': '1'},
 {'Player': 'Bingo Kampman', 'Cups': '1'},
 {'Player': 'Pete Langelle', 'Cups': '1'},
 {'Player': 'Billy Taylor Sr.', 'Cups': '1'},
 {'Player': 'Adam Brown', 'Cups': '1'},
 {'Player': 'Connie Brown', 'Cups': '1'},
 {'Player': 'Les Douglas', 'Cups': '1'},
 {'Player': 'Joe Fisher', 'Cups': '1'},
 {'Player': 'Don Grosso', 'Cups': '1'},
 {'Player': 'Carl Liscombe', 'Cups': '1'},
 {'Player': 'Alex Motter', 'Cups': '1'},
 {'Player': 'Jimmy Orlando', 'Cups': '1'},
 {'Player': 'Cully Simon', 'Cups': '1'},
 {'Player': 'Eddie Wares', 'Cups': '1'},
 {'Player': 'Gerry Heffernan', 'Cups': '1'},
 {'Player': 'Fern Majeau', 'Cups': '1'},
 {'Player': 'Mike McMahon', 'Cups': '1'},
 {'Player': 'Pete Backor', 'Cups': '1'},
 {'Player': 'Ross Johnstone', 'Cups': '1'},
 {'Player': 'Jack McLean', 'Cups': '1'},
 {'Player': 'Moe Morris', 'Cups': '1'},
 {'Player': "Tom O'Neill", 'Cups': '1'},
 {'Player': 'Joe Benoit', 'Cups': '1'},
 {'Player': 'Frank Eddolls', 'Cups': '1'},
 {'Player': 'Gerry Plamondon', 'Cups': '1'},
 {'Player': 'Ken Reardon', 'Cups': '1'},
 {'Player': 'Bud Poile', 'Cups': '1'},
 {'Player': 'Les Costello', 'Cups': '1'},
 {'Player': 'Phil Samis', 'Cups': '1'},
 {'Player': 'Bob Dawes', 'Cups': '1'},
 {'Player': 'Harry Taylor', 'Cups': '1'},
 {'Player': 'Pete Babando', 'Cups': '1'},
 {'Player': 'Steve Black', 'Cups': '1'},
 {'Player': 'Gerry Couture', 'Cups': '1'},
 {'Player': 'Al Dewsbury', 'Cups': '1'},
 {'Player': 'Lee Fogolin', 'Cups': '1'},
 {'Player': 'George Gee', 'Cups': '1'},
 {'Player': 'Clare Martin', 'Cups': '1'},
 {'Player': 'Jim McFadden', 'Cups': '1'},
 {'Player': 'Doug McKay', 'Cups': '1'},
 {'Player': 'Max McNab', 'Cups': '1'},
 {'Player': 'Larry Wilson', 'Cups': '1'},
 {'Player': 'Hugh Bolton', 'Cups': '1'},
 {'Player': 'Fern Flaman', 'Cups': '1'},
 {'Player': 'Bob Hassard', 'Cups': '1'},
 {'Player': 'Danny Lewicki', 'Cups': '1'},
 {'Player': 'Fred Glover', 'Cups': '1'},
 {'Player': 'Enio Sclisizzi', 'Cups': '1'},
 {'Player': 'Larry Zeidel', 'Cups': '1'},
 {'Player': 'Lorne Davis', 'Cups': '1'},
 {'Player': 'Dick Gamble', 'Cups': '1'},
 {'Player': 'Calum MacKay', 'Cups': '1'},
 {'Player': 'Bud MacPherson', 'Cups': '1'},
 {'Player': 'Paul Masnick', 'Cups': '1'},
 {'Player': 'Eddie Mazur', 'Cups': '1'},
 {'Player': 'Paul Meger', 'Cups': '1'},
 {'Player': 'Keith Allen', 'Cups': '1'},
 {'Player': 'Gilles Dube', 'Cups': '1'},
 {'Player': 'Earl Johnson', 'Cups': '1'},
 {'Player': 'Jim Hay', 'Cups': '1'},
 {'Player': 'Ian Cushenan', 'Cups': '1'},
 {'Player': 'Earl Balfour', 'Cups': '1'},
 {'Player': 'Murray Balfour', 'Cups': '1'},
 {'Player': 'Jack Evans', 'Cups': '1'},
 {'Player': 'Reg Fleming', 'Cups': '1'},
 {'Player': 'Bill Hay', 'Cups': '1'},
 {'Player': 'Wayne Hicks', 'Cups': '1'},
 {'Player': 'Wayne Hillman', 'Cups': '1'},
 {'Player': 'Bobby Hull', 'Cups': '1'},
 {'Player': 'Chico Maki', 'Cups': '1'},
 {'Player': 'Stan Mikita', 'Cups': '1'},
 {'Player': 'Eric Nesterenko', 'Cups': '1'},
 {'Player': 'Pierre Pilote', 'Cups': '1'},
 {'Player': 'Moose Vasko', 'Cups': '1'},
 {'Player': 'Kenny Wharram', 'Cups': '1'},
 {'Player': 'Andy Bathgate', 'Cups': '1'},
 {'Player': 'Gerry Ehman', 'Cups': '1'},
 {'Player': 'Don McKenney', 'Cups': '1'},
 {'Player': 'Red Berenson', 'Cups': '1'},
 {'Player': 'Jean Gauthier', 'Cups': '1'},
 {'Player': 'Garry Peters', 'Cups': '1'},
 {'Player': 'Noel Picard', 'Cups': '1'},
 {'Player': 'Bryan Watson', 'Cups': '1'},
 {'Player': 'Noel Price', 'Cups': '1'},
 {'Player': 'John Brenneman', 'Cups': '1'},
 {'Player': 'Brian Conacher', 'Cups': '1'},
 {'Player': 'Ron Ellis', 'Cups': '1'},
 {'Player': 'Aut Erickson', 'Cups': '1'},
 {'Player': 'Larry Jeffrey', 'Cups': '1'},
 {'Player': 'Milan Marcetta', 'Cups': '1'},
 {'Player': 'Pete Stemkowski', 'Cups': '1'},
 {'Player': 'Danny Grant', 'Cups': '1'},
 {'Player': 'Christian Bordeleau', 'Cups': '1'},
 {'Player': 'Ivan Boldirev', 'Cups': '1'},
 {'Player': 'Wayne Carleton', 'Cups': '1'},
 {'Player': 'Gary Doak', 'Cups': '1'},
 {'Player': 'Bill Lesuk', 'Cups': '1'},
 {'Player': 'Jim Lorentz', 'Cups': '1'},
 {'Player': 'Danny Schock', 'Cups': '1'},
 {'Player': 'Rick Smith', 'Cups': '1'},
 {'Player': 'Bill Speer', 'Cups': '1'},
 {'Player': 'Phil Roberto', 'Cups': '1'},
 {'Player': 'Bobby Sheehan', 'Cups': '1'},
 {'Player': 'Barry Ashbee', 'Cups': '1'},
 {'Player': 'Bruce Cowick', 'Cups': '1'},
 {'Player': 'Bill Flett', 'Cups': '1'},
 {'Player': 'Simon Nolet', 'Cups': '1'},
 {'Player': 'Larry Goodenough', 'Cups': '1'},
 {'Player': 'Reggie Leach', 'Cups': '1'},
 {'Player': 'John Van Boxmeer', 'Cups': '1'},
 {'Player': 'Mike Polich', 'Cups': '1'},
 {'Player': 'Cam Connor', 'Cups': '1'},
 {'Player': 'Rod Langway', 'Cups': '1'},
 {'Player': 'Lorne Henning', 'Cups': '1'},
 {'Player': 'Alex McKendry', 'Cups': '1'},
 {'Player': 'Steve Tambellini', 'Cups': '1'},
 {'Player': 'Paul Boutilier', 'Cups': '1'},
 {'Player': 'Mats Hallin', 'Cups': '1'},
 {'Player': 'Pat Conacher', 'Cups': '1'},
 {'Player': 'Ken Linseman', 'Cups': '1'},
 {'Player': 'Larry Melnyk', 'Cups': '1'},
 {'Player': 'Serge Boisvert', 'Cups': '1'},
 {'Player': 'Kjell Dahlin', 'Cups': '1'},
 {'Player': 'Lucien DeBlois', 'Cups': '1'},
 {'Player': 'Gaston Gingras', 'Cups': '1'},
 {'Player': 'Rick Green', 'Cups': '1'},
 {'Player': 'John Kordic', 'Cups': '1'},
 {'Player': 'Tom Kurvers', 'Cups': '1'},
 {'Player': 'Mike Lalor', 'Cups': '1'},
 {'Player': 'David Maley', 'Cups': '1'},
 {'Player': 'Mike McPhee', 'Cups': '1'},
 {'Player': 'Mats Naslund', 'Cups': '1'},
 {'Player': 'Chris Nilan', 'Cups': '1'},
 {'Player': 'Steve Rooney', 'Cups': '1'},
 {'Player': 'Bobby Smith', 'Cups': '1'},
 {'Player': 'Petr Svoboda', 'Cups': '1'},
 {'Player': 'Ryan Walter', 'Cups': '1'},
 {'Player': 'Moe Lemay', 'Cups': '1'},
 {'Player': 'Kent Nilsson', 'Cups': '1'},
 {'Player': 'Keith Acton', 'Cups': '1'},
 {'Player': 'Geoff Courtnall', 'Cups': '1'},
 {'Player': 'Normand Lacombe', 'Cups': '1'},
 {'Player': 'Theo Fleury', 'Cups': '1'},
 {'Player': 'Doug Gilmour', 'Cups': '1'},
 {'Player': 'Mark Hunter', 'Cups': '1'},
 {'Player': 'Tim Hunter', 'Cups': '1'},
 {'Player': 'Hakan Loob', 'Cups': '1'},
 {'Player': 'Al MacInnis', 'Cups': '1'},
 {'Player': 'Brian MacLellan', 'Cups': '1'},
 {'Player': 'Brad McCrimmon', 'Cups': '1'},
 {'Player': 'Lanny McDonald', 'Cups': '1'},
 {'Player': 'Dana Murzyn', 'Cups': '1'},
 {'Player': 'Ric Nattress', 'Cups': '1'},
 {'Player': 'Joel Otto', 'Cups': '1'},
 {'Player': 'Colin Patterson', 'Cups': '1'},
 {'Player': 'Jim Peplinski', 'Cups': '1'},
 {'Player': 'Gary Roberts', 'Cups': '1'},
 {'Player': 'Gary Suter', 'Cups': '1'},
 {'Player': 'Dave Brown', 'Cups': '1'},
 {'Player': 'Martin Gelinas', 'Cups': '1'},
 {'Player': 'Petr Klima', 'Cups': '1'},
 {'Player': 'Mark Lamb', 'Cups': '1'},
 {'Player': 'Joe Murphy', 'Cups': '1'},
 {'Player': 'Geoff Smith', 'Cups': '1'},
 {'Player': 'Randy Gilhen', 'Cups': '1'},
 {'Player': 'Randy Hillier', 'Cups': '1'},
 {'Player': 'Barry Pederson', 'Cups': '1'},
 {'Player': 'Jock Callander', 'Cups': '1'},
 {'Player': 'Jeff Chychrun', 'Cups': '1'},
 {'Player': 'Jeff Daniels', 'Cups': '1'},
 {'Player': 'Jamie Leach', 'Cups': '1'},
 {'Player': 'Shawn McEachern', 'Cups': '1'},
 {'Player': 'David Michayluk', 'Cups': '1'},
 {'Player': 'Michael Needham', 'Cups': '1'},
 {'Player': 'Ken Priestlay', 'Cups': '1'},
 {'Player': 'Kjell Samuelsson', 'Cups': '1'},
 {'Player': 'Rick Tocchet', 'Cups': '1'},
 {'Player': 'Jesse Belanger', 'Cups': '1'},
 {'Player': 'Brian Bellows', 'Cups': '1'},
 {'Player': 'Patrice Brisebois', 'Cups': '1'},
 {'Player': 'Benoit Brunet', 'Cups': '1'},
 {'Player': 'J.J. Daigneault', 'Cups': '1'},
 {'Player': 'Vincent Damphousse', 'Cups': '1'},
 {'Player': 'Eric Desjardins', 'Cups': '1'},
 {'Player': 'Paul Di Pietro', 'Cups': '1'},
 {'Player': 'Gilbert Dionne', 'Cups': '1'},
 {'Player': 'Donald Dufresne', 'Cups': '1'},
 {'Player': 'Todd Ewen', 'Cups': '1'},
 {'Player': 'Kevin Haller', 'Cups': '1'},
 {'Player': 'Sean Hill', 'Cups': '1'},
 {'Player': 'Stephan Lebeau', 'Cups': '1'},
 {'Player': 'John LeClair', 'Cups': '1'},
 {'Player': 'Gary Leeman', 'Cups': '1'},
 {'Player': 'Kirk Muller', 'Cups': '1'},
 {'Player': 'Lyle Odelein', 'Cups': '1'},
 {'Player': 'Mario Roberge', 'Cups': '1'},
 {'Player': 'Ed Ronan', 'Cups': '1'},
 {'Player': 'Denis Savard', 'Cups': '1'},
 {'Player': 'Mathieu Schneider', 'Cups': '1'},
 {'Player': 'Mike Hartman', 'Cups': '1'},
 {'Player': 'Mike Hudson', 'Cups': '1'},
 {'Player': 'Alexander Karpovtsev', 'Cups': '1'},
 {'Player': 'Alex Kovalev', 'Cups': '1'},
 {'Player': 'Nick Kypreos', 'Cups': '1'},
 {'Player': 'Steve Larmer', 'Cups': '1'},
 {'Player': 'Brian Leetch', 'Cups': '1'},
 {'Player': 'Doug Lidster', 'Cups': '1'},
 {'Player': 'Stephane Matteau', 'Cups': '1'},
 {'Player': 'Brian Noonan', 'Cups': '1'},
 {'Player': 'Eddie Olczyk', 'Cups': '1'},
 {'Player': 'Jay Wells', 'Cups': '1'},
 {'Player': 'Neal Broten', 'Cups': '1'},
 {'Player': 'Bobby Carpenter', 'Cups': '1'},
 {'Player': 'Tom Chorske', 'Cups': '1'},
 {'Player': 'Danton Cole', 'Cups': '1'},
 {'Player': 'Kevin Dean', 'Cups': '1'},
 {'Player': 'Jim Dowd', 'Cups': '1'},
 {'Player': 'Bruce Driver', 'Cups': '1'},
 {'Player': 'John MacLean', 'Cups': '1'},
 {'Player': 'Chris McAlpine', 'Cups': '1'},
 {'Player': 'Mike Peluso', 'Cups': '1'},
 {'Player': 'Brian Rolston', 'Cups': '1'},
 {'Player': 'Valeri Zelepukin', 'Cups': '1'},
 {'Player': 'Rene Corbet', 'Cups': '1'},
 {'Player': 'Adam Deadmarsh', 'Cups': '1'},
 {'Player': 'Alexei Gusarov', 'Cups': '1'},
 {'Player': 'Valeri Kamensky', 'Cups': '1'},
 {'Player': 'Uwe Krupp', 'Cups': '1'},
 {'Player': 'Sylvain Lefebvre', 'Cups': '1'},
 {'Player': 'Curtis Leschyshyn', 'Cups': '1'},
 {'Player': 'Troy Murray', 'Cups': '1'},
 {'Player': 'Sandis Ozolinsh', 'Cups': '1'},
 {'Player': 'Mike Ricci', 'Cups': '1'},
 {'Player': 'Warren Rychel', 'Cups': '1'},
 {'Player': 'Chris Simon', 'Cups': '1'},
 {'Player': 'Craig Wolanin', 'Cups': '1'},
 {'Player': 'Jamie Pushor', 'Cups': '1'},
 {'Player': 'Tomas Sandstrom', 'Cups': '1'},
 {'Player': 'Anders Eriksson', 'Cups': '1'},
 {'Player': 'Brent Gilchrist', 'Cups': '1'},
 {'Player': 'Mike Knuble', 'Cups': '1'},
 {'Player': 'Dmitri Mironov', 'Cups': '1'},
 {'Player': 'Derian Hatcher', 'Cups': '1'},
 {'Player': 'Benoit Hogue', 'Cups': '1'},
 {'Player': 'Tony Hrkac', 'Cups': '1'},
 {'Player': 'Jere Lehtinen', 'Cups': '1'},
 {'Player': 'Richard Matvichuk', 'Cups': '1'},
 {'Player': 'Mike Modano', 'Cups': '1'},
 {'Player': 'Derek Plante', 'Cups': '1'},
 {'Player': 'Brent Severyn', 'Cups': '1'},
 {'Player': 'Jon Sim', 'Cups': '1'},
 {'Player': 'Blake Sloan', 'Cups': '1'},
 {'Player': 'Pat Verbeek', 'Cups': '1'},
 {'Player': 'Jason Arnott', 'Cups': '1'},
 {'Player': 'Brad Bombardir', 'Cups': '1'},
 {'Player': 'Steve Brule', 'Cups': '1'},
 {'Player': 'Steve Kelly', 'Cups': '1'},
 {'Player': 'Vladimir Malakhov', 'Cups': '1'},
 {'Player': 'Alexander Mogilny', 'Cups': '1'},
 {'Player': 'Krzysztof Oliwa', 'Cups': '1'},
 {'Player': 'Ken Sutton', 'Cups': '1'},
 {'Player': 'Rob Blake', 'Cups': '1'},
 {'Player': 'Ray Bourque', 'Cups': '1'},
 {'Player': 'Greg De Vries', 'Cups': '1'},
 {'Player': 'Chris Drury', 'Cups': '1'},
 {'Player': 'Milan Hejduk', 'Cups': '1'},
 {'Player': 'Dan Hinote', 'Cups': '1'},
 {'Player': 'Eric Messier', 'Cups': '1'},
 {'Player': 'Bryan Muir', 'Cups': '1'},
 {'Player': 'Ville Nieminen', 'Cups': '1'},
 {'Player': 'Scott Parker', 'Cups': '1'},
 {'Player': 'Shjon Podein', 'Cups': '1'},
 {'Player': 'Steve Reinprecht', 'Cups': '1'},
 {'Player': 'Martin Skoula', 'Cups': '1'},
 {'Player': 'Alex Tanguay', 'Cups': '1'},
 {'Player': 'Boyd Devereaux', 'Cups': '1'},
 {'Player': 'Steve Duchesne', 'Cups': '1'},
 {'Player': 'Jiri Fischer', 'Cups': '1'},
 {'Player': 'Fredrik Olausson', 'Cups': '1'},
 {'Player': 'Luc Robitaille', 'Cups': '1'},
 {'Player': 'Jiri Slegr', 'Cups': '1'},
 {'Player': 'Jason Williams', 'Cups': '1'},
 {'Player': 'Jiri Bicek', 'Cups': '1'},
 {'Player': 'Jeff Friesen', 'Cups': '1'},
 {'Player': 'Brian Gionta', 'Cups': '1'},
 {'Player': 'Jim McKenzie', 'Cups': '1'},
 {'Player': 'Pascal Rheaume', 'Cups': '1'},
 {'Player': 'Mike Rupp', 'Cups': '1'},
 {'Player': 'Richard Smehlik', 'Cups': '1'},
 {'Player': 'Turner Stevenson', 'Cups': '1'},
 {'Player': 'Dimitri Afanasenkov', 'Cups': '1'},
 {'Player': 'Dave Andreychuk', 'Cups': '1'},
 {'Player': 'Dan Boyle', 'Cups': '1'},
 {'Player': 'Martin Cibak', 'Cups': '1'},
 {'Player': 'Ben Clymer', 'Cups': '1'},
 {'Player': 'Jassen Cullimore', 'Cups': '1'},
 {'Player': 'Pavel Kubina', 'Cups': '1'},
 {'Player': 'Vincent Lecavalier', 'Cups': '1'},
 {'Player': 'Brad Lukowich', 'Cups': '1'},
 {'Player': 'Freddy Modin', 'Cups': '1'},
 {'Player': 'Stan Neckar', 'Cups': '1'},
 {'Player': 'Eric Perrin', 'Cups': '1'},
 {'Player': 'Andre Roy', 'Cups': '1'},
 {'Player': 'Darren Rumble', 'Cups': '1'},
 {'Player': 'Cory Sarich', 'Cups': '1'},
 {'Player': 'Martin St. Louis', 'Cups': '1'},
 {'Player': 'Kevyn Adams', 'Cups': '1'},
 {'Player': 'Anton Babchuk', 'Cups': '1'},
 {'Player': "Rod Brind'Amour", 'Cups': '1'},
 {'Player': 'Erik Cole', 'Cups': '1'},
 {'Player': 'Mike Commodore', 'Cups': '1'},
 {'Player': 'Bret Hedican', 'Cups': '1'},
 {'Player': 'Andrew Hutchinson', 'Cups': '1'},
 {'Player': 'Frantisek Kaberle', 'Cups': '1'},
 {'Player': 'Chad LaRose', 'Cups': '1'},
 {'Player': 'Eric Staal', 'Cups': '1'},
 {'Player': 'Josef Vasicek', 'Cups': '1'},
 {'Player': 'Niclas Wallin', 'Cups': '1'},
 {'Player': 'Doug Weight', 'Cups': '1'},
 {'Player': 'Glen Wesley', 'Cups': '1'},
 {'Player': 'Ray Whitney', 'Cups': '1'},
 {'Player': 'Francois Beauchemin', 'Cups': '1'},
 {'Player': 'Ryan Carter', 'Cups': '1'},
 {'Player': 'Joe DiPenta', 'Cups': '1'},
 {'Player': 'Ryan Getzlaf', 'Cups': '1'},
 {'Player': 'Kent Huskins', 'Cups': '1'},
 {'Player': 'Ric Jackman', 'Cups': '1'},
 {'Player': 'Todd Marchant', 'Cups': '1'},
 {'Player': 'Brad May', 'Cups': '1'},
 {'Player': 'Andy McDonald', 'Cups': '1'},
 {'Player': 'Drew Miller', 'Cups': '1'},
 {'Player': 'Travis Moen', 'Cups': '1'},
 {'Player': 'Joe Motzko', 'Cups': '1'},
 {'Player': 'Rob Niedermayer', 'Cups': '1'},
 {'Player': "Sean O'Donnell", 'Cups': '1'},
 {'Player': 'Samuel Pahlsson', 'Cups': '1'},
 {'Player': 'George Parros', 'Cups': '1'},
 {'Player': 'Corey Perry', 'Cups': '1'},
 {'Player': 'Chris Pronger', 'Cups': '1'},
 {'Player': 'Teemu Selanne', 'Cups': '1'},
 {'Player': 'Ryan Shannon', 'Cups': '1'},
 {'Player': 'Daniel Cleary', 'Cups': '1'},
 {'Player': 'Aaron Downey', 'Cups': '1'},
 {'Player': 'Dallas Drake', 'Cups': '1'},
 {'Player': 'Valtteri Filppula', 'Cups': '1'},
 {'Player': 'Johan Franzen', 'Cups': '1'},
 {'Player': 'Darren Helm', 'Cups': '1'},
 {'Player': 'Jiri Hudler', 'Cups': '1'},
 {'Player': 'Niklas Kronwall', 'Cups': '1'},
 {'Player': 'Brett Lebda', 'Cups': '1'},
 {'Player': 'Andreas Lilja', 'Cups': '1'},
 {'Player': 'Derek Meech', 'Cups': '1'},
 {'Player': 'Mikael Samuelsson', 'Cups': '1'},
 {'Player': 'Brad Stuart', 'Cups': '1'},
 {'Player': 'Henrik Zetterberg', 'Cups': '1'},
 {'Player': 'Philippe Boucher', 'Cups': '1'},
 {'Player': 'Matt Cooke', 'Cups': '1'},
 {'Player': 'Mark Eaton', 'Cups': '1'},
 {'Player': 'Hal Gill', 'Cups': '1'},
 {'Player': 'Eric Godard', 'Cups': '1'},
 {'Player': 'Alex Goligoski', 'Cups': '1'},
 {'Player': 'Sergei Gonchar', 'Cups': '1'},
 {'Player': 'Tyler Kennedy', 'Cups': '1'},
 {'Player': 'Miroslav Satan', 'Cups': '1'},
 {'Player': 'Jordan Staal', 'Cups': '1'},
 {'Player': 'Max Talbot', 'Cups': '1'},
 {'Player': 'Michael Zigomanis', 'Cups': '1'},
 {'Player': 'Nick Boynton', 'Cups': '1'},
 {'Player': 'Troy Brouwer', 'Cups': '1'},
 {'Player': 'Adam Burish', 'Cups': '1'},
 {'Player': 'Dustin Byfuglien', 'Cups': '1'},
 {'Player': 'Brian Campbell', 'Cups': '1'},
 {'Player': 'Ben Eager', 'Cups': '1'},
 {'Player': 'Jordan Hendry', 'Cups': '1'},
 {'Player': 'Brent Sopel', 'Cups': '1'},
 {'Player': 'Patrice Bergeron', 'Cups': '1'},
 {'Player': 'Johnny Boychuk', 'Cups': '1'},
 {'Player': 'Gregory Campbell', 'Cups': '1'},
 {'Player': 'Zdeno Chara', 'Cups': '1'},
 {'Player': 'Andrew Ference', 'Cups': '1'},
 {'Player': 'Nathan Horton', 'Cups': '1'},
 {'Player': 'Tomas Kaberle', 'Cups': '1'},
 {'Player': 'Chris Kelly', 'Cups': '1'},
 {'Player': 'David Krejci', 'Cups': '1'},
 {'Player': 'Milan Lucic', 'Cups': '1'},
 {'Player': 'Brad Marchand', 'Cups': '1'},
 {'Player': 'Adam McQuaid', 'Cups': '1'},
 {'Player': 'Daniel Paille', 'Cups': '1'},
 {'Player': 'Rich Peverley', 'Cups': '1'},
 {'Player': 'Michael Ryder', 'Cups': '1'},
 {'Player': 'Marc Savard', 'Cups': '1'},
 {'Player': 'Tyler Seguin', 'Cups': '1'},
 {'Player': 'Dennis Seidenberg', 'Cups': '1'},
 {'Player': 'Davis Drewiske', 'Cups': '1'},
 {'Player': 'Simon Gagne', 'Cups': '1'},
 {'Player': 'Brad Richardson', 'Cups': '1'},
 {'Player': 'Kevin Westgarth', 'Cups': '1'},
 {'Player': 'Brandon Bollig', 'Cups': '1'},
 {'Player': 'Sheldon Brookbank', 'Cups': '1'},
 {'Player': 'Michael Frolik', 'Cups': '1'},
 {'Player': 'Michal Handzus', 'Cups': '1'},
 {'Player': 'Nick Leddy', 'Cups': '1'},
 {'Player': 'Jamal Mayers', 'Cups': '1'},
 {'Player': 'Ben Smith', 'Cups': '1'},
 {'Player': 'Viktor Stalberg', 'Cups': '1'},
 {'Player': 'Marian Gaborik', 'Cups': '1'},
 {'Player': 'Jake Muzzin', 'Cups': '1'},
 {'Player': 'Tanner Pearson', 'Cups': '1'},
 {'Player': 'Robyn Regehr', 'Cups': '1'},
 {'Player': 'Jeff Schultz', 'Cups': '1'},
 {'Player': 'Tyler Toffoli', 'Cups': '1'},
 {'Player': 'Kyle Cumiskey', 'Cups': '1'},
 {'Player': 'Andrew Desjardins', 'Cups': '1'},
 {'Player': 'Joakim Nordstrom', 'Cups': '1'},
 {'Player': 'David Rundblad', 'Cups': '1'},
 {'Player': 'Teuvo Teravainen', 'Cups': '1'},
 {'Player': 'Kimmo Timonen', 'Cups': '1'},
 {'Player': 'Trevor van Riemsdyk', 'Cups': '1'},
 {'Player': 'Antoine Vermette', 'Cups': '1'},
 {'Player': 'Eric Fehr', 'Cups': '1'},
 {'Player': 'Ben Lovejoy', 'Cups': '1'},
 {'Player': 'Kevin Porter', 'Cups': '1'},
 {'Player': 'Josh Archibald', 'Cups': '1'},
 {'Player': 'Jake Guentzel', 'Cups': '1'},
 {'Player': 'Ron Hainsey', 'Cups': '1'},
 ...]

In [178]:
# Convert the list to a dataframe
stanley_cup_df = pd.DataFrame(my_list)
stanley_cup_df.head()

            Player Cups
0    Henri Richard   11
1    Jean Beliveau   10
2   Yvan Cournoyer   10
3   Claude Provost    9
4  Maurice Richard    8

In [179]:
# Change names to match the master stats
stanley_cup_df = stanley_cup_df.replace("Alex Ovechkin", "Alexander Ovechkin")
stanley_cup_df = stanley_cup_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
stanley_cup_df = stanley_cup_df.replace("Evgeni Malkin", "Yevgeni Malkin")
stanley_cup_df = stanley_cup_df.replace("Johnny Quilty", "John Quilty")
stanley_cup_df = stanley_cup_df.replace("Ray Bourque", "Raymond Bourque")
stanley_cup_df = stanley_cup_df.replace("Sweeney Schriner", "David Schriner")
stanley_cup_df = stanley_cup_df.replace("Tommy Anderson", "Tom Anderson")
stanley_cup_df = stanley_cup_df.replace("Bob Sirois", "Robert Sirois")
stanley_cup_df = stanley_cup_df.replace("Bobby Nystrom", "Bob Nystrom")
stanley_cup_df = stanley_cup_df.replace("Bucky Hollingworth", "Gord Hollingworth")
stanley_cup_df = stanley_cup_df.replace("Daniel Girardi", "Dan Girardi")
stanley_cup_df = stanley_cup_df.replace("Dollard St. Laurent", "Dollard St-Laurent")
stanley_cup_df = stanley_cup_df.replace("Evgeny Kuznetsov", "Yevgeni Kuznetsov")
stanley_cup_df = stanley_cup_df.replace("Fern Flaman", "Fernie Flaman")
stanley_cup_df = stanley_cup_df.replace("George 'Hully' Gee", "George Gee")
stanley_cup_df = stanley_cup_df.replace("Hubert 'Pit' Martin", "Pit Martin")
stanley_cup_df = stanley_cup_df.replace("J.C. Tremblay", "Jean-Claude Tremblay")
stanley_cup_df = stanley_cup_df.replace("Jack Leclair", "Jackie LeClair")
stanley_cup_df = stanley_cup_df.replace("Joshua Bailey", "Josh Bailey")
stanley_cup_df = stanley_cup_df.replace("Kenny Mosdell", "Ken Mosdell")
stanley_cup_df = stanley_cup_df.replace("Kristopher Letang", "Kris Letang")
stanley_cup_df = stanley_cup_df.replace("Leonard 'Red' Kelly", "Red Kelly")
stanley_cup_df = stanley_cup_df.replace("Nicholas Boynton", "Nick Boynton")
stanley_cup_df = stanley_cup_df.replace("Nick Libett", "Lynn Libett")
stanley_cup_df = stanley_cup_df.replace("Oliver Ekman-Larsson", "Oliver Ekman Larsson")
stanley_cup_df = stanley_cup_df.replace("Quinton Hughes", "Quinn Hughes")
stanley_cup_df = stanley_cup_df.replace("Red Sullivan", "George Sullivan")
stanley_cup_df = stanley_cup_df.replace("Reg Fleming", "Reggie Fleming")
stanley_cup_df = stanley_cup_df.replace("Reg Sinclair", "Reggie Sinclair")
stanley_cup_df = stanley_cup_df.replace("Ron 'Chico' Maki", "Chico Maki")
stanley_cup_df = stanley_cup_df.replace("Sandis Ozolinsh", "Sandis Ozolins")
stanley_cup_df = stanley_cup_df.replace("Theoren Fleury", "Theo Fleury")
stanley_cup_df = stanley_cup_df.replace("Willie Huber", "William Huber")
stanley_cup_df = stanley_cup_df.replace("Zachary Werenski", "Zach Werenski")
stanley_cup_df = stanley_cup_df.replace("Al Langlois", "Albert Langlois")
stanley_cup_df = stanley_cup_df.replace("Al Shields", "Allan Shields")
stanley_cup_df = stanley_cup_df.replace("Alex Kovalev", "Alexei Kovalev")
stanley_cup_df = stanley_cup_df.replace("Aurel Joliat", "Aurele Joliat")
stanley_cup_df = stanley_cup_df.replace("Baldy Cotton", "Harold Cotton")
stanley_cup_df = stanley_cup_df.replace("Billy Boyd", "Bill Boyd")
stanley_cup_df = stanley_cup_df.replace("Billy Taylor Sr.", "Billy Taylor")
stanley_cup_df = stanley_cup_df.replace("Bingo Kampman", "Rudolph Kampman")
stanley_cup_df = stanley_cup_df.replace("Bob Fillion", "Robert Fillion")
stanley_cup_df = stanley_cup_df.replace("Bryan Hextall Sr.", "Bryan Hextall, Sr.")
stanley_cup_df = stanley_cup_df.replace("Butch Bouchard", "Emile Bouchard")
stanley_cup_df = stanley_cup_df.replace("Connie Broden", "Connell Broden")
stanley_cup_df = stanley_cup_df.replace("David Michayluk", "Dave Michayluk")
stanley_cup_df = stanley_cup_df.replace("Dimitri Afanasenkov", "Dmitri Afanasenkov")
stanley_cup_df = stanley_cup_df.replace("Dmitry Orlov", "Dmitri Orlov")
stanley_cup_df = stanley_cup_df.replace("Donnie Marshall", "Don Marshall")
stanley_cup_df = stanley_cup_df.replace("Dutch Gainor", "Norman Gainor")
stanley_cup_df = stanley_cup_df.replace("Dutch Hiller", "Wilbert Hiller")
stanley_cup_df = stanley_cup_df.replace("Dutch Reibel", "Earl Reibel")
stanley_cup_df = stanley_cup_df.replace("Ed Gorman", "Edwin Gorman")
stanley_cup_df = stanley_cup_df.replace("Eddie Olczyk", "Ed Olczyk")
stanley_cup_df = stanley_cup_df.replace("Fern Majeau", "Fernand Majeau")
stanley_cup_df = stanley_cup_df.replace("Frank Callighen", "Francis Callighen")
stanley_cup_df = stanley_cup_df.replace("Fred Cook", "Bun Cook")
stanley_cup_df = stanley_cup_df.replace("Freddy Modin", "Fredrik Modin")
stanley_cup_df = stanley_cup_df.replace("George Boucher", "Buck Boucher")
stanley_cup_df = stanley_cup_df.replace("Gord Pettinger", "Gordon Pettinger")
stanley_cup_df = stanley_cup_df.replace("Hobie Kitchen", "Chapman Kitchen")
stanley_cup_df = stanley_cup_df.replace("Ivan Barbashev", "Ivan Barbashyov")
stanley_cup_df = stanley_cup_df.replace("J.C. Tremblay", "Jean-Claude Tremblay")
stanley_cup_df = stanley_cup_df.replace("J.J. Daigneault", "Jean-Jacques Daigneault")
stanley_cup_df = stanley_cup_df.replace("Jimmy Peters", "Jim Peters")
stanley_cup_df = stanley_cup_df.replace("Johnny Sheppard", "John Sheppard")
stanley_cup_df = stanley_cup_df.replace("Lou Trudel", "Louis Trudel")
stanley_cup_df = stanley_cup_df.replace("Max Talbot", "Maxime Talbot")
stanley_cup_df = stanley_cup_df.replace("Michael Needham", "Mike Needham")
stanley_cup_df = stanley_cup_df.replace("Michael Zigomanis", "Mike Zigomanis")
stanley_cup_df = stanley_cup_df.replace("Mikhail Sergachev", "Mikhail Sergachyov")
stanley_cup_df = stanley_cup_df.replace("Moe Lemay", "Maurice Lemay")
stanley_cup_df = stanley_cup_df.replace("Moe Morris", "Elwyn Morris")
stanley_cup_df = stanley_cup_df.replace("Moose Vasko", "Elmer Vasko")
stanley_cup_df = stanley_cup_df.replace("Murph Chamberlain", "Erwin Chamberlain")
stanley_cup_df = stanley_cup_df.replace("Muzz Patrick", "Murray Patrick")
stanley_cup_df = stanley_cup_df.replace("Ott Heller", "Ehrhardt Heller")
stanley_cup_df = stanley_cup_df.replace("Paul Di Pietro", "Paul DiPietro")
stanley_cup_df = stanley_cup_df.replace("Peter Mahovlich", "Pete Mahovlich")
stanley_cup_df = stanley_cup_df.replace("Pit Lepine", "Alfred Lepine")
stanley_cup_df = stanley_cup_df.replace("Punch Broadbent", "Harry Broadbent")
stanley_cup_df = stanley_cup_df.replace("Sam Rothschild", "Samuel Rothschild")
stanley_cup_df = stanley_cup_df.replace("Sammy Blais", "Samuel Blais")
stanley_cup_df = stanley_cup_df.replace("Slava Voynov", "Vyacheslav Voynov")
stanley_cup_df = stanley_cup_df.replace("Stan Neckar", "Stanislav Neckar")
stanley_cup_df = stanley_cup_df.replace("Steve Reinprecht", "Steven Reinprecht")
stanley_cup_df = stanley_cup_df.replace("Viacheslav Fetisov", "Vyacheslav Fetisov")
stanley_cup_df.head()

            Player Cups
0    Henri Richard   11
1    Jean Beliveau   10
2   Yvan Cournoyer   10
3   Claude Provost    9
4  Maurice Richard    8

In [180]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 stanley_cup_df[['Player', 'Cups']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups
0,Alexander Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0,9.0,1
1,Bobby Orr,2.0,2.0,3.0,1.0,8.0,1.0,NaN,2
2,Bryan Trottier,1.0,1.0,1.0,1.0,NaN,NaN,NaN,6
3,Connor McDavid,2.0,NaN,1.0,NaN,NaN,2.0,NaN,NaN
4,Daniel Sedin,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [181]:
awards_merge_df.dtypes

Player                     object
Art Ross Awards           float64
Conn Smythe Awards        float64
Hart Awards               float64
Calder Awards             float64
James Norris Awards       float64
Ted Lindsay Awards        float64
Maurice Richard Awards    float64
Cups                       object
dtype: object

In [182]:
# Scrape data for all-star game appearances.
all_star_tables = []

for page in range(1,19):
    url = f'https://www.quanthockey.com/scripts/AjaxPaginate.php?cat=Records&pos=Players&SS=&af=0&nat=alltime&st=5&sort=points&so=&page={page}&league=NHL%20All-Star%20Game&lang=en&rnd=651834569&dt=1&sd=undefined&ed=undefined'

    print('page:', page, '-------------')

    # find the table
    table = pd.read_html(url)
    df = table[0]
    # delete unneeded column
    del df['Unnamed: 1']
    # convert games played column to integer
    df['GP'] = df['GP'].astype(int)
    all_star_tables.append(df)
    
print("Scraping completed!")

page: 1 -------------
page: 2 -------------
page: 3 -------------
page: 4 -------------
page: 5 -------------
page: 6 -------------
page: 7 -------------
page: 8 -------------
page: 9 -------------
page: 10 -------------
page: 11 -------------
page: 12 -------------
page: 13 -------------
page: 14 -------------
page: 15 -------------
page: 16 -------------
page: 17 -------------
page: 18 -------------
Scraping completed!

In [183]:
all_star_df = pd.concat(all_star_tables, ignore_index=True)
all_star_df.head()

,Rk,Name,Born,Pos,GP,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0.0,0.0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0.0,0.0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0.0,0.0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6.0,1.0,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0.0,0.0,2,0.400,0.867,1.267

In [184]:
# Change all special characters to standard characters to match master stat file
cols_to_check = ['Name']
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'a'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'i'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'a'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'c'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'a'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'E'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'A'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'e'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'e'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'i'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'ss'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'u'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'y'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'O'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'e'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'s'}, regex=True)

all_star_df.head()

,Rk,Name,Born,Pos,GP,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0.0,0.0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0.0,0.0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0.0,0.0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6.0,1.0,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0.0,0.0,2,0.400,0.867,1.267

In [185]:
# Rename the Name column to Player to match other dataframes
all_star_df = all_star_df.rename(columns={"Name": "Player", 'GP': 'All-Star Games'})
all_star_df.head()

,Rk,Player,Born,Pos,All-Star Games,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0.0,0.0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0.0,0.0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0.0,0.0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6.0,1.0,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0.0,0.0,2,0.400,0.867,1.267

In [186]:
# Drop columns that are not needed
all_star_df = all_star_df.drop(['Rk', 'Born', 'Pos', 'G', 'A', 'P', 'PIM', '+/-', 'PPG', 'SHG',
                                 'GWG', 'G/GP', 'A/GP', 'P/GP'], axis=1)
all_star_df.head()

          Player  All-Star Games
0  Wayne Gretzky              18
1  Mario Lemieux              10
2      Joe Sakic              12
3    Gordie Howe              23
4   Mark Messier              15

In [187]:
# Change names to match the master stat file
all_star_df = all_star_df.replace("Alex Ovechkin", "Alexander Ovechkin")
all_star_df = all_star_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
all_star_df = all_star_df.replace("Evgeni Malkin", "Yevgeni Malkin")
all_star_df = all_star_df.replace("Johnny Quilty", "John Quilty")
all_star_df = all_star_df.replace("Ray Bourque", "Raymond Bourque")
all_star_df = all_star_df.replace("Sweeney Schriner", "David Schriner")
all_star_df = all_star_df.replace("Tommy Anderson", "Tom Anderson")
all_star_df = all_star_df.replace("Bob Sirois", "Robert Sirois")
all_star_df = all_star_df.replace("Bobby Nystrom", "Bob Nystrom")
all_star_df = all_star_df.replace("Bucky Hollingworth", "Gord Hollingworth")
all_star_df = all_star_df.replace("Daniel Girardi", "Dan Girardi")
all_star_df = all_star_df.replace("Dollard St. Laurent", "Dollard St-Laurent")
all_star_df = all_star_df.replace("Evgeny Kuznetsov", "Yevgeni Kuznetsov")
all_star_df = all_star_df.replace("Fern Flaman", "Fernie Flaman")
all_star_df = all_star_df.replace("George 'Hully' Gee", "George Gee")
all_star_df = all_star_df.replace("Hubert 'Pit' Martin", "Pit Martin")
all_star_df = all_star_df.replace("J.C. Tremblay", "Jean-Claude Tremblay")
all_star_df = all_star_df.replace("Jack Leclair", "Jackie LeClair")
all_star_df = all_star_df.replace("Joshua Bailey", "Josh Bailey")
all_star_df = all_star_df.replace("Kenny Mosdell", "Ken Mosdell")
all_star_df = all_star_df.replace("Kristopher Letang", "Kris Letang")
all_star_df = all_star_df.replace("Leonard 'Red' Kelly", "Red Kelly")
all_star_df = all_star_df.replace("Nicholas Boynton", "Nick Boynton")
all_star_df = all_star_df.replace("Nick Libett", "Lynn Libett")
all_star_df = all_star_df.replace("Oliver Ekman-Larsson", "Oliver Ekman Larsson")
all_star_df = all_star_df.replace("Quinton Hughes", "Quinn Hughes")
all_star_df = all_star_df.replace("Red Sullivan", "George Sullivan")
all_star_df = all_star_df.replace("Reg Fleming", "Reggie Fleming")
all_star_df = all_star_df.replace("Reg Sinclair", "Reggie Sinclair")
all_star_df = all_star_df.replace("Ron 'Chico' Maki", "Chico Maki")
all_star_df = all_star_df.replace("Sandis Ozolinsh", "Sandis Ozolins")
all_star_df = all_star_df.replace("Theoren Fleury", "Theo Fleury")
all_star_df = all_star_df.replace("Willie Huber", "William Huber")
all_star_df = all_star_df.replace("Zachary Werenski", "Zach Werenski")
all_star_df.head()

          Player  All-Star Games
0  Wayne Gretzky              18
1  Mario Lemieux              10
2      Joe Sakic              12
3    Gordie Howe              23
4   Mark Messier              15

In [189]:
all_star_df.to_csv("all_star_games.csv", index=False, header=True)

In [137]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 all_star_df,
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,All-Star Games
0,Alexander Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0,9.0,7.0
1,Bobby Orr,2.0,2.0,3.0,1.0,8.0,1.0,NaN,7.0
2,Bryan Trottier,1.0,1.0,1.0,1.0,NaN,NaN,NaN,8.0
3,Connor McDavid,2.0,NaN,1.0,NaN,NaN,2.0,NaN,4.0
4,Daniel Sedin,1.0,NaN,NaN,NaN,NaN,1.0,NaN,3.0

In [ ]:
awards_merge_df['Cups'] = stanley_cup_df

In [190]:
awards_merge_df = pd.merge(awards_merge_df,
                 stanley_cup_df[['Player', 'Cups']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups_x,Cups_y
0,Alexander Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0,9.0,1,1
1,Bobby Orr,2.0,2.0,3.0,1.0,8.0,1.0,NaN,2,2
2,Bryan Trottier,1.0,1.0,1.0,1.0,NaN,NaN,NaN,6,6
3,Connor McDavid,2.0,NaN,1.0,NaN,NaN,2.0,NaN,NaN,NaN
4,Daniel Sedin,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [87]:
# Change all the NaN values to 0 and change numeric columns to integers
awards_merge_df = awards_merge_df.fillna(0)
awards_merge_df = awards_merge_df.astype({"Art Ross Awards":'int', "Conn Smythe Awards":'int', "James Norris Awards":'int',
                    "Maurice Richard Awards":'int', "Calder Awards":'int', "Hart Awards":'int', "Ted Lindsay Awards":"int",
                    'Cups':'int', 'All-Star Games':'int'}) 
awards_merge_df.head()

KeyError: 'Only a column name can be used for the key in a dtype mappings argument.'

In [51]:
awards_merge_df.dtypes

Player                    object
Art Ross Awards            int32
Conn Smythe Awards         int32
Hart Awards                int32
Calder Awards              int32
James Norris Awards        int32
Ted Lindsay Awards         int32
Maurice Richard Awards     int32
Cups                       int32
dtype: object

awards_merge_df.to_csv("Output/merged_awards.csv", index=False, header=True)