Create the file that will show player award, stanley cup wins, and all-star game appearances.

In [8]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time
import requests

NHL Art Ross Trophy Winners,
Award presented to League's scoring champion

In [9]:
# Scrape the data for the Art Ross Award, Scoring Champion
url = f'https://www.nhl.com/news/nhl-art-ross-trophy-winners-complete-list/c-287899824?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Art Ross']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
art_ross_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
art_ross_df['Year'] = art_ross_df['Year'].astype(int)
# filter dataframe 
# art_ross_df = art_ross_df.loc[art_ross_df['Year'] >= 1967,:]
art_ross_df.head()

   Year           Player                 Team     Award
0  2020   Leon Draisaitl      Edmonton Oilers  Art Ross
1  2019  Nikita Kucherov  Tampa Bay Lightning  Art Ross
2  2018   Connor McDavid      Edmonton Oilers  Art Ross
3  2017   Connor McDavid      Edmonton Oilers  Art Ross
4  2016     Patrick Kane   Chicago Blackhawks  Art Ross

In [10]:
# Group the data by the player's name column and count
art_ross_grp_df = art_ross_df.groupby(by="Player", as_index=False).count()
art_ross_grp_df.head()

             Player  Year  Team  Award
0        Ace Bailey     1     1      1
1     Alex Ovechkin     1     1      1
2          Babe Dye     2     2      2
3  Bernie Geoffrion     2     2      2
4         Bill Cook     2     2      2

In [11]:
# Drop columns that are not needed
art_ross_grp_df = art_ross_grp_df.drop(['Team', 'Award'], axis=1)
art_ross_grp_df.head()

             Player  Year
0        Ace Bailey     1
1     Alex Ovechkin     1
2          Babe Dye     2
3  Bernie Geoffrion     2
4         Bill Cook     2

In [12]:
# Rename the year column to the award name
art_ross_grp_df = art_ross_grp_df.rename(columns={"Year": "Art Ross Awards"})
art_ross_grp_df.head()

             Player  Art Ross Awards
0        Ace Bailey                1
1     Alex Ovechkin                1
2          Babe Dye                2
3  Bernie Geoffrion                2
4         Bill Cook                2

In [13]:
# Change names to match the master stats
art_ross_df.replace("Bryan Hextall", "Bryan Hextall, Sr.")
art_ross_grp_df.head()

             Player  Art Ross Awards
0        Ace Bailey                1
1     Alex Ovechkin                1
2          Babe Dye                2
3  Bernie Geoffrion                2
4         Bill Cook                2

NHL Hart Memorial Trophy Winners, Award presente to the regular season MVP.

In [14]:
# Scrape the data for the Hart Memorial Award, League MVP
url = f'https://www.nhl.com/news/nhl-hart-memorial-trophy-winners-complete-list/c-287743272?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Hart Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
hart_memorial_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
hart_memorial_df['Year'] = hart_memorial_df['Year'].astype(int)
# filter dataframe 
# hart_memorial_df = hart_memorial_df.loc[hart_memorial_df['Year'] >= 1967,:]
hart_memorial_df.head()

   Year           Player                 Team          Award
0  2020   Leon Draisaitl      Edmonton Oilers  Hart Memorial
1  2019  Nikita Kucherov  Tampa Bay Lightning  Hart Memorial
2  2018      Taylor Hall    New Jersey Devils  Hart Memorial
3  2017   Connor McDavid      Edmonton Oilers  Hart Memorial
4  2016     Patrick Kane   Chicago Blackhawks  Hart Memorial

In [15]:
# Group the data by the player's name column and count
hart_grp_df = hart_memorial_df.groupby(by="Player", as_index=False).count()
hart_grp_df.head()

          Player  Year  Team  Award
0     Al Rollins     1     1      1
1  Alex Ovechkin     3     3      3
2  Andy Bathgate     1     1      1
3  Aurele Joliat     1     1      1
4     Babe Pratt     1     1      1

In [16]:
# Drop columns that are not needed
hart_grp_df = hart_grp_df.drop(['Team', 'Award'], axis=1)
hart_grp_df.head()

          Player  Year
0     Al Rollins     1
1  Alex Ovechkin     3
2  Andy Bathgate     1
3  Aurele Joliat     1
4     Babe Pratt     1

In [17]:
# Rename the year column to the award name
hart_grp_df = hart_grp_df.rename(columns={"Year": "Hart Awards"})
hart_grp_df.head()

          Player  Hart Awards
0     Al Rollins            1
1  Alex Ovechkin            3
2  Andy Bathgate            1
3  Aurele Joliat            1
4     Babe Pratt            1

NHL Conn Smythe Trophy Winners, Award presented to the playoffs MVP

In [18]:
# Scrape the data for the Conn Smythe Trophy Award, Playoff MVP
url = 'https://www.nhl.com/news/nhl-conn-smythe-trophy-winners-complete-list/c-287709808?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Conn Smythe"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
conn_smythe_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
conn_smythe_df['Year'] = conn_smythe_df['Year'].astype(int)
# filter dataframe 
# conn_smythe_df = conn_smythe_df.loc[conn_smythe_df['Year'] >= 1967,:]
conn_smythe_df.head()

   Year         Player                 Team        Award
0  2020  Victor Hedman  Tampa Bay Lightning  Conn Smythe
1  2019  Ryan O'Reilly      St. Louis Blues  Conn Smythe
2  2018  Alex Ovechkin  Washington Capitals  Conn Smythe
3  2017  Sidney Crosby  Pittsburgh Penguins  Conn Smythe
4  2016  Sidney Crosby  Pittsburgh Penguins  Conn Smythe

In [19]:
# Group the data by the player's name column and count
conn_smythe_grp_df = conn_smythe_df.groupby(by="Player", as_index=False).count()
conn_smythe_grp_df.head()

          Player  Year  Team  Award
0    Al MacInnis     1     1      1
1  Alex Ovechkin     1     1      1
2  Bernie Parent     2     2      2
3   Bill Ranford     1     1      1
4    Billy Smith     1     1      1

In [20]:
# Drop columns that are not needed
conn_smythe_grp_df = conn_smythe_grp_df.drop(['Team', 'Award'], axis=1)
conn_smythe_grp_df.head()

          Player  Year
0    Al MacInnis     1
1  Alex Ovechkin     1
2  Bernie Parent     2
3   Bill Ranford     1
4    Billy Smith     1

In [21]:
# Rename the year column to the award name
conn_smythe_grp_df = conn_smythe_grp_df.rename(columns={"Year": "Conn Smythe Awards"})
conn_smythe_grp_df.head()

          Player  Conn Smythe Awards
0    Al MacInnis                   1
1  Alex Ovechkin                   1
2  Bernie Parent                   2
3   Bill Ranford                   1
4    Billy Smith                   1

NHL Calder Memorial Trophy Winners, Award presented to the rookie of the year.

In [22]:
# Scrape the data for the Calder Memorial Trophy Awards, Rookie of the Year
url = 'https://www.nhl.com/news/nhl-calder-memorial-trophy-winners-complete-list/c-287749198?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Calder Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
calder_memorial_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
calder_memorial_df['Year'] = calder_memorial_df['Year'].astype(int)
# filter dataframe 
# calder_memorial_df = calder_memorial_df.loc[calder_memorial_df['Year'] >= 1967,:]
calder_memorial_df.head()

   Year            Player                 Team            Award
0  2020        Cale Makar   Colorado Avalanche  Calder Memorial
1  2019  Elias Pettersson    Vancouver Canucks  Calder Memorial
2  2018     Mathew Barzal   New York Islanders  Calder Memorial
3  2017   Auston Matthews  Toronto Maple Leafs  Calder Memorial
4  2016    Artemi Panarin   Chicago Blackhawks  Calder Memorial

In [23]:
# Group the data by the player's name column
calder_memorial_grp_df = calder_memorial_df.groupby(by="Player", as_index=False).count()
calder_memorial_grp_df.head()

            Player  Year  Team  Award
0     Aaron Ekblad     1     1      1
1    Alex Ovechkin     1     1      1
2  Andrew Raycroft     1     1      1
3   Artemi Panarin     1     1      1
4  Auston Matthews     1     1      1

In [24]:
# Drop columns that are not needed
calder_memorial_grp_df = calder_memorial_grp_df.drop(['Team', 'Award'], axis=1)
calder_memorial_grp_df.head()

            Player  Year
0     Aaron Ekblad     1
1    Alex Ovechkin     1
2  Andrew Raycroft     1
3   Artemi Panarin     1
4  Auston Matthews     1

In [25]:
# Rename the year column to the award name
calder_memorial_grp_df = calder_memorial_grp_df.rename(columns={"Year": "Calder Awards"})
calder_memorial_grp_df.head()

            Player  Calder Awards
0     Aaron Ekblad              1
1    Alex Ovechkin              1
2  Andrew Raycroft              1
3   Artemi Panarin              1
4  Auston Matthews              1

NHL James Norris Memorial Trophy Winners, Award presented to the leagues top defenseman.

In [26]:
# Scrape the data for the James Norris Memorial Trophy, Top Defenseman 
import re
url = 'https://www.nhl.com/news/nhl-james-norris-memorial-trophy-winners-complete-list/c-287778852?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = re.split(':|;', row)
        #print(words)
        more_words = words[1].split(',')
        #print(more_words)

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'James Norris Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
james_norris_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
james_norris_df['Year'] = james_norris_df['Year'].astype(int)
# filter dataframe 
# james_norris_df = james_norris_df.loc[james_norris_df['Year'] >= 1967,:]
james_norris_df.head()

   Year         Player                 Team                  Award
0  2020     Roman Josi       Calgary Flames  James Norris Memorial
1  2019  Mark Giordano       Calgary Flames  James Norris Memorial
2  2018  Victor Hedman  Tampa Bay Lightning  James Norris Memorial
3  2017    Brent Burns      San Jose Sharks  James Norris Memorial
4  2016   Drew Doughty    Los Angeles Kings  James Norris Memorial

In [27]:
# Group the data by the player's name column and count
james_norris_grp_df = james_norris_df.groupby(by="Player", as_index=False).count()
james_norris_grp_df.head()

          Player  Year  Team  Award
0    Al MacInnis     1     1      1
1      Bobby Orr     8     8      8
2    Brent Burns     1     1      1
3   Brian Leetch     2     2      2
4  Chris Chelios     3     3      3

In [28]:
# Drop columns that are not needed
james_norris_grp_df = james_norris_grp_df.drop(['Team', 'Award'], axis=1)
james_norris_grp_df.head()

          Player  Year
0    Al MacInnis     1
1      Bobby Orr     8
2    Brent Burns     1
3   Brian Leetch     2
4  Chris Chelios     3

In [29]:
# Rename the year column to the award name
james_norris_grp_df = james_norris_grp_df.rename(columns={"Year": "James Norris Awards"})
james_norris_grp_df.head()

          Player  James Norris Awards
0    Al MacInnis                    1
1      Bobby Orr                    8
2    Brent Burns                    1
3   Brian Leetch                    2
4  Chris Chelios                    3

NHL Ted Lindsay Award Winners. Award presented to the most outstanding player as voted but the NHLPA members.

In [30]:
# Scrape the data for the Ted Lindsay Award, Outstanding Player voted by NHLPA players
url = 'https://www.nhl.com/news/nhl-ted-lindsay-award-winners-complete-list/c-287978282?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Ted Lindsay"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
ted_lindsay_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
ted_lindsay_df['Year'] = ted_lindsay_df['Year'].astype(int)
# filter dataframe 
# ted_lindsay_df = ted_lindsay_df.loc[ted_lindsay_df['Year'] >= 1967,:]
ted_lindsay_df.head()

   Year           Player                 Team        Award
0  2020   Leon Draisaitl      Edmonton Oilers  Ted Lindsay
1  2019  Nikita Kucherov  Tampa Bay Lightning  Ted Lindsay
2  2018   Connor McDavid      Edmonton Oilers  Ted Lindsay
3  2017   Connor McDavid      Edmonton Oilers  Ted Lindsay
4  2016     Patrick Kane   Chicago Blackhawks  Ted Lindsay

In [31]:
# Group the data by the player's name column and count
ted_lindsay_grp_df = ted_lindsay_df.groupby(by="Player", as_index=False).count()
ted_lindsay_grp_df.head()

          Player  Year  Team  Award
0  Alex Ovechkin     3     3      3
1   Bobby Clarke     1     1      1
2      Bobby Orr     1     1      1
3     Brett Hull     1     1      1
4    Carey Price     1     1      1

In [32]:
# Drop columns that are not needed
ted_lindsay_grp_df = ted_lindsay_grp_df.drop(['Team', 'Award'], axis=1)
ted_lindsay_grp_df.head()

          Player  Year
0  Alex Ovechkin     3
1   Bobby Clarke     1
2      Bobby Orr     1
3     Brett Hull     1
4    Carey Price     1

In [33]:
# Rename the year column to the award name
ted_lindsay_grp_df = ted_lindsay_grp_df.rename(columns={"Year": "Ted Lindsay Awards"})
ted_lindsay_grp_df.head()

          Player  Ted Lindsay Awards
0  Alex Ovechkin                   3
1   Bobby Clarke                   1
2      Bobby Orr                   1
3     Brett Hull                   1
4    Carey Price                   1

NHL Maurice Richard Trophy Winners, Award presented to the years top goal-scorer.

In [34]:
# Scrape the data for the Maurice Richard Award, Top Goal Scorer
url = 'https://www.nhl.com/news/nhl-maurice-richard-trophy-winners-complete-list/c-287972892?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Maurice Richard"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
maurice_richard_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
maurice_richard_df['Year'] = maurice_richard_df['Year'].astype(int)
# filter dataframe 
# maurice_richard_df = maurice_richard_df.loc[ted_lindsay_df['Year'] >= 1967,:]
maurice_richard_df.head()

   Year          Player                 Team            Award
0  2020   Alex Ovechkin  Washington Capitals  Maurice Richard
1  2020  David Pastrnak        Boston Bruins  Maurice Richard
2  2019   Alex Ovechkin  Washington Capitals  Maurice Richard
3  2018   Alex Ovechkin  Washington Capitals  Maurice Richard
4  2017   Sidney Crosby  Pittsburgh Penguins  Maurice Richard

In [35]:
# Group the data by the player's name column
maurice_richard_grp_df = maurice_richard_df.groupby(by="Player", as_index=False).count()
maurice_richard_grp_df.head()

           Player  Year  Team  Award
0   Alex Ovechkin     9     9      9
1     Corey Perry     1     1      1
2  David Pastrnak     1     1      1
3  Ilya Kovalchuk     1     1      1
4   Jarome Iginla     2     2      2

In [36]:
# Drop columns that are not needed
maurice_richard_grp_df = maurice_richard_grp_df.drop(['Team', 'Award'], axis=1)
maurice_richard_grp_df.head()

           Player  Year
0   Alex Ovechkin     9
1     Corey Perry     1
2  David Pastrnak     1
3  Ilya Kovalchuk     1
4   Jarome Iginla     2

In [37]:
# Rename the year column to theaward name for the count
maurice_richard_grp_df = maurice_richard_grp_df.rename(columns={"Year": "Maurice Richard Awards"})
maurice_richard_grp_df.head()

           Player  Maurice Richard Awards
0   Alex Ovechkin                       9
1     Corey Perry                       1
2  David Pastrnak                       1
3  Ilya Kovalchuk                       1
4   Jarome Iginla                       2

Merge all the award dataframes together and clean the data

In [38]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(art_ross_grp_df,
                 conn_smythe_grp_df[['Player', 'Conn Smythe Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

             Player  Art Ross Awards  Conn Smythe Awards
0        Ace Bailey              1.0                 NaN
1     Alex Ovechkin              1.0                 1.0
2          Babe Dye              2.0                 NaN
3  Bernie Geoffrion              2.0                 NaN
4         Bill Cook              2.0                 NaN

In [39]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 hart_grp_df[['Player', 'Hart Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

             Player  Art Ross Awards  Conn Smythe Awards  Hart Awards
0        Ace Bailey              1.0                 NaN          NaN
1     Alex Ovechkin              1.0                 1.0          3.0
2          Babe Dye              2.0                 NaN          NaN
3  Bernie Geoffrion              2.0                 NaN          1.0
4         Bill Cook              2.0                 NaN          NaN

In [40]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 calder_memorial_grp_df[['Player', 'Calder Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards
0,Ace Bailey,1.0,NaN,NaN,NaN
1,Alex Ovechkin,1.0,1.0,3.0,1.0
2,Babe Dye,2.0,NaN,NaN,NaN
3,Bernie Geoffrion,2.0,NaN,1.0,1.0
4,Bill Cook,2.0,NaN,NaN,NaN

In [41]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 james_norris_grp_df[['Player', 'James Norris Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards
0,Ace Bailey,1.0,NaN,NaN,NaN,NaN
1,Alex Ovechkin,1.0,1.0,3.0,1.0,NaN
2,Babe Dye,2.0,NaN,NaN,NaN,NaN
3,Bernie Geoffrion,2.0,NaN,1.0,1.0,NaN
4,Bill Cook,2.0,NaN,NaN,NaN,NaN

In [42]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 ted_lindsay_grp_df[['Player', 'Ted Lindsay Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards
0,Ace Bailey,1.0,NaN,NaN,NaN,NaN,NaN
1,Alex Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0
2,Babe Dye,2.0,NaN,NaN,NaN,NaN,NaN
3,Bernie Geoffrion,2.0,NaN,1.0,1.0,NaN,NaN
4,Bill Cook,2.0,NaN,NaN,NaN,NaN,NaN

In [43]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 maurice_richard_grp_df[['Player', 'Maurice Richard Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards
0,Ace Bailey,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alex Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0,9.0
2,Babe Dye,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Bernie Geoffrion,2.0,NaN,1.0,1.0,NaN,NaN,NaN
4,Bill Cook,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# Change mismatch names to match across files
awards_merge_df = awards_merge_df.replace("Alex Ovechkin", "Alexander Ovechkin")
awards_merge_df = awards_merge_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
awards_merge_df = awards_merge_df.replace("Evgeni Malkin", "Yevgeni Malkin")
awards_merge_df = awards_merge_df.replace("Johnny Quilty", "John Quilty")
awards_merge_df = awards_merge_df.replace("Ray Bourque", "Raymond Bourque")
awards_merge_df = awards_merge_df.replace("Sweeney Schriner", "David Schriner")
awards_merge_df = awards_merge_df.replace("Tommy Anderson", "Tom Anderson")
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards
0,Ace Bailey,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alexander Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0,9.0
2,Babe Dye,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Bernard Geoffrion,2.0,NaN,1.0,1.0,NaN,NaN,NaN
4,Bill Cook,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
awards_merge_df = awards_merge_df.fillna(0)
awards_merge_df['Awards'] = awards_merge_df['Art Ross Awards'] + awards_merge_df['Conn Smythe Awards'] + awards_merge_df['Hart Awards'] +
                                            awards_merge_df['Calder Awards'] + awards_merge_df['James Norris Awards'] +
                                             awards_merge_df['Ted Lindsay Awards'] + awards_merge_df['Maurice Richard Awards']
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Awards
0,Ace Bailey,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Alexander Ovechkin,1.0,1.0,3.0,1.0,0.0,3.0,9.0,5.0
2,Babe Dye,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,Bernard Geoffrion,2.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0
4,Bill Cook,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

Scrape the data from url to get the players Stanley Cup wins

In [ ]:
# Scrape the data for Stanley Cup wins by player
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
from splinter.driver.webdriver import BaseWebDriver, WebDriverElement

In [ ]:
options = Options()
options.add_argument('--no-sandbox')
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False, chrome_options=options)

In [ ]:
# Set URL to the stanley Cup records page
url = 'https://records.nhl.com/records/playoff-skater-records/stanley-cups/skater-most-stanley-cups-won-career'
browser.visit(url)

In [ ]:
# Scrape the data for Stanley Cup wins from the url
my_list = []

for i in range(1, 23):
#     print(i)

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    rows = soup.find_all('div', class_='rt-tr-group')
    for row in rows:
        cells = row.find_all('div', class_='rt-td')

        data = {
            'Player':cells[1].text,
            'Pos':cells[2].text,
            'Cups':cells[3].text
        }

        my_list.append(data)
    if i < 22:
        browser.find_by_text('Next').click()

my_list

In [ ]:
# Convert the list to a dataframe
stanley_cup_df = pd.DataFrame(my_list)
stanley_cup_df.head()

In [ ]:
# Filter out the goal tenders.
stanley_cup_df = stanley_cup_df[stanley_cup_df['Pos'] != 'G'] 
stanley_cup_df.head()

In [ ]:
# Drop columns that are not needed
stanley_cup_df = stanley_cup_df.drop(['Pos'], axis=1)
stanley_cup_df.head()

In [ ]:
# Change names to match the master stats
stanley_cup_df = stanley_cup_df.replace("Alex Ovechkin", "Alexander Ovechkin")
stanley_cup_df = stanley_cup_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
stanley_cup_df = stanley_cup_df.replace("Evgeni Malkin", "Yevgeni Malkin")
stanley_cup_df = stanley_cup_df.replace("Johnny Quilty", "John Quilty")
stanley_cup_df = stanley_cup_df.replace("Ray Bourque", "Raymond Bourque")
stanley_cup_df = stanley_cup_df.replace("Sweeney Schriner", "David Schriner")
stanley_cup_df = stanley_cup_df.replace("Tommy Anderson", "Tom Anderson")
stanley_cup_df = stanley_cup_df.replace("Bob Sirois", "Robert Sirois")
stanley_cup_df = stanley_cup_df.replace("Bobby Nystrom", "Bob Nystrom")
stanley_cup_df = stanley_cup_df.replace("Bucky Hollingworth", "Gord Hollingworth")
stanley_cup_df = stanley_cup_df.replace("Daniel Girardi", "Dan Girardi")
stanley_cup_df = stanley_cup_df.replace("Dollard St. Laurent", "Dollard St-Laurent")
stanley_cup_df = stanley_cup_df.replace("Evgeny Kuznetsov", "Yevgeni Kuznetsov")
stanley_cup_df = stanley_cup_df.replace("Fern Flaman", "Fernie Flaman")
stanley_cup_df = stanley_cup_df.replace("George 'Hully' Gee", "George Gee")
stanley_cup_df = stanley_cup_df.replace("Hubert 'Pit' Martin", "Pit Martin")
stanley_cup_df = stanley_cup_df.replace("J.C. Tremblay", "Jean-Claude Tremblay")
stanley_cup_df = stanley_cup_df.replace("Jack Leclair", "Jackie LeClair")
stanley_cup_df = stanley_cup_df.replace("Joshua Bailey", "Josh Bailey")
stanley_cup_df = stanley_cup_df.replace("Kenny Mosdell", "Ken Mosdell")
stanley_cup_df = stanley_cup_df.replace("Kristopher Letang", "Kris Letang")
stanley_cup_df = stanley_cup_df.replace("Leonard 'Red' Kelly", "Red Kelly")
stanley_cup_df = stanley_cup_df.replace("Nicholas Boynton", "Nick Boynton")
stanley_cup_df = stanley_cup_df.replace("Nick Libett", "Lynn Libett")
stanley_cup_df = stanley_cup_df.replace("Oliver Ekman-Larsson", "Oliver Ekman Larsson")
stanley_cup_df = stanley_cup_df.replace("Quinton Hughes", "Quinn Hughes")
stanley_cup_df = stanley_cup_df.replace("Red Sullivan", "George Sullivan")
stanley_cup_df = stanley_cup_df.replace("Reg Fleming", "Reggie Fleming")
stanley_cup_df = stanley_cup_df.replace("Reg Sinclair", "Reggie Sinclair")
stanley_cup_df = stanley_cup_df.replace("Ron 'Chico' Maki", "Chico Maki")
stanley_cup_df = stanley_cup_df.replace("Sandis Ozolinsh", "Sandis Ozolins")
stanley_cup_df = stanley_cup_df.replace("Theoren Fleury", "Theo Fleury")
stanley_cup_df = stanley_cup_df.replace("Willie Huber", "William Huber")
stanley_cup_df = stanley_cup_df.replace("Zachary Werenski", "Zach Werenski")
stanley_cup_df = stanley_cup_df.replace("Al Langlois", "Albert Langlois")
stanley_cup_df = stanley_cup_df.replace("Al Shields", "Allan Shields")
stanley_cup_df = stanley_cup_df.replace("Alex Kovalev", "Alexei Kovalev")
stanley_cup_df = stanley_cup_df.replace("Aurel Joliat", "Aurele Joliat")
stanley_cup_df = stanley_cup_df.replace("Baldy Cotton", "Harold Cotton")
stanley_cup_df = stanley_cup_df.replace("Billy Boyd", "Bill Boyd")
stanley_cup_df = stanley_cup_df.replace("Billy Taylor Sr.", "Billy Taylor")
stanley_cup_df = stanley_cup_df.replace("Bingo Kampman", "Rudolph Kampman")
stanley_cup_df = stanley_cup_df.replace("Bob Fillion", "Robert Fillion")
stanley_cup_df = stanley_cup_df.replace("Bryan Hextall Sr.", "Bryan Hextall, Sr.")
stanley_cup_df = stanley_cup_df.replace("Butch Bouchard", "Emile Bouchard")
stanley_cup_df = stanley_cup_df.replace("Connie Broden", "Connell Broden")
stanley_cup_df = stanley_cup_df.replace("David Michayluk", "Dave Michayluk")
stanley_cup_df = stanley_cup_df.replace("Dimitri Afanasenkov", "Dmitri Afanasenkov")
stanley_cup_df = stanley_cup_df.replace("Dmitry Orlov", "Dmitri Orlov")
stanley_cup_df = stanley_cup_df.replace("Donnie Marshall", "Don Marshall")
stanley_cup_df = stanley_cup_df.replace("Dutch Gainor", "Norman Gainor")
stanley_cup_df = stanley_cup_df.replace("Dutch Hiller", "Wilbert Hiller")
stanley_cup_df = stanley_cup_df.replace("Dutch Reibel", "Earl Reibel")
stanley_cup_df = stanley_cup_df.replace("Ed Gorman", "Edwin Gorman")
stanley_cup_df = stanley_cup_df.replace("Eddie Olczyk", "Ed Olczyk")
stanley_cup_df = stanley_cup_df.replace("Fern Majeau", "Fernand Majeau")
stanley_cup_df = stanley_cup_df.replace("Frank Callighen", "Francis Callighen")
stanley_cup_df = stanley_cup_df.replace("Fred Cook", "Bun Cook")
stanley_cup_df = stanley_cup_df.replace("Freddy Modin", "Fredrik Modin")
stanley_cup_df = stanley_cup_df.replace("George Boucher", "Buck Boucher")
stanley_cup_df = stanley_cup_df.replace("Gord Pettinger", "Gordon Pettinger")
stanley_cup_df = stanley_cup_df.replace("Hobie Kitchen", "Chapman Kitchen")
stanley_cup_df = stanley_cup_df.replace("Ivan Barbashev", "Ivan Barbashyov")
stanley_cup_df = stanley_cup_df.replace("J.C. Tremblay", "Jean-Claude Tremblay")
stanley_cup_df = stanley_cup_df.replace("J.J. Daigneault", "Jean-Jacques Daigneault")
stanley_cup_df = stanley_cup_df.replace("Jimmy Peters", "Jim Peters")
stanley_cup_df = stanley_cup_df.replace("Johnny Sheppard", "John Sheppard")
stanley_cup_df = stanley_cup_df.replace("Lou Trudel", "Louis Trudel")
stanley_cup_df = stanley_cup_df.replace("Max Talbot", "Maxime Talbot")
stanley_cup_df = stanley_cup_df.replace("Michael Needham", "Mike Needham")
stanley_cup_df = stanley_cup_df.replace("Michael Zigomanis", "Mike Zigomanis")
stanley_cup_df = stanley_cup_df.replace("Mikhail Sergachev", "Mikhail Sergachyov")
stanley_cup_df = stanley_cup_df.replace("Moe Lemay", "Maurice Lemay")
stanley_cup_df = stanley_cup_df.replace("Moe Morris", "Elwyn Morris")
stanley_cup_df = stanley_cup_df.replace("Moose Vasko", "Elmer Vasko")
stanley_cup_df = stanley_cup_df.replace("Murph Chamberlain", "Erwin Chamberlain")
stanley_cup_df = stanley_cup_df.replace("Muzz Patrick", "Murray Patrick")
stanley_cup_df = stanley_cup_df.replace("Ott Heller", "Ehrhardt Heller")
stanley_cup_df = stanley_cup_df.replace("Paul Di Pietro", "Paul DiPietro")
stanley_cup_df = stanley_cup_df.replace("Peter Mahovlich", "Pete Mahovlich")
stanley_cup_df = stanley_cup_df.replace("Pit Lepine", "Alfred Lepine")
stanley_cup_df = stanley_cup_df.replace("Punch Broadbent", "Harry Broadbent")
stanley_cup_df = stanley_cup_df.replace("Sam Rothschild", "Samuel Rothschild")
stanley_cup_df = stanley_cup_df.replace("Sammy Blais", "Samuel Blais")
stanley_cup_df = stanley_cup_df.replace("Slava Voynov", "Vyacheslav Voynov")
stanley_cup_df = stanley_cup_df.replace("Stan Neckar", "Stanislav Neckar")
stanley_cup_df = stanley_cup_df.replace("Steve Reinprecht", "Steven Reinprecht")
stanley_cup_df = stanley_cup_df.replace("Viacheslav Fetisov", "Vyacheslav Fetisov")
stanley_cup_df = stanley_cup_df.replace("Lee Fogolin Jr.", "Lee Fogolin, Jr.")
stanley_cup_df = stanley_cup_df.replace("Bryan Hextall Sr.", "Bryan Hextall, Sr.")
stanley_cup_df.head()

Merge the Stanley Cup win dataframe to the awards dataframe.

In [ ]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 stanley_cup_df[['Player', 'Cups']],
                 on='Player', how='outer')
awards_merge_df.head()

Scrape the data from url to get the player all-star game appearances

In [ ]:
# Scrape data for all-star game appearances.
all_star_tables = []

for page in range(1,19):
    url = f'https://www.quanthockey.com/scripts/AjaxPaginate.php?cat=Records&pos=Players&SS=&af=0&nat=alltime&st=5&sort=points&so=&page={page}&league=NHL%20All-Star%20Game&lang=en&rnd=651834569&dt=1&sd=undefined&ed=undefined'

    print('page:', page, '-------------')

    # find the table
    table = pd.read_html(url)
    df = table[0]
    # delete unneeded column
    del df['Unnamed: 1']
    # convert games played column to integer
    df['GP'] = df['GP'].astype(int)
    all_star_tables.append(df)
    
print("Scraping completed!")

In [ ]:
# Combined the 18 tables of data to one dataframe 
all_star_df = pd.concat(all_star_tables, ignore_index=True)
all_star_df.head()

In [ ]:
# Remove goalies from dataframe
all_star_df = all_star_df[all_star_df['Pos'] != 'G'] 
all_star_df.head()

In [ ]:
# Change names to match the master stat file
all_star_df = all_star_df.replace("Alex Ovechkin", "Alexander Ovechkin")
all_star_df = all_star_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
all_star_df = all_star_df.replace("Evgeni Malkin", "Yevgeni Malkin")
all_star_df = all_star_df.replace("Johnny Quilty", "John Quilty")
all_star_df = all_star_df.replace("Ray Bourque", "Raymond Bourque")
all_star_df = all_star_df.replace("Sweeney Schriner", "David Schriner")
all_star_df = all_star_df.replace("Tommy Anderson", "Tom Anderson")
all_star_df = all_star_df.replace("Bob Sirois", "Robert Sirois")
all_star_df = all_star_df.replace("Bobby Nystrom", "Bob Nystrom")
all_star_df = all_star_df.replace("Bucky Hollingworth", "Gord Hollingworth")
all_star_df = all_star_df.replace("Daniel Girardi", "Dan Girardi")
all_star_df = all_star_df.replace("Dollard St. Laurent", "Dollard St-Laurent")
all_star_df = all_star_df.replace("Evgeny Kuznetsov", "Yevgeni Kuznetsov")
all_star_df = all_star_df.replace("Fern Flaman", "Fernie Flaman")
all_star_df = all_star_df.replace("George 'Hully' Gee", "George Gee")
all_star_df = all_star_df.replace("Hubert 'Pit' Martin", "Pit Martin")
all_star_df = all_star_df.replace("J.C. Tremblay", "Jean-Claude Tremblay")
all_star_df = all_star_df.replace("Jack Leclair", "Jackie LeClair")
all_star_df = all_star_df.replace("Joshua Bailey", "Josh Bailey")
all_star_df = all_star_df.replace("Kenny Mosdell", "Ken Mosdell")
all_star_df = all_star_df.replace("Kristopher Letang", "Kris Letang")
all_star_df = all_star_df.replace("Leonard 'Red' Kelly", "Red Kelly")
all_star_df = all_star_df.replace("Nicholas Boynton", "Nick Boynton")
all_star_df = all_star_df.replace("Nick Libett", "Lynn Libett")
all_star_df = all_star_df.replace("Oliver Ekman-Larsson", "Oliver Ekman Larsson")
all_star_df = all_star_df.replace("Quinton Hughes", "Quinn Hughes")
all_star_df = all_star_df.replace("Red Sullivan", "George Sullivan")
all_star_df = all_star_df.replace("Reg Fleming", "Reggie Fleming")
all_star_df = all_star_df.replace("Reg Sinclair", "Reggie Sinclair")
all_star_df = all_star_df.replace("Ron 'Chico' Maki", "Chico Maki")
all_star_df = all_star_df.replace("Sandis Ozolinsh", "Sandis Ozolins")
all_star_df = all_star_df.replace("Theoren Fleury", "Theo Fleury")
all_star_df = all_star_df.replace("Willie Huber", "William Huber")
all_star_df = all_star_df.replace("Zachary Werenski", "Zach Werenski")
all_star_df = all_star_df.replace("John Leclair", "John LeClair")
all_star_df.loc[(all_star_df.Name == 'Lee Fogolin') & (all_star_df.Born == 1955), 'Name'] = 'Lee Fogolin, Jr.'
all_star_df.loc[(all_star_df.Name == 'Billy Harris') & (all_star_df.Born == 1952), 'Name'] = 'Billy Harris, Jr.'
all_star_df.loc[(all_star_df.Name == 'Syl Apps') & (all_star_df.Born == 1947), 'Name'] = 'Syl Apps, Jr.'

all_star_df.head()

In [ ]:
# Change all special characters to standard characters to match master stat file
cols_to_check = ['Name']
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'a'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'i'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'a'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'c'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'a'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'E'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'A'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'e'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'e'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'i'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'ss'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'u'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'y'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'O'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'e'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'s'}, regex=True)

all_star_df.head()

In [ ]:
# Rename the Name column to Player to match other dataframes
all_star_df = all_star_df.rename(columns={"Name": "Player", 'GP': 'All-Star Games'})
all_star_df.head()

In [ ]:
# Drop columns that are not needed
all_star_df = all_star_df.drop(['Rk', 'Born', 'Pos', 'G', 'A', 'P', 'PIM', '+/-', 'PPG', 'SHG',
                                 'GWG', 'G/GP', 'A/GP', 'P/GP'], axis=1)
all_star_df.head()

Merge the All-Star game dataframe to the Awards dataframe.

In [ ]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 all_star_df[['Player', 'All-Star Games']],
                 on='Player', how='outer')
awards_merge_df.head()

In [ ]:
# Change all the NaN values to 0 and change numeric columns to integers
awards_merge_df = awards_merge_df.fillna(0)
awards_merge_df = awards_merge_df.astype({"Art Ross Awards":'int', "Conn Smythe Awards":'int', "James Norris Awards":'int',
                    "Maurice Richard Awards":'int', "Calder Awards":'int', "Hart Awards":'int', "Ted Lindsay Awards":"int",
                    'Cups':'int', 'All-Star Games':'int'}) 
awards_merge_df.head()

In [ ]:
awards_merge_df.dtypes

In [ ]:
# Save the file to csv
awards_merge_df.to_csv("Output/awards_adj.csv", index=False, header=True)