Create Master Statistics File by Joining the Stats, Awards, and Hof files

In [2]:
# Import pandas
import pandas as pd
import numpy as np

In [5]:
# Assign file paths to variable and read csv into pandas
file_one = "Output/career_stats_adj.csv"
file_two = "Output/awards_adj.csv"
file_three = "Output/hof_adj.csv"
master_stats_df = pd.read_csv(file_one)
master_awards_df = pd.read_csv(file_two, encoding="ISO-8859-1")
master_hof_df = pd.read_csv(file_three)

In [6]:
master_stats_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004

In [7]:
master_awards_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Ace Bailey,1,0,0,0,0,0,0,1,0
1,Alexander Ovechkin,1,1,3,1,0,3,9,1,7
2,Babe Dye,2,0,0,0,0,0,0,1,0
3,Bernard Geoffrion,2,0,1,1,0,0,0,0,11
4,Bill Cook,2,0,0,0,0,0,0,2,0

In [8]:
master_hof_df.head()

             Player  HoF
0       Hobey Baker    1
1  Charlie Gardiner    1
2      Eddie Gerard    1
3       Frank McGee    1
4      Howie Morenz    1

Merge the awards and hof files to the stats file by left join.

In [9]:
master_stats_file_df = pd.merge(master_stats_df,
                 master_awards_df[['Player', 'Art Ross Awards',	'Conn Smythe Awards', 'Hart Awards', 'Calder Awards',
                                'James Norris Awards', 'Ted Lindsay Awards', 'Maurice Richard Awards', 'Cups', 'All-Star Games']],
                 on='Player', 
                 how='left')
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999,10.0,2.0,9.0,0.0,0.0,5.0,0.0,4.0,18.0
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018,5.0,0.0,1.0,0.0,0.0,3.0,0.0,2.0,10.0
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004,0.0,1.0,2.0,0.0,0.0,2.0,0.0,0.0,15.0
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980,6.0,0.0,6.0,0.0,0.0,0.0,0.0,4.0,23.0
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0

In [ ]:
# Save the file to csv
master_stats_file_df.to_csv("Output/master_stats_file.csv", index=False, header=True, encoding='utf-8-sig')

In [ ]:
# Create test_train data for players that have not played as of 2017, essentially retired players
test_train_df = master_stats_file_df[master_stats_file_df['lastYear'] < 2017]
test_train_df.count

In [ ]:
# Save the file to csv
test_train_df.to_csv("Output/test_train_file.csv", index=False, header=True, encoding='utf-8-sig')

In [ ]:
# Create predict data for palyers who played their last game as of 2017, includes active players as well
predict_df = master_stats_file_df[master_stats_file_df['lastYear'] >= 2017]
predict_df.count

In [ ]:
# Save the file to csv
predict_df.to_csv("Output/predict_file.csv", index=False, header=True, encoding='utf-8-sig')

In [10]:
# Filtered the test data to only include players that played as of 1967.  Possibly improve ML predictions
test_train_filt67_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017)]
test_train_filt67_df.count

<bound method DataFrame.count of                 Player    GP    G     A    TP    PPG   PIM  Years   POS  \
0        Wayne Gretzky  1487  894  1963  2857  1.921   577     20     C
2         Mark Messier  1756  694  1193  1887  1.075  1910     25     C
3          Gordie Howe  1767  801  1049  1850  1.047  1685     26    RW
4          Ron Francis  1731  549  1249  1798  1.039   979     23     C
5        Marcel Dionne  1348  731  1040  1771  1.314   600     18     C
...                ...   ...  ...   ...   ...    ...   ...    ...   ...
7188    Rocky Thompson    25    0     0     0  0.000   117      4  D/RW
7189      Paul Higgins    25    0     0     0  0.000   152      2    RW
7191      Nathan Smith    26    0     0     0  0.000    14      5     C
7194         Marc Moro    30    0     0     0  0.000    77      4     D
7197  Stephane Guerard    34    0     0     0  0.000    40      2     D

      firstYear  lastYear  Art Ross Awards  Conn Smythe Awards  Hart Awards  \
0          1979      1999             10.0                 2.0          9.0
2          1979      2004              0.0                 1.0          2.0
3          1946      1980              6.0                 0.0          6.0
4          1981      2004              0.0                 0.0          0.0
5          1971      1989              1.0                 0.0          0.0
...         ...       ...              ...                 ...          ...
7188       1997      2002              NaN                 NaN          NaN
7189       1981      1983              NaN                 NaN          NaN
7191       2003      2010              NaN                 NaN          NaN
7194       1997      2002              NaN                 NaN          NaN
7197       1987      1990              NaN                 NaN          NaN

      Calder Awards  James Norris Awards  Ted Lindsay Awards  \
0               0.0                  0.0                 5.0
2               0.0                  0.0                 2.0
3               0.0                  0.0                 0.0
4               0.0                  0.0                 0.0
5               0.0                  0.0                 2.0
...             ...                  ...                 ...
7188            NaN                  NaN                 NaN
7189            NaN                  NaN                 NaN
7191            NaN                  NaN                 NaN
7194            NaN                  NaN                 NaN
7197            NaN                  NaN                 NaN

      Maurice Richard Awards  Cups  All-Star Games
0                        0.0   4.0            18.0
2                        0.0   0.0            15.0
3                        0.0   4.0            23.0
4                        0.0   2.0             4.0
5                        0.0   0.0             8.0
...                      ...   ...             ...
7188                     NaN   NaN             NaN
7189                     NaN   NaN             NaN
7191                     NaN   NaN             NaN
7194                     NaN   NaN             NaN
7197                     NaN   NaN             NaN

[4690 rows x 20 columns]>

In [12]:
# Save the file to csv
test_train_filt67_df.to_csv("Output/test_train_filt67_file.csv", index=False, header=True, encoding='utf-8-sig')

In [ ]:
Review the different position designations.
master_stats_file_df['POS'].unique()