Create Master Statistics File by Joining the Stats, Awards, and Hof files

In [1]:
# Import pandas
import pandas as pd
import numpy as np

In [2]:
# Assign file paths to variable and read csv into pandas
file_one = "Output/career_stats_adj.csv"
file_two = "Output/awards_adj.csv"
file_three = "Output/hof_adj.csv"
master_stats_df = pd.read_csv(file_one)
master_awards_df = pd.read_csv(file_two, encoding="ISO-8859-1")
master_hof_df = pd.read_csv(file_three)

In [3]:
master_stats_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004

In [4]:
master_awards_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Ace Bailey,1,0,0,0,0,0,0,1,0
1,Alexander Ovechkin,1,1,3,1,0,3,9,1,7
2,Babe Dye,2,0,0,0,0,0,0,1,0
3,Bernard Geoffrion,2,0,1,1,0,0,0,0,11
4,Bill Cook,2,0,0,0,0,0,0,2,0

In [5]:
master_hof_df.head()

             Player  HoF
0       Hobey Baker    1
1  Charlie Gardiner    1
2      Eddie Gerard    1
3       Frank McGee    1
4      Howie Morenz    1

Merge the awards and hof files to the stats file by left join.

In [6]:
# Merge Awards data to the stats data by left join
master_stats_file_df = pd.merge(left=master_stats_df, right=master_awards_df, how='left', left_on='Player', right_on='Player')
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999,10.0,2.0,9.0,0.0,0.0,5.0,0.0,4.0,18.0
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018,5.0,0.0,1.0,0.0,0.0,3.0,0.0,2.0,10.0
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004,0.0,1.0,2.0,0.0,0.0,2.0,0.0,0.0,15.0
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980,6.0,0.0,6.0,0.0,0.0,0.0,0.0,4.0,23.0
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0

In [7]:
# Merge Hall Of Fame data to the stats data by left join
master_stats_file_df = pd.merge(left=master_stats_file_df, right=master_hof_df, how='left', left_on='Player', right_on='Player')
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,...,10.0,2.0,9.0,0.0,0.0,5.0,0.0,4.0,18.0,1.0
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,...,5.0,0.0,1.0,0.0,0.0,3.0,0.0,2.0,10.0,NaN
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,...,0.0,1.0,2.0,0.0,0.0,2.0,0.0,0.0,15.0,1.0
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,...,6.0,0.0,6.0,0.0,0.0,0.0,0.0,4.0,23.0,1.0
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,1.0

In [8]:
# Change all the NaN values to 0 and change numeric columns to integers
master_stats_file_df = master_stats_file_df.fillna(0)
master_stats_file_df = master_stats_file_df.astype({'GP':'int', 'G':'int', 'A':'int', 'TP':'int', 'PPG':'float', 'PIM':'int', 'Years':'int',                                                       'firstYear':'int', 'lastYear':'int', 'Art Ross Awards':'int',
                                                    'Conn Smythe Awards':'int', 'Hart Awards':'int', 'Calder Awards':'int',
                                                    'James Norris Awards':'int', 'Ted Lindsay Awards':'int', 'Maurice Richard Awards':'int',                                                        'Cups':'int', 'All-Star Games':'int', 'HoF':'int'}) 
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,...,10,2,9,0,0,5,0,4,18,1
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,...,5,0,1,0,0,3,0,2,10,0
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,...,0,1,2,0,0,2,0,0,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,...,6,0,6,0,0,0,0,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,...,0,0,0,0,0,0,0,2,4,1

In [9]:
master_stats_file_df.dtypes

Player                     object
GP                          int32
G                           int32
A                           int32
TP                          int32
PPG                       float64
PIM                         int32
Years                       int32
POS                        object
firstYear                   int32
lastYear                    int32
Art Ross Awards             int32
Conn Smythe Awards          int32
Hart Awards                 int32
Calder Awards               int32
James Norris Awards         int32
Ted Lindsay Awards          int32
Maurice Richard Awards      int32
Cups                        int32
All-Star Games              int32
HoF                         int32
dtype: object

In [11]:
# Save the file to csv
master_stats_file_df.to_csv("Output/master_stats_file.csv", index=False, header=True, encoding='utf-8-sig')

In [12]:
# Create test_train data for players that have not played as of 2017, essentially retired players
test_train_df = master_stats_file_df[master_stats_file_df['lastYear'] < 2017]
test_train_df = test_train_df.fillna(0)
test_train_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,...,10,2,9,0,0,5,0,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,...,0,1,2,0,0,2,0,0,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,...,6,0,6,0,0,0,0,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,...,0,0,0,0,0,0,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,18,C,1971,...,1,0,0,0,0,2,0,0,8,1

In [13]:
# Save the file to csv
test_train_df.to_csv("Output/test_train_file.csv", index=False, header=True, encoding='utf-8-sig')

In [14]:
# Create predict data for palyers who played their last game as of 2017, includes active players as well
predict_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 2017) & (master_stats_file_df['HoF'] != 1)]
predict_df = predict_df.fillna(0)
predict_df['POS'] = predict_df['POS'].replace(['C', 'C/D','C/LW', 'C/RW', 'C/W', 'F', 'F/D', 'LW', 'LW/C', 'LW/C/D', 'LW/D',
                                                                 'LW/RW', 'RW','RW/C', 'RW/D', 'RW/LW', 'W/C'], 1)
predict_df['POS'] = predict_df['POS'].replace(['D', 'D/C','D/F', 'D/LW', 'D/RW', 'D/W'], 2)
predict_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,1,1990,...,5,0,1,0,0,3,0,2,10,0
13,Joe Thornton,1640,421,1090,1511,0.921,1250,23,1,1997,...,1,0,1,0,0,0,0,0,6,0
34,Alexander Ovechkin,1156,707,576,1283,1.110,719,16,1,2005,...,1,1,3,1,0,3,9,1,7,0
37,Sidney Crosby,988,465,803,1268,1.283,675,16,1,2005,...,2,2,2,0,0,3,2,3,4,0
49,Patrick Marleau,1726,562,626,1188,0.688,517,23,1,1997,...,0,0,0,0,0,0,0,0,3,0

In [15]:
# Save the file to csv
predict_df.to_csv("Output/predict_file.csv", index=False, header=True, encoding='utf-8-sig')

In [16]:
# Filtered the test data to only include players that played as of 1967.  Possibly improve ML predictions
test_train_filt67_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017)]
test_train_filt67_df = test_train_filt67_df.fillna(0)
test_train_filt67_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,...,10,2,9,0,0,5,0,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,...,0,1,2,0,0,2,0,0,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,...,6,0,6,0,0,0,0,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,...,0,0,0,0,0,0,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,18,C,1971,...,1,0,0,0,0,2,0,0,8,1

In [17]:
# Save the file to csv
test_train_filt67_df.to_csv("Output/test_train_filt67_file.csv", index=False, header=True, encoding='utf-8-sig')

In [ ]:
# Review the different position designations.
master_stats_file_df['POS'].unique()

In [ ]:
master_stats_file_df.count

In [ ]:
test_train_df.count

In [ ]:
predict_df.count

In [ ]:
test_train_filt67_df.count

In [ ]:
test_train_filt67_df.describe()

In [ ]:
test_train_filt67_mingame_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017) &                                                        (master_stats_file_df['TP'] > 99)]
test_train_filt67_mingame_df = test_train_filt67_mingame_df.fillna(0)
test_train_filt67_mingame_df.head()

In [ ]:
test_train_filt67_mingame_df.describe()

In [18]:
t_t_filt67_100gp_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017) & 
                        (master_stats_file_df['GP'] > 100) | (master_stats_file_df['lastYear'] >= 2017) & (master_stats_file_df['HoF'] == 1)]
t_t_filt67_100gp_df['POS'] = t_t_filt67_100gp_df['POS'].replace(['C', 'C/D','C/LW', 'C/RW', 'C/W', 'F', 'F/D', 'LW', 'LW/C', 'LW/C/D', 'LW/D',
                                                                 'LW/RW', 'RW','RW/C', 'RW/D', 'RW/LW', 'W/C'], 1)
t_t_filt67_100gp_df['POS'] = t_t_filt67_100gp_df['POS'].replace(['D', 'D/C','D/F', 'D/LW', 'D/RW', 'D/W'], 2)
t_t_filt67_100gp_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,1,1979,...,10,2,9,0,0,5,0,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,1,1979,...,0,1,2,0,0,2,0,0,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,1,1946,...,6,0,6,0,0,0,0,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,23,1,1981,...,0,0,0,0,0,0,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,18,1,1971,...,1,0,0,0,0,2,0,0,8,1

In [19]:
t_t_filt67_100gp_df.to_csv("Output/tt_filt67_100GP_file.csv", index=False, header=True, encoding='utf-8-sig')

In [20]:
t_t_filt67_100tp_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017) & 
(master_stats_file_df['TP'] > 100) | (master_stats_file_df['lastYear'] >= 2017) & (master_stats_file_df['HoF'] == 1)]
t_t_filt67_100tp_df['POS'] = t_t_filt67_100tp_df['POS'].replace(['C', 'C/D','C/LW', 'C/RW', 'C/W', 'F', 'F/D', 'LW', 'LW/C', 'LW/C/D', 'LW/D',
                                                                 'LW/RW', 'RW','RW/C', 'RW/D', 'RW/LW', 'W/C'], 1)
t_t_filt67_100tp_df['POS'] = t_t_filt67_100tp_df['POS'].replace(['D', 'D/C','D/F', 'D/LW', 'D/RW', 'D/W'], 2)
t_t_filt67_100tp_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,1,1979,...,10,2,9,0,0,5,0,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,1,1979,...,0,1,2,0,0,2,0,0,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,1,1946,...,6,0,6,0,0,0,0,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,23,1,1981,...,0,0,0,0,0,0,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,18,1,1971,...,1,0,0,0,0,2,0,0,8,1

In [21]:
t_t_filt67_100tp_df.to_csv("Output/tt_filt67_100TP_file.csv", index=False, header=True, encoding='utf-8-sig')