Create Master Statistics File by Joining the Stats, Awards, and Hof files

In [30]:
# Import pandas
import pandas as pd
import numpy as np

In [31]:
# Assign file paths to variable and read csv into pandas
file_one = "Output/career_stats_adj.csv"
file_two = "Output/awards_adj.csv"
file_three = "Output/hof_adj.csv"
master_stats_df = pd.read_csv(file_one)
master_awards_df = pd.read_csv(file_two, encoding="ISO-8859-1")
master_hof_df = pd.read_csv(file_three)

In [32]:
master_stats_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004

In [33]:
master_awards_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Ace Bailey,1,0,0,0,0,0,0,1,0
1,Alexander Ovechkin,1,1,3,1,0,3,9,1,7
2,Babe Dye,2,0,0,0,0,0,0,1,0
3,Bernard Geoffrion,2,0,1,1,0,0,0,0,11
4,Bill Cook,2,0,0,0,0,0,0,2,0

In [34]:
master_hof_df.head()

             Player  HoF
0       Hobey Baker    1
1  Charlie Gardiner    1
2      Eddie Gerard    1
3       Frank McGee    1
4      Howie Morenz    1

Merge the awards and hof files to the stats file by left join.

In [38]:
master_stats_file_df = pd.merge(master_stats_df,
                 master_awards_df[['Player', 'Art Ross Awards',	'Conn Smythe Awards', 'Hart Awards', 'Calder Awards',
                                'James Norris Awards', 'Ted Lindsay Awards', 'Maurice Richard Awards', 'Cups', 'All-Star Games']],
                 on='Player', 
                 how='left')
master_stats_file_df = master_stats_file_df.fillna(0)
master_stats_file_df = master_stats_file_df.astype({"Art Ross Awards":'int', "Conn Smythe Awards":'int', "James Norris Awards":'int',
                    "Maurice Richard Awards":'int', "Calder Awards":'int', "Hart Awards":'int', "Ted Lindsay Awards":"int",
                    'Cups':'int', 'All-Star Games':'int'})
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999,10,2,9,0,0,5,0,4,18
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018,5,0,1,0,0,3,0,2,10
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004,0,1,2,0,0,2,0,0,15
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980,6,0,6,0,0,0,0,4,23
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004,0,0,0,0,0,0,0,2,4

In [39]:
# Save the file to csv
master_stats_file_df.to_csv("Output/master_stats_file.csv", index=False, header=True, encoding='utf-8-sig')

In [43]:
# Create test_train data for players that have not played as of 2017, essentially retired players
test_train_df = master_stats_file_df[master_stats_file_df['lastYear'] < 2017]
test_train_df = test_train_df.fillna(0)
test_train_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999,10,2,9,0,0,5,0,4,18
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004,0,1,2,0,0,2,0,0,15
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980,6,0,6,0,0,0,0,4,23
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004,0,0,0,0,0,0,0,2,4
5,Marcel Dionne,1348,731,1040,1771,1.314,600,18,C,1971,1989,1,0,0,0,0,2,0,0,8

In [44]:
# Save the file to csv
test_train_df.to_csv("Output/test_train_file.csv", index=False, header=True, encoding='utf-8-sig')

In [45]:
# Create predict data for palyers who played their last game as of 2017, includes active players as well
predict_df = master_stats_file_df[master_stats_file_df['lastYear'] >= 2017]
predict_df = predict_df.fillna(0)
predict_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018,5,0,1,0,0,3,0,2,10
13,Joe Thornton,1640,421,1090,1511,0.921,1250,23,C,1997,2021,1,0,1,0,0,0,0,0,6
33,Jarome Iginla,1554,625,675,1300,0.837,1040,21,RW,1995,2017,1,0,0,0,0,1,2,0,6
34,Alexander Ovechkin,1156,707,576,1283,1.110,719,16,LW,2005,2021,1,1,3,1,0,3,9,1,7
37,Sidney Crosby,988,465,803,1268,1.283,675,16,C,2005,2021,2,2,2,0,0,3,2,3,4

In [46]:
# Save the file to csv
predict_df.to_csv("Output/predict_file.csv", index=False, header=True, encoding='utf-8-sig')

In [47]:
# Filtered the test data to only include players that played as of 1967.  Possibly improve ML predictions
test_train_filt67_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017)]
test_train_filt67_df = test_train_filt67_df.fillna(0)
test_train_filt67_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999,10,2,9,0,0,5,0,4,18
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004,0,1,2,0,0,2,0,0,15
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980,6,0,6,0,0,0,0,4,23
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004,0,0,0,0,0,0,0,2,4
5,Marcel Dionne,1348,731,1040,1771,1.314,600,18,C,1971,1989,1,0,0,0,0,2,0,0,8

In [48]:
# Save the file to csv
test_train_filt67_df.to_csv("Output/test_train_filt67_file.csv", index=False, header=True, encoding='utf-8-sig')

In [50]:
# Review the different position designations.
master_stats_file_df['POS'].unique()

array(['C', 'RW', 'D', 'LW', 'C/RW', 'LW/RW', 'C/W', 'D/C', 'RW/LW',
       'LW/C', 'RW/C', 'LW/D', 'W/C', 'C/LW', 'F', 'D/F', 'D/LW', 'D/RW',
       'C/D', 'RW/D', 'D/W', 'F/D', 'LW/C/D'], dtype=object)