Create Master Statistics File by Joining the Stats, Awards, and Hof files

In [17]:
# Import pandas
import pandas as pd
import numpy as np

In [18]:
# Assign file paths to variable and read csv into pandas
file_one = "Output/career_stats_adj.csv"
file_two = "Output/awards_adj.csv"
file_three = "Output/hof_adj.csv"
master_stats_df = pd.read_csv(file_one, encoding="ISO-8859-1")
master_awards_df = pd.read_csv(file_two, encoding="ISO-8859-1")
master_hof_df = pd.read_csv(file_three)

In [19]:
master_stats_df.head()

,ï»¿Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004

In [20]:
master_awards_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Ace Bailey,1,0,0,0,0,0,0,1,0
1,Alexander Ovechkin,1,1,3,1,0,3,9,1,7
2,Babe Dye,2,0,0,0,0,0,0,1,0
3,Bernard Geoffrion,2,0,1,1,0,0,0,0,11
4,Bill Cook,2,0,0,0,0,0,0,2,0

In [21]:
master_hof_df.head()

             Player  HoF
0       Hobey Baker    1
1  Charlie Gardiner    1
2      Eddie Gerard    1
3       Frank McGee    1
4      Howie Morenz    1

Merge the awards and hof files to the stats file by left join.

In [22]:
master_stats_file_df = pd.merge(master_stats_df,
                 master_awards_df[['Player', 'Art Ross Awards',	'Conn Smythe Awards', 'Hart Awards', 'Calder Awards',
                                'James Norris Awards', 'Ted Lindsay Awards', 'Maurice Richard Awards', 'Cups', 'All-Star Games']],
                 on='Player', 
                 how='left')
master_stats_file_df.head()

KeyError: 'Player'