Create Master Statistics File by Joining the Stats, Awards, and Hof files

In [82]:
# Import pandas
import pandas as pd
import numpy as np

In [83]:
# Assign file paths to variable and read csv into pandas
file_one = "Output/career_stats_adj.csv"
file_two = "Output/awards_adj.csv"
file_three = "Output/hof_adj.csv"
master_stats_df = pd.read_csv(file_one)
master_awards_df = pd.read_csv(file_two, encoding="ISO-8859-1")
master_hof_df = pd.read_csv(file_three)

In [84]:
master_stats_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004

In [85]:
master_awards_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Ace Bailey,1,0,0,0,0,0,0,1,0
1,Alexander Ovechkin,1,1,3,1,0,3,9,1,7
2,Babe Dye,2,0,0,0,0,0,0,1,0
3,Bernard Geoffrion,2,0,1,1,0,0,0,0,11
4,Bill Cook,2,0,0,0,0,0,0,2,0

In [86]:
master_hof_df.head()

             Player  HoF
0       Hobey Baker    1
1  Charlie Gardiner    1
2      Eddie Gerard    1
3       Frank McGee    1
4      Howie Morenz    1

Merge the awards and hof files to the stats file by left join.

In [87]:
# Merge Awards data to the stats data by left join
master_stats_file_df = pd.merge(left=master_stats_df, right=master_awards_df, how='left', left_on='Player', right_on='Player')
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,1999,10.0,2.0,9.0,0.0,0.0,5.0,0.0,4.0,18.0
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,2018,5.0,0.0,1.0,0.0,0.0,3.0,0.0,2.0,10.0
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,2004,0.0,1.0,2.0,0.0,0.0,2.0,0.0,0.0,15.0
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,1980,6.0,0.0,6.0,0.0,0.0,0.0,0.0,4.0,23.0
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0

In [88]:
# Merge Hall Of Fame data to the stats data by left join
master_stats_file_df = pd.merge(left=master_stats_file_df, right=master_hof_df, how='left', left_on='Player', right_on='Player')
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,...,10.0,2.0,9.0,0.0,0.0,5.0,0.0,4.0,18.0,1.0
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,...,5.0,0.0,1.0,0.0,0.0,3.0,0.0,2.0,10.0,NaN
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,...,0.0,1.0,2.0,0.0,0.0,2.0,0.0,0.0,15.0,1.0
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,...,6.0,0.0,6.0,0.0,0.0,0.0,0.0,4.0,23.0,1.0
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,1.0

In [89]:
# Change all the NaN values to 0 and change numeric columns to integers
master_stats_file_df = master_stats_file_df.fillna(0)
master_stats_file_df = master_stats_file_df.astype({'GP':'int', 'G':'int', 'A':'int', 'TP':'int', 'PPG':'float', 'PIM':'int', 'Years':'int',                                                       'firstYear':'int', 'lastYear':'int', 'Art Ross Awards':'int',
                                                    'Conn Smythe Awards':'int', 'Hart Awards':'int', 'Calder Awards':'int',
                                                    'James Norris Awards':'int', 'Ted Lindsay Awards':'int', 'Maurice Richard Awards':'int',                                                        'Cups':'int', 'All-Star Games':'int', 'HoF':'int'}) 
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,...,10,2,9,0,0,5,0,4,18,1
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,...,5,0,1,0,0,3,0,2,10,0
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,...,0,1,2,0,0,2,0,0,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,...,6,0,6,0,0,0,0,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,...,0,0,0,0,0,0,0,2,4,1

In [90]:
master_stats_file_df.dtypes

Player                     object
GP                          int32
G                           int32
A                           int32
TP                          int32
PPG                       float64
PIM                         int32
Years                       int32
POS                        object
firstYear                   int32
lastYear                    int32
Art Ross Awards             int32
Conn Smythe Awards          int32
Hart Awards                 int32
Calder Awards               int32
James Norris Awards         int32
Ted Lindsay Awards          int32
Maurice Richard Awards      int32
Cups                        int32
All-Star Games              int32
HoF                         int32
dtype: object

In [91]:
# Save the file to csv
master_stats_file_df.to_csv("Output/master_stats_file.csv", index=False, header=True, encoding='utf-8-sig')

In [92]:
# Create test_train data for players that have not played as of 2017, essentially retired players
test_train_df = master_stats_file_df[master_stats_file_df['lastYear'] < 2017]
test_train_df = test_train_df.fillna(0)
test_train_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,...,10,2,9,0,0,5,0,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,...,0,1,2,0,0,2,0,0,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,...,6,0,6,0,0,0,0,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,...,0,0,0,0,0,0,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,18,C,1971,...,1,0,0,0,0,2,0,0,8,1

In [93]:
# Save the file to csv
test_train_df.to_csv("Output/test_train_file.csv", index=False, header=True, encoding='utf-8-sig')

In [94]:
# Create predict data for palyers who played their last game as of 2017, includes active players as well
predict_df = master_stats_file_df[master_stats_file_df['lastYear'] >= 2017]
predict_df = predict_df.fillna(0)
predict_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24,RW,1990,...,5,0,1,0,0,3,0,2,10,0
13,Joe Thornton,1640,421,1090,1511,0.921,1250,23,C,1997,...,1,0,1,0,0,0,0,0,6,0
33,Jarome Iginla,1554,625,675,1300,0.837,1040,21,RW,1995,...,1,0,0,0,0,1,2,0,6,1
34,Alexander Ovechkin,1156,707,576,1283,1.110,719,16,LW,2005,...,1,1,3,1,0,3,9,1,7,0
37,Sidney Crosby,988,465,803,1268,1.283,675,16,C,2005,...,2,2,2,0,0,3,2,3,4,0

In [95]:
# Save the file to csv
predict_df.to_csv("Output/predict_file.csv", index=False, header=True, encoding='utf-8-sig')

In [96]:
# Filtered the test data to only include players that played as of 1967.  Possibly improve ML predictions
test_train_filt67_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017)]
test_train_filt67_df = test_train_filt67_df.fillna(0)
test_train_filt67_df.head()

,Player,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,...,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20,C,1979,...,10,2,9,0,0,5,0,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,25,C,1979,...,0,1,2,0,0,2,0,0,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26,RW,1946,...,6,0,6,0,0,0,0,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,23,C,1981,...,0,0,0,0,0,0,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,18,C,1971,...,1,0,0,0,0,2,0,0,8,1

In [98]:
# Save the file to csv
test_train_filt67_df.to_csv("Output/test_train_filt67_file.csv", index=False, header=True, encoding='utf-8-sig')

In [99]:
# Review the different position designations.
master_stats_file_df['POS'].unique()

array(['C', 'RW', 'D', 'LW', 'C/RW', 'LW/RW', 'C/W', 'D/C', 'RW/LW',
       'LW/C', 'RW/C', 'LW/D', 'W/C', 'C/LW', 'F', 'D/F', 'D/LW', 'D/RW',
       'C/D', 'RW/D', 'D/W', 'F/D', 'LW/C/D'], dtype=object)

In [100]:
master_stats_file_df.count

<bound method DataFrame.count of                  Player    GP    G     A    TP    PPG   PIM  Years   POS  \
0         Wayne Gretzky  1487  894  1963  2857  1.921   577     20     C
1          Jaromir Jagr  1733  766  1155  1921  1.108  1167     24    RW
2          Mark Messier  1756  694  1193  1887  1.075  1910     25     C
3           Gordie Howe  1767  801  1049  1850  1.047  1685     26    RW
4           Ron Francis  1731  549  1249  1798  1.039   979     23     C
...                 ...   ...  ...   ...   ...    ...   ...    ...   ...
7229  Victor Soderstrom     0    0     0     0  0.000     0      1     D
7230   Jonathan Aspirot     0    0     0     0  0.000     0      1  D/LW
7231      Drew O'Connor     0    0     0     0  0.000     0      1    LW
7232    Jake Neighbours     0    0     0     0  0.000     0      1    LW
7233      Ty Dellandrea     0    0     0     0  0.000     0      1     C

      firstYear  ...  Art Ross Awards  Conn Smythe Awards  Hart Awards  \
0          1979  ...               10                   2            9
1          1990  ...                5                   0            1
2          1979  ...                0                   1            2
3          1946  ...                6                   0            6
4          1981  ...                0                   0            0
...         ...  ...              ...                 ...          ...
7229       2020  ...                0                   0            0
7230       2020  ...                0                   0            0
7231       2020  ...                0                   0            0
7232       2020  ...                0                   0            0
7233       2020  ...                0                   0            0

      Calder Awards  James Norris Awards  Ted Lindsay Awards  \
0                 0                    0                   5
1                 0                    0                   3
2                 0                    0                   2
3                 0                    0                   0
4                 0                    0                   0
...             ...                  ...                 ...
7229              0                    0                   0
7230              0                    0                   0
7231              0                    0                   0
7232              0                    0                   0
7233              0                    0                   0

      Maurice Richard Awards  Cups  All-Star Games  HoF
0                          0     4              18    1
1                          0     2              10    0
2                          0     0              15    1
3                          0     4              23    1
4                          0     2               4    1
...                      ...   ...             ...  ...
7229                       0     0               0    0
7230                       0     0               0    0
7231                       0     0               0    0
7232                       0     0               0    0
7233                       0     0               0    0

[7234 rows x 21 columns]>

In [101]:
test_train_df.count

<bound method DataFrame.count of              Player    GP    G     A    TP    PPG   PIM  Years POS  firstYear  \
0     Wayne Gretzky  1487  894  1963  2857  1.921   577     20   C       1979
2      Mark Messier  1756  694  1193  1887  1.075  1910     25   C       1979
3       Gordie Howe  1767  801  1049  1850  1.047  1685     26  RW       1946
4       Ron Francis  1731  549  1249  1798  1.039   979     23   C       1981
5     Marcel Dionne  1348  731  1040  1771  1.314   600     18   C       1971
...             ...   ...  ...   ...   ...    ...   ...    ...  ..        ...
7199  Billy Cameron    39    0     0     0  0.000     2      2  RW       1923
7200   Frank Peters    43    0     0     0  0.000    59      1   D       1930
7201    Gord Strate    61    0     0     0  0.000    34      3   D       1956
7218   Merv Kuryluk     0    0     0     0  0.000     0      1  LW       1961
7219  George McAvoy     0    0     0     0  0.000     0      1   D       1954

      ...  Art Ross Awards  Conn Smythe Awards  Hart Awards  Calder Awards  \
0     ...               10                   2            9              0
2     ...                0                   1            2              0
3     ...                6                   0            6              0
4     ...                0                   0            0              0
5     ...                1                   0            0              0
...   ...              ...                 ...          ...            ...
7199  ...                0                   0            0              0
7200  ...                0                   0            0              0
7201  ...                0                   0            0              0
7218  ...                0                   0            0              0
7219  ...                0                   0            0              0

      James Norris Awards  Ted Lindsay Awards  Maurice Richard Awards  Cups  \
0                       0                   5                       0     4
2                       0                   2                       0     0
3                       0                   0                       0     4
4                       0                   0                       0     2
5                       0                   2                       0     0
...                   ...                 ...                     ...   ...
7199                    0                   0                       0     1
7200                    0                   0                       0     0
7201                    0                   0                       0     0
7218                    0                   0                       0     0
7219                    0                   0                       0     0

      All-Star Games  HoF
0                 18    1
2                 15    1
3                 23    1
4                  4    1
5                  8    1
...              ...  ...
7199               0    0
7200               0    0
7201               0    0
7218               0    0
7219               0    0

[5862 rows x 21 columns]>

In [102]:
predict_df.count

<bound method DataFrame.count of                   Player    GP    G     A    TP    PPG   PIM  Years   POS  \
1           Jaromir Jagr  1733  766  1155  1921  1.108  1167     24    RW
13          Joe Thornton  1640  421  1090  1511  0.921  1250     23     C
33         Jarome Iginla  1554  625   675  1300  0.837  1040     21    RW
34    Alexander Ovechkin  1156  707   576  1283  1.110   719     16    LW
37         Sidney Crosby   988  465   803  1268  1.283   675     16     C
...                  ...   ...  ...   ...   ...    ...   ...    ...   ...
7229   Victor Soderstrom     0    0     0     0  0.000     0      1     D
7230    Jonathan Aspirot     0    0     0     0  0.000     0      1  D/LW
7231       Drew O'Connor     0    0     0     0  0.000     0      1    LW
7232     Jake Neighbours     0    0     0     0  0.000     0      1    LW
7233       Ty Dellandrea     0    0     0     0  0.000     0      1     C

      firstYear  ...  Art Ross Awards  Conn Smythe Awards  Hart Awards  \
1          1990  ...                5                   0            1
13         1997  ...                1                   0            1
33         1995  ...                1                   0            0
34         2005  ...                1                   1            3
37         2005  ...                2                   2            2
...         ...  ...              ...                 ...          ...
7229       2020  ...                0                   0            0
7230       2020  ...                0                   0            0
7231       2020  ...                0                   0            0
7232       2020  ...                0                   0            0
7233       2020  ...                0                   0            0

      Calder Awards  James Norris Awards  Ted Lindsay Awards  \
1                 0                    0                   3
13                0                    0                   0
33                0                    0                   1
34                1                    0                   3
37                0                    0                   3
...             ...                  ...                 ...
7229              0                    0                   0
7230              0                    0                   0
7231              0                    0                   0
7232              0                    0                   0
7233              0                    0                   0

      Maurice Richard Awards  Cups  All-Star Games  HoF
1                          0     2              10    0
13                         0     0               6    0
33                         2     0               6    1
34                         9     1               7    0
37                         2     3               4    0
...                      ...   ...             ...  ...
7229                       0     0               0    0
7230                       0     0               0    0
7231                       0     0               0    0
7232                       0     0               0    0
7233                       0     0               0    0

[1372 rows x 21 columns]>

In [103]:
test_train_filt67_df.count

<bound method DataFrame.count of                 Player    GP    G     A    TP    PPG   PIM  Years   POS  \
0        Wayne Gretzky  1487  894  1963  2857  1.921   577     20     C
2         Mark Messier  1756  694  1193  1887  1.075  1910     25     C
3          Gordie Howe  1767  801  1049  1850  1.047  1685     26    RW
4          Ron Francis  1731  549  1249  1798  1.039   979     23     C
5        Marcel Dionne  1348  731  1040  1771  1.314   600     18     C
...                ...   ...  ...   ...   ...    ...   ...    ...   ...
7188    Rocky Thompson    25    0     0     0  0.000   117      4  D/RW
7189      Paul Higgins    25    0     0     0  0.000   152      2    RW
7191      Nathan Smith    26    0     0     0  0.000    14      5     C
7194         Marc Moro    30    0     0     0  0.000    77      4     D
7197  Stephane Guerard    34    0     0     0  0.000    40      2     D

      firstYear  ...  Art Ross Awards  Conn Smythe Awards  Hart Awards  \
0          1979  ...               10                   2            9
2          1979  ...                0                   1            2
3          1946  ...                6                   0            6
4          1981  ...                0                   0            0
5          1971  ...                1                   0            0
...         ...  ...              ...                 ...          ...
7188       1997  ...                0                   0            0
7189       1981  ...                0                   0            0
7191       2003  ...                0                   0            0
7194       1997  ...                0                   0            0
7197       1987  ...                0                   0            0

      Calder Awards  James Norris Awards  Ted Lindsay Awards  \
0                 0                    0                   5
2                 0                    0                   2
3                 0                    0                   0
4                 0                    0                   0
5                 0                    0                   2
...             ...                  ...                 ...
7188              0                    0                   0
7189              0                    0                   0
7191              0                    0                   0
7194              0                    0                   0
7197              0                    0                   0

      Maurice Richard Awards  Cups  All-Star Games  HoF
0                          0     4              18    1
2                          0     0              15    1
3                          0     4              23    1
4                          0     2               4    1
5                          0     0               8    1
...                      ...   ...             ...  ...
7188                       0     0               0    0
7189                       0     0               0    0
7191                       0     0               0    0
7194                       0     0               0    0
7197                       0     0               0    0

[4690 rows x 21 columns]>

In [104]:
test_train_filt67_df.describe()

,GP,G,A,TP,PPG,PIM,Years,firstYear,lastYear,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
count,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.00000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000
mean,294.881237,52.041365,86.795522,138.837100,0.297325,277.149467,6.21194,1988.714499,1995.552878,0.010448,0.005757,0.009808,0.008742,0.011514,0.005970,0.001279,0.183582,0.343070,0.022601
std,352.812980,97.888867,150.289116,242.769563,0.241818,444.570760,5.07553,13.957730,13.506611,0.231128,0.083693,0.194589,0.093099,0.227825,0.123772,0.041285,0.608978,1.413082,0.148644
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1946.000000,1967.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,1.000000,2.000000,3.000000,0.125000,9.000000,2.00000,1979.000000,1984.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,126.000000,9.000000,19.000000,30.000000,0.250000,72.000000,5.00000,1989.000000,1997.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,502.750000,55.000000,107.000000,164.000000,0.429000,361.000000,10.00000,2000.000000,2007.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1767.000000,894.000000,1963.000000,2857.000000,1.921000,3966.000000,26.00000,2015.000000,2016.000000,10.000000,2.000000,9.000000,1.000000,8.000000,5.000000,2.000000,4.000000,23.000000,1.000000

In [105]:
test_train_filt67_mingame_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017) &                                                        (master_stats_file_df['TP'] > 99)]
test_train_filt67_mingame_df = test_train_filt67_mingame_df.fillna(0)
test_train_filt67_mingame_df.count

<bound method DataFrame.count of                 Player    GP    G     A    TP    PPG   PIM  Years    POS  \
0        Wayne Gretzky  1487  894  1963  2857  1.921   577     20      C
2         Mark Messier  1756  694  1193  1887  1.075  1910     25      C
3          Gordie Howe  1767  801  1049  1850  1.047  1685     26     RW
4          Ron Francis  1731  549  1249  1798  1.039   979     23      C
5        Marcel Dionne  1348  731  1040  1771  1.314   600     18      C
...                ...   ...  ...   ...   ...    ...   ...    ...    ...
2297        Ryan Jones   334   54    46   100  0.299   181      6  LW/RW
2300  Rosaire Paiement   190   48    52   100  0.526   343      5      C
2301   Daniel Carcillo   429   48    52   100  0.233  1233      9     LW
2302      Jim McKenzie   880   48    52   100  0.114  1739     15     LW
2307   Michael Thelven   207   20    80   100  0.483   217      5      D

      firstYear  ...  Art Ross Awards  Conn Smythe Awards  Hart Awards  \
0          1979  ...               10                   2            9
2          1979  ...                0                   1            2
3          1946  ...                6                   0            6
4          1981  ...                0                   0            0
5          1971  ...                1                   0            0
...         ...  ...              ...                 ...          ...
2297       2008  ...                0                   0            0
2300       1967  ...                0                   0            0
2301       2006  ...                0                   0            0
2302       1989  ...                0                   0            0
2307       1985  ...                0                   0            0

      Calder Awards  James Norris Awards  Ted Lindsay Awards  \
0                 0                    0                   5
2                 0                    0                   2
3                 0                    0                   0
4                 0                    0                   0
5                 0                    0                   2
...             ...                  ...                 ...
2297              0                    0                   0
2300              0                    0                   0
2301              0                    0                   0
2302              0                    0                   0
2307              0                    0                   0

      Maurice Richard Awards  Cups  All-Star Games  HoF
0                          0     4              18    1
2                          0     0              15    1
3                          0     4              23    1
4                          0     2               4    1
5                          0     0               8    1
...                      ...   ...             ...  ...
2297                       0     0               0    0
2300                       0     0               0    0
2301                       0     2               0    0
2302                       0     1               0    0
2307                       0     0               0    0

[1539 rows x 21 columns]>

In [106]:
test_train_filt67_mingame_df.describe()

,GP,G,A,TP,PPG,PIM,Years,firstYear,lastYear,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Cups,All-Star Games,HoF
count,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000,1539.000000
mean,712.050032,144.919428,238.077323,382.996101,0.512543,629.163743,11.923977,1982.879792,1995.489279,0.031839,0.017544,0.029890,0.026641,0.035088,0.018194,0.003899,0.474334,1.033788,0.068876
std,299.842884,127.194234,184.799015,299.265438,0.228532,543.974463,4.047355,12.859973,13.206536,0.402721,0.145425,0.338882,0.161083,0.396756,0.215599,0.072016,0.936104,2.312718,0.253325
min,137.000000,8.000000,41.000000,100.000000,0.114000,24.000000,2.000000,1946.000000,1967.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,482.000000,56.000000,110.000000,168.000000,0.344000,241.500000,9.000000,1974.000000,1984.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,684.000000,100.000000,182.000000,285.000000,0.481000,469.000000,12.000000,1983.000000,1997.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,906.500000,194.000000,308.500000,498.000000,0.641500,830.000000,15.000000,1993.000000,2007.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,1767.000000,894.000000,1963.000000,2857.000000,1.921000,3966.000000,26.000000,2010.000000,2016.000000,10.000000,2.000000,9.000000,1.000000,8.000000,5.000000,2.000000,4.000000,23.000000,1.000000