In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import time
import pandas as pd
import requests

In [2]:
# Scrape data from hockey website url

player_tables = []

for x in range(1, 74):

    # url = f'https://www.eliteprospects.com/league/nhl/stats/all-time?page={x}'
    # browser.visit(url)
    # time.sleep(3)
    # html = browser.html
    # soup = BeautifulSoup(html, 'html.parser')

    # players = soup.find('table', class_='player-stats')

    url = f'https://www.eliteprospects.com/league/nhl/stats/all-time?page={x}'
    html = requests.get(url).text

    soup = BeautifulSoup(html, 'html.parser')

    players = soup.find('table', class_='player-stats')

    player_tables.append(pd.read_html(str(players))[0])

    
    print('page:', x, '-------------')
    

    # browser.links.find_by_partial_text('Next').click()
print("Scrapping completed!")

page: 1 -------------
page: 2 -------------
page: 3 -------------
page: 4 -------------
page: 5 -------------
page: 6 -------------
page: 7 -------------
page: 8 -------------
page: 9 -------------
page: 10 -------------
page: 11 -------------
page: 12 -------------
page: 13 -------------
page: 14 -------------
page: 15 -------------
page: 16 -------------
page: 17 -------------
page: 18 -------------
page: 19 -------------
page: 20 -------------
page: 21 -------------
page: 22 -------------
page: 23 -------------
page: 24 -------------
page: 25 -------------
page: 26 -------------
page: 27 -------------
page: 28 -------------
page: 29 -------------
page: 30 -------------
page: 31 -------------
page: 32 -------------
page: 33 -------------
page: 34 -------------
page: 35 -------------
page: 36 -------------
page: 37 -------------
page: 38 -------------
page: 39 -------------
page: 40 -------------
page: 41 -------------
page: 42 -------------
page: 43 -------------
page: 44 -------------
page: 45 -------------
page: 46 -------------
page: 47 -------------
page: 48 -------------
page: 49 -------------
page: 50 -------------
page: 51 -------------
page: 52 -------------
page: 53 -------------
page: 54 -------------
page: 55 -------------
page: 56 -------------
page: 57 -------------
page: 58 -------------
page: 59 -------------
page: 60 -------------
page: 61 -------------
page: 62 -------------
page: 63 -------------
page: 64 -------------
page: 65 -------------
page: 66 -------------
page: 67 -------------
page: 68 -------------
page: 69 -------------
page: 70 -------------
page: 71 -------------
page: 72 -------------
page: 73 -------------
Scrapping completed!

In [11]:
# Combined the 73 pages of data to one dataframe.
# and dropped missing values
combined_df = pd.concat(player_tables, ignore_index=True)
combined_df = combined_df.dropna()
combined_df.head()

,#,Player,GP,G,A,TP,PPG,PIM,Period,Years
0,1.0,Wayne Gretzky (C),1487,894,1963,2857,1.921,577,1979-1999,20.0
1,2.0,Jaromír Jágr (RW),1733,766,1155,1921,1.108,1167,1990-2018,24.0
2,3.0,Mark Messier (C),1756,694,1193,1887,1.075,1910,1979-2004,25.0
3,4.0,Gordie Howe (RW),1767,801,1049,1850,1.047,1685,1946-1980,26.0
4,5.0,Ron Francis (C),1731,549,1249,1798,1.039,979,1981-2004,23.0

In [4]:
# Created new df and split the player column into Name and POS
#  and dropped ")" and player column and moved name column to the left
adjusted_df = combined_df
adjusted_df[['Name','POS']] = combined_df.Player.str.split("(",expand=True) 
adjusted_df=adjusted_df.replace('\)','',regex=True)
##adjusted_df = adjusted_df.drop('Player', 1)
adjusted_df = adjusted_df[['Name', 'GP', 'G', 'A', 'TP', 'PPG', 'PIM', 'Period', 'Years', 'POS']]
adjusted_df.head()

             Name    GP    G     A    TP    PPG   PIM     Period  Years POS
0  Wayne Gretzky   1487  894  1963  2857  1.921   577  1979-1999   20.0   C
1   Jaromír Jágr   1733  766  1155  1921  1.108  1167  1990-2018   24.0  RW
2   Mark Messier   1756  694  1193  1887  1.075  1910  1979-2004   25.0   C
3    Gordie Howe   1767  801  1049  1850  1.047  1685  1946-1980   26.0  RW
4    Ron Francis   1731  549  1249  1798  1.039   979  1981-2004   23.0   C

In [12]:
# Remove and replace special characters from Name column

cols_to_check = ['Name']
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'á':'a'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'í':'i'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ä':'a'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ö':'o'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ç':'c'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'å':'a'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'É':'E'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'Å':'A'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'è':'e'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ë':'e'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'î':'i'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ó':'o'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ô':'o'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ø':'o'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ß':'ss'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ü':'u'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ý':'y'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'Ö':'O'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'é':'e'}, regex=True)

adjusted_df.head()

,Name,GP,G,A,TP,PPG,PIM,Period,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1979-1999,20.0,C,1979,1999
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,1990-2018,24.0,RW,1990,2018
2,Mark Messier,1756,694,1193,1887,1.075,1910,1979-2004,25.0,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1946-1980,26.0,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,1981-2004,23.0,C,1981,2004

In [13]:
# Remove empty spaces to the left of value in name column
adjusted_df['Name'] = adjusted_df['Name'].str.rstrip()
adjusted_df.head()

,Name,GP,G,A,TP,PPG,PIM,Period,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1979-1999,20.0,C,1979,1999
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,1990-2018,24.0,RW,1990,2018
2,Mark Messier,1756,694,1193,1887,1.075,1910,1979-2004,25.0,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1946-1980,26.0,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,1981-2004,23.0,C,1981,2004

In [14]:
# Split Period column into firstYear and lastYear
adjusted_df[['firstYear','lastYear']] = adjusted_df.Period.str.split("-",expand=True)
adjusted_df.head()

,Name,GP,G,A,TP,PPG,PIM,Period,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1979-1999,20.0,C,1979,1999
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,1990-2018,24.0,RW,1990,2018
2,Mark Messier,1756,694,1193,1887,1.075,1910,1979-2004,25.0,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1946-1980,26.0,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,1981-2004,23.0,C,1981,2004

In [15]:
# Converted data type from object to integer ono the first and last year columns
adjusted_df["firstYear"] = adjusted_df["firstYear"].astype(str).astype(int)
adjusted_df["lastYear"] = adjusted_df["lastYear"].astype(str).astype(int)

In [16]:
adjusted_df.dtypes

Name          object
GP            object
G             object
A             object
TP            object
PPG           object
PIM           object
Period        object
Years        float64
POS           object
firstYear      int32
lastYear       int32
dtype: object

In [17]:
# create dataframe for players with a last year greater than or equal to 2017.
# creates a list of players that are eligible for the hockey hall of fame.
retired_df = adjusted_df[['Name', 'GP', 'G', 'A', 'TP', 'PPG', 'PIM', 'Years', 'POS', 'firstYear', 'lastYear']]
retired_df = retired_df[adjusted_df['lastYear'] <= 2017] 
retired_df.head()

,Name,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,20.0,C,1979,1999
2,Mark Messier,1756,694,1193,1887,1.075,1910,25.0,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,26.0,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,23.0,C,1981,2004
5,Marcel Dionne,1348,731,1040,1771,1.314,600,18.0,C,1971,1989

In [19]:
# create dataframe for players with a last year greater than or equal to 2017.
# creates a list of players that are eligible for the hockey hall of fame.
potential_df = adjusted_df[['Name', 'GP', 'G', 'A', 'TP', 'PPG', 'PIM', 'Years', 'POS', 'firstYear', 'lastYear']]
potential_df = potential_df[adjusted_df['lastYear'] > 2017] 
potential_df.head()

,Name,GP,G,A,TP,PPG,PIM,Years,POS,firstYear,lastYear
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,24.0,RW,1990,2018
14,Joe Thornton,1637,420,1089,1509,0.922,1248,23.0,C,1997,2021
38,Alexander Ovechkin,1153,706,574,1280,1.11,719,16.0,LW,2005,2021
41,Sidney Crosby,985,463,801,1264,1.283,673,16.0,C,2005,2021
53,Patrick Marleau,1724,562,626,1188,0.689,517,23.0,LW,1997,2021

In [23]:
# Remove duplicate names
retiredDrop_df = retired_df.drop_duplicates(subset=['Name'])
potentialDrop_df = potential_df.drop_duplicates(subset=['Name'])

In [21]:
retired_df.count

<bound method DataFrame.count of                Name    GP    G     A    TP    PPG   PIM  Years POS  firstYear  \
0     Wayne Gretzky  1487  894  1963  2857  1.921   577   20.0   C       1979
2      Mark Messier  1756  694  1193  1887  1.075  1910   25.0   C       1979
3       Gordie Howe  1767  801  1049  1850  1.047  1685   26.0  RW       1946
4       Ron Francis  1731  549  1249  1798  1.039   979   23.0   C       1981
5     Marcel Dionne  1348  731  1040  1771  1.314   600   18.0   C       1971
...             ...   ...  ...   ...   ...    ...   ...    ...  ..        ...
7888  Billy Cameron    39    0     0     0  0.000     2    2.0  RW       1923
7889   Frank Peters    43    0     0     0  0.000    59    1.0   D       1930
7890    Gord Strate    61    0     0     0  0.000    34    3.0   D       1956
7914   Merv Kuryluk     -    -     -     -      -     -    1.0  LW       1961
7915  George McAvoy     -    -     -     -      -     -    1.0   D       1954

      lastYear
0         1999
2         2004
3         1980
4         2004
5         1989
...        ...
7888      1926
7889      1931
7890      1959
7914      1962
7915      1955

[6035 rows x 11 columns]>

In [22]:
retiredDrop_df.count

<bound method DataFrame.count of                Name    GP    G     A    TP    PPG   PIM  Years POS  firstYear  \
0     Wayne Gretzky  1487  894  1963  2857  1.921   577   20.0   C       1979
2      Mark Messier  1756  694  1193  1887  1.075  1910   25.0   C       1979
3       Gordie Howe  1767  801  1049  1850  1.047  1685   26.0  RW       1946
4       Ron Francis  1731  549  1249  1798  1.039   979   23.0   C       1981
5     Marcel Dionne  1348  731  1040  1771  1.314   600   18.0   C       1971
...             ...   ...  ...   ...   ...    ...   ...    ...  ..        ...
7888  Billy Cameron    39    0     0     0  0.000     2    2.0  RW       1923
7889   Frank Peters    43    0     0     0  0.000    59    1.0   D       1930
7890    Gord Strate    61    0     0     0  0.000    34    3.0   D       1956
7914   Merv Kuryluk     -    -     -     -      -     -    1.0  LW       1961
7915  George McAvoy     -    -     -     -      -     -    1.0   D       1954

      lastYear
0         1999
2         2004
3         1980
4         2004
5         1989
...        ...
7888      1926
7889      1931
7890      1959
7914      1962
7915      1955

[5999 rows x 11 columns]>

In [24]:
potential_df.count

<bound method DataFrame.count of                     Name    GP    G     A    TP    PPG   PIM  Years   POS  \
1           Jaromir Jagr  1733  766  1155  1921  1.108  1167   24.0    RW
14          Joe Thornton  1637  420  1089  1509  0.922  1248   23.0     C
38    Alexander Ovechkin  1153  706   574  1280   1.11   719   16.0    LW
41         Sidney Crosby   985  463   801  1264  1.283   673   16.0     C
53       Patrick Marleau  1724  562   626  1188  0.689   517   23.0    LW
...                  ...   ...  ...   ...   ...    ...   ...    ...   ...
7925   Victor Soderstrom     -    -     -     -      -     -    1.0     D
7926         Tim Stutzle     -    -     -     -      -     -    1.0  C/LW
7927    Jonathan Aspirot     -    -     -     -      -     -    1.0  D/LW
7928       Drew O'Connor     -    -     -     -      -     -    1.0    LW
7929       Ty Dellandrea     -    -     -     -      -     -    1.0     C

      firstYear  lastYear
1          1990      2018
14         1997      2021
38         2005      2021
41         2005      2021
53         1997      2021
...         ...       ...
7925       2020      2021
7926       2020      2021
7927       2020      2021
7928       2020      2021
7929       2020      2021

[1240 rows x 11 columns]>

In [26]:
potentialDrop_df.count

<bound method DataFrame.count of                     Name    GP    G     A    TP    PPG   PIM  Years   POS  \
1           Jaromir Jagr  1733  766  1155  1921  1.108  1167   24.0    RW
14          Joe Thornton  1637  420  1089  1509  0.922  1248   23.0     C
38    Alexander Ovechkin  1153  706   574  1280   1.11   719   16.0    LW
41         Sidney Crosby   985  463   801  1264  1.283   673   16.0     C
53       Patrick Marleau  1724  562   626  1188  0.689   517   23.0    LW
...                  ...   ...  ...   ...   ...    ...   ...    ...   ...
7925   Victor Soderstrom     -    -     -     -      -     -    1.0     D
7926         Tim Stutzle     -    -     -     -      -     -    1.0  C/LW
7927    Jonathan Aspirot     -    -     -     -      -     -    1.0  D/LW
7928       Drew O'Connor     -    -     -     -      -     -    1.0    LW
7929       Ty Dellandrea     -    -     -     -      -     -    1.0     C

      firstYear  lastYear
1          1990      2018
14         1997      2021
38         2005      2021
41         2005      2021
53         1997      2021
...         ...       ...
7925       2020      2021
7926       2020      2021
7927       2020      2021
7928       2020      2021
7929       2020      2021

[1239 rows x 11 columns]>

In [9]:
# Saved to csv files
combined_df.to_csv("Output2/career_stats.csv", index=False, header=True, encoding='utf-8-sig')

In [17]:
adjusted_df.to_csv("Output2/career_stats_adj.csv", index=False, header=True, encoding='utf-8-sig')

In [29]:
retired_df.to_csv("Output2/retired_player_stats.csv", index=False, header=True, encoding='utf-8-sig')

In [30]:
potential_df.to_csv("Output2/potential_player_stats.csv", index=False, header=True, encoding='utf-8-sig')