Create the file that will show player award, stanley cup wins, and all-star game appearances.

In [91]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time
import requests

NHL Art Ross Trophy Winners,
Award presented to League's scoring champion

In [92]:
# Scrape the data for the Art Ross Award, Scoring Champion
url = f'https://www.nhl.com/news/nhl-art-ross-trophy-winners-complete-list/c-287899824?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Art Ross']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
art_ross_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
art_ross_df['Year'] = art_ross_df['Year'].astype(int)
# filter dataframe 
# art_ross_df = art_ross_df.loc[art_ross_df['Year'] >= 1967,:]
art_ross_df.head()

   Year           Player                 Team     Award
0  2020   Leon Draisaitl      Edmonton Oilers  Art Ross
1  2019  Nikita Kucherov  Tampa Bay Lightning  Art Ross
2  2018   Connor McDavid      Edmonton Oilers  Art Ross
3  2017   Connor McDavid      Edmonton Oilers  Art Ross
4  2016     Patrick Kane   Chicago Blackhawks  Art Ross

In [93]:
# Group the data by the player's name column and count
art_ross_grp_df = art_ross_df.groupby(by="Player", as_index=False).count()
art_ross_grp_df.head()

             Player  Year  Team  Award
0        Ace Bailey     1     1      1
1     Alex Ovechkin     1     1      1
2          Babe Dye     2     2      2
3  Bernie Geoffrion     2     2      2
4         Bill Cook     2     2      2

In [94]:
# Drop columns that are not needed
art_ross_grp_df = art_ross_grp_df.drop(['Team', 'Award'], axis=1)
art_ross_grp_df.head()

             Player  Year
0        Ace Bailey     1
1     Alex Ovechkin     1
2          Babe Dye     2
3  Bernie Geoffrion     2
4         Bill Cook     2

In [95]:
# Rename the year column to the award name
art_ross_grp_df = art_ross_grp_df.rename(columns={"Year": "Art Ross Awards"})
art_ross_grp_df.head()

             Player  Art Ross Awards
0        Ace Bailey                1
1     Alex Ovechkin                1
2          Babe Dye                2
3  Bernie Geoffrion                2
4         Bill Cook                2

In [96]:
# Change names to match the master stats
art_ross_df.replace("Bryan Hextall", "Bryan Hextall, Sr.")
art_ross_grp_df.head()

             Player  Art Ross Awards
0        Ace Bailey                1
1     Alex Ovechkin                1
2          Babe Dye                2
3  Bernie Geoffrion                2
4         Bill Cook                2

NHL Hart Memorial Trophy Winners, Award presente to the regular season MVP.

In [97]:
# Scrape the data for the Hart Memorial Award, League MVP
url = f'https://www.nhl.com/news/nhl-hart-memorial-trophy-winners-complete-list/c-287743272?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Hart Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
hart_memorial_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
hart_memorial_df['Year'] = hart_memorial_df['Year'].astype(int)
# filter dataframe 
# hart_memorial_df = hart_memorial_df.loc[hart_memorial_df['Year'] >= 1967,:]
hart_memorial_df.head()

   Year           Player                 Team          Award
0  2020   Leon Draisaitl      Edmonton Oilers  Hart Memorial
1  2019  Nikita Kucherov  Tampa Bay Lightning  Hart Memorial
2  2018      Taylor Hall    New Jersey Devils  Hart Memorial
3  2017   Connor McDavid      Edmonton Oilers  Hart Memorial
4  2016     Patrick Kane   Chicago Blackhawks  Hart Memorial

In [98]:
# Group the data by the player's name column and count
hart_grp_df = hart_memorial_df.groupby(by="Player", as_index=False).count()
hart_grp_df.head()

          Player  Year  Team  Award
0     Al Rollins     1     1      1
1  Alex Ovechkin     3     3      3
2  Andy Bathgate     1     1      1
3  Aurele Joliat     1     1      1
4     Babe Pratt     1     1      1

In [99]:
# Drop columns that are not needed
hart_grp_df = hart_grp_df.drop(['Team', 'Award'], axis=1)
hart_grp_df.head()

          Player  Year
0     Al Rollins     1
1  Alex Ovechkin     3
2  Andy Bathgate     1
3  Aurele Joliat     1
4     Babe Pratt     1

In [100]:
# Rename the year column to the award name
hart_grp_df = hart_grp_df.rename(columns={"Year": "Hart Awards"})
hart_grp_df.head()

          Player  Hart Awards
0     Al Rollins            1
1  Alex Ovechkin            3
2  Andy Bathgate            1
3  Aurele Joliat            1
4     Babe Pratt            1

NHL Conn Smythe Trophy Winners, Award presented to the playoffs MVP

In [101]:
# Scrape the data for the Conn Smythe Trophy Award, Playoff MVP
url = 'https://www.nhl.com/news/nhl-conn-smythe-trophy-winners-complete-list/c-287709808?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Conn Smythe"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
conn_smythe_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
conn_smythe_df['Year'] = conn_smythe_df['Year'].astype(int)
# filter dataframe 
# conn_smythe_df = conn_smythe_df.loc[conn_smythe_df['Year'] >= 1967,:]
conn_smythe_df.head()

   Year         Player                 Team        Award
0  2020  Victor Hedman  Tampa Bay Lightning  Conn Smythe
1  2019  Ryan O'Reilly      St. Louis Blues  Conn Smythe
2  2018  Alex Ovechkin  Washington Capitals  Conn Smythe
3  2017  Sidney Crosby  Pittsburgh Penguins  Conn Smythe
4  2016  Sidney Crosby  Pittsburgh Penguins  Conn Smythe

In [102]:
# Group the data by the player's name column and count
conn_smythe_grp_df = conn_smythe_df.groupby(by="Player", as_index=False).count()
conn_smythe_grp_df.head()

          Player  Year  Team  Award
0    Al MacInnis     1     1      1
1  Alex Ovechkin     1     1      1
2  Bernie Parent     2     2      2
3   Bill Ranford     1     1      1
4    Billy Smith     1     1      1

In [103]:
# Drop columns that are not needed
conn_smythe_grp_df = conn_smythe_grp_df.drop(['Team', 'Award'], axis=1)
conn_smythe_grp_df.head()

          Player  Year
0    Al MacInnis     1
1  Alex Ovechkin     1
2  Bernie Parent     2
3   Bill Ranford     1
4    Billy Smith     1

In [104]:
# Rename the year column to the award name
conn_smythe_grp_df = conn_smythe_grp_df.rename(columns={"Year": "Conn Smythe Awards"})
conn_smythe_grp_df.head()

          Player  Conn Smythe Awards
0    Al MacInnis                   1
1  Alex Ovechkin                   1
2  Bernie Parent                   2
3   Bill Ranford                   1
4    Billy Smith                   1

NHL Calder Memorial Trophy Winners, Award presented to the rookie of the year.

In [105]:
# Scrape the data for the Calder Memorial Trophy Awards, Rookie of the Year
url = 'https://www.nhl.com/news/nhl-calder-memorial-trophy-winners-complete-list/c-287749198?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Calder Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
calder_memorial_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
calder_memorial_df['Year'] = calder_memorial_df['Year'].astype(int)
# filter dataframe 
# calder_memorial_df = calder_memorial_df.loc[calder_memorial_df['Year'] >= 1967,:]
calder_memorial_df.head()

   Year            Player                 Team            Award
0  2020        Cale Makar   Colorado Avalanche  Calder Memorial
1  2019  Elias Pettersson    Vancouver Canucks  Calder Memorial
2  2018     Mathew Barzal   New York Islanders  Calder Memorial
3  2017   Auston Matthews  Toronto Maple Leafs  Calder Memorial
4  2016    Artemi Panarin   Chicago Blackhawks  Calder Memorial

In [106]:
# Group the data by the player's name column
calder_memorial_grp_df = calder_memorial_df.groupby(by="Player", as_index=False).count()
calder_memorial_grp_df.head()

            Player  Year  Team  Award
0     Aaron Ekblad     1     1      1
1    Alex Ovechkin     1     1      1
2  Andrew Raycroft     1     1      1
3   Artemi Panarin     1     1      1
4  Auston Matthews     1     1      1

In [107]:
# Drop columns that are not needed
calder_memorial_grp_df = calder_memorial_grp_df.drop(['Team', 'Award'], axis=1)
calder_memorial_grp_df.head()

            Player  Year
0     Aaron Ekblad     1
1    Alex Ovechkin     1
2  Andrew Raycroft     1
3   Artemi Panarin     1
4  Auston Matthews     1

In [108]:
# Rename the year column to the award name
calder_memorial_grp_df = calder_memorial_grp_df.rename(columns={"Year": "Calder Awards"})
calder_memorial_grp_df.head()

            Player  Calder Awards
0     Aaron Ekblad              1
1    Alex Ovechkin              1
2  Andrew Raycroft              1
3   Artemi Panarin              1
4  Auston Matthews              1

NHL James Norris Memorial Trophy Winners, Award presented to the leagues top defenseman.

In [109]:
# Scrape the data for the James Norris Memorial Trophy, Top Defenseman 
import re
url = 'https://www.nhl.com/news/nhl-james-norris-memorial-trophy-winners-complete-list/c-287778852?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = re.split(':|;', row)
        #print(words)
        more_words = words[1].split(',')
        #print(more_words)

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'James Norris Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
james_norris_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
james_norris_df['Year'] = james_norris_df['Year'].astype(int)
# filter dataframe 
# james_norris_df = james_norris_df.loc[james_norris_df['Year'] >= 1967,:]
james_norris_df.head()

   Year         Player                 Team                  Award
0  2020     Roman Josi       Calgary Flames  James Norris Memorial
1  2019  Mark Giordano       Calgary Flames  James Norris Memorial
2  2018  Victor Hedman  Tampa Bay Lightning  James Norris Memorial
3  2017    Brent Burns      San Jose Sharks  James Norris Memorial
4  2016   Drew Doughty    Los Angeles Kings  James Norris Memorial

In [110]:
# Group the data by the player's name column and count
james_norris_grp_df = james_norris_df.groupby(by="Player", as_index=False).count()
james_norris_grp_df.head()

          Player  Year  Team  Award
0    Al MacInnis     1     1      1
1      Bobby Orr     8     8      8
2    Brent Burns     1     1      1
3   Brian Leetch     2     2      2
4  Chris Chelios     3     3      3

In [111]:
# Drop columns that are not needed
james_norris_grp_df = james_norris_grp_df.drop(['Team', 'Award'], axis=1)
james_norris_grp_df.head()

          Player  Year
0    Al MacInnis     1
1      Bobby Orr     8
2    Brent Burns     1
3   Brian Leetch     2
4  Chris Chelios     3

In [112]:
# Rename the year column to the award name
james_norris_grp_df = james_norris_grp_df.rename(columns={"Year": "James Norris Awards"})
james_norris_grp_df.head()

          Player  James Norris Awards
0    Al MacInnis                    1
1      Bobby Orr                    8
2    Brent Burns                    1
3   Brian Leetch                    2
4  Chris Chelios                    3

NHL Ted Lindsay Award Winners. Award presented to the most outstanding player as voted but the NHLPA members.

In [113]:
# Scrape the data for the Ted Lindsay Award, Outstanding Player voted by NHLPA players
url = 'https://www.nhl.com/news/nhl-ted-lindsay-award-winners-complete-list/c-287978282?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Ted Lindsay"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
ted_lindsay_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
ted_lindsay_df['Year'] = ted_lindsay_df['Year'].astype(int)
# filter dataframe 
# ted_lindsay_df = ted_lindsay_df.loc[ted_lindsay_df['Year'] >= 1967,:]
ted_lindsay_df.head()

   Year           Player                 Team        Award
0  2020   Leon Draisaitl      Edmonton Oilers  Ted Lindsay
1  2019  Nikita Kucherov  Tampa Bay Lightning  Ted Lindsay
2  2018   Connor McDavid      Edmonton Oilers  Ted Lindsay
3  2017   Connor McDavid      Edmonton Oilers  Ted Lindsay
4  2016     Patrick Kane   Chicago Blackhawks  Ted Lindsay

In [114]:
# Group the data by the player's name column and count
ted_lindsay_grp_df = ted_lindsay_df.groupby(by="Player", as_index=False).count()
ted_lindsay_grp_df.head()

          Player  Year  Team  Award
0  Alex Ovechkin     3     3      3
1   Bobby Clarke     1     1      1
2      Bobby Orr     1     1      1
3     Brett Hull     1     1      1
4    Carey Price     1     1      1

In [115]:
# Drop columns that are not needed
ted_lindsay_grp_df = ted_lindsay_grp_df.drop(['Team', 'Award'], axis=1)
ted_lindsay_grp_df.head()

          Player  Year
0  Alex Ovechkin     3
1   Bobby Clarke     1
2      Bobby Orr     1
3     Brett Hull     1
4    Carey Price     1

In [116]:
# Rename the year column to the award name
ted_lindsay_grp_df = ted_lindsay_grp_df.rename(columns={"Year": "Ted Lindsay Awards"})
ted_lindsay_grp_df.head()

          Player  Ted Lindsay Awards
0  Alex Ovechkin                   3
1   Bobby Clarke                   1
2      Bobby Orr                   1
3     Brett Hull                   1
4    Carey Price                   1

NHL Maurice Richard Trophy Winners, Award presented to the years top goal-scorer.

In [117]:
# Scrape the data for the Maurice Richard Award, Top Goal Scorer
url = 'https://www.nhl.com/news/nhl-maurice-richard-trophy-winners-complete-list/c-287972892?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Maurice Richard"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
maurice_richard_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
maurice_richard_df['Year'] = maurice_richard_df['Year'].astype(int)
# filter dataframe 
# maurice_richard_df = maurice_richard_df.loc[ted_lindsay_df['Year'] >= 1967,:]
maurice_richard_df.head()

   Year          Player                 Team            Award
0  2020   Alex Ovechkin  Washington Capitals  Maurice Richard
1  2020  David Pastrnak        Boston Bruins  Maurice Richard
2  2019   Alex Ovechkin  Washington Capitals  Maurice Richard
3  2018   Alex Ovechkin  Washington Capitals  Maurice Richard
4  2017   Sidney Crosby  Pittsburgh Penguins  Maurice Richard

In [118]:
# Group the data by the player's name column
maurice_richard_grp_df = maurice_richard_df.groupby(by="Player", as_index=False).count()
maurice_richard_grp_df.head()

           Player  Year  Team  Award
0   Alex Ovechkin     9     9      9
1     Corey Perry     1     1      1
2  David Pastrnak     1     1      1
3  Ilya Kovalchuk     1     1      1
4   Jarome Iginla     2     2      2

In [119]:
# Drop columns that are not needed
maurice_richard_grp_df = maurice_richard_grp_df.drop(['Team', 'Award'], axis=1)
maurice_richard_grp_df.head()

           Player  Year
0   Alex Ovechkin     9
1     Corey Perry     1
2  David Pastrnak     1
3  Ilya Kovalchuk     1
4   Jarome Iginla     2

In [120]:
# Rename the year column to theaward name for the count
maurice_richard_grp_df = maurice_richard_grp_df.rename(columns={"Year": "Maurice Richard Awards"})
maurice_richard_grp_df.head()

           Player  Maurice Richard Awards
0   Alex Ovechkin                       9
1     Corey Perry                       1
2  David Pastrnak                       1
3  Ilya Kovalchuk                       1
4   Jarome Iginla                       2

Merge all the award dataframes together and clean the data

In [121]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(art_ross_grp_df,
                 conn_smythe_grp_df[['Player', 'Conn Smythe Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

             Player  Art Ross Awards  Conn Smythe Awards
0        Ace Bailey              1.0                 NaN
1     Alex Ovechkin              1.0                 1.0
2          Babe Dye              2.0                 NaN
3  Bernie Geoffrion              2.0                 NaN
4         Bill Cook              2.0                 NaN

In [122]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 hart_grp_df[['Player', 'Hart Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

             Player  Art Ross Awards  Conn Smythe Awards  Hart Awards
0        Ace Bailey              1.0                 NaN          NaN
1     Alex Ovechkin              1.0                 1.0          3.0
2          Babe Dye              2.0                 NaN          NaN
3  Bernie Geoffrion              2.0                 NaN          1.0
4         Bill Cook              2.0                 NaN          NaN

In [123]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 calder_memorial_grp_df[['Player', 'Calder Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards
0,Ace Bailey,1.0,NaN,NaN,NaN
1,Alex Ovechkin,1.0,1.0,3.0,1.0
2,Babe Dye,2.0,NaN,NaN,NaN
3,Bernie Geoffrion,2.0,NaN,1.0,1.0
4,Bill Cook,2.0,NaN,NaN,NaN

In [124]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 james_norris_grp_df[['Player', 'James Norris Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards
0,Ace Bailey,1.0,NaN,NaN,NaN,NaN
1,Alex Ovechkin,1.0,1.0,3.0,1.0,NaN
2,Babe Dye,2.0,NaN,NaN,NaN,NaN
3,Bernie Geoffrion,2.0,NaN,1.0,1.0,NaN
4,Bill Cook,2.0,NaN,NaN,NaN,NaN

In [125]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 ted_lindsay_grp_df[['Player', 'Ted Lindsay Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards
0,Ace Bailey,1.0,NaN,NaN,NaN,NaN,NaN
1,Alex Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0
2,Babe Dye,2.0,NaN,NaN,NaN,NaN,NaN
3,Bernie Geoffrion,2.0,NaN,1.0,1.0,NaN,NaN
4,Bill Cook,2.0,NaN,NaN,NaN,NaN,NaN

In [126]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 maurice_richard_grp_df[['Player', 'Maurice Richard Awards']],
                 on='Player', how='outer')
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards
0,Ace Bailey,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alex Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0,9.0
2,Babe Dye,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Bernie Geoffrion,2.0,NaN,1.0,1.0,NaN,NaN,NaN
4,Bill Cook,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
# Change mismatch names to match across files
awards_merge_df = awards_merge_df.replace("Alex Ovechkin", "Alexander Ovechkin")
awards_merge_df = awards_merge_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
awards_merge_df = awards_merge_df.replace("Evgeni Malkin", "Yevgeni Malkin")
awards_merge_df = awards_merge_df.replace("Johnny Quilty", "John Quilty")
awards_merge_df = awards_merge_df.replace("Ray Bourque", "Raymond Bourque")
awards_merge_df = awards_merge_df.replace("Sweeney Schriner", "David Schriner")
awards_merge_df = awards_merge_df.replace("Tommy Anderson", "Tom Anderson")
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards
0,Ace Bailey,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alexander Ovechkin,1.0,1.0,3.0,1.0,NaN,3.0,9.0
2,Babe Dye,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Bernard Geoffrion,2.0,NaN,1.0,1.0,NaN,NaN,NaN
4,Bill Cook,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
awards_merge_df = awards_merge_df.fillna(0)
awards_merge_df['Awards3'] = awards_merge_df['Art Ross Awards'] + awards_merge_df['Conn Smythe Awards'] + awards_merge_df['Hart Awards']
awards_merge_df['Awards2'] = awards_merge_df['Awards3'] + awards_merge_df['Calder Awards'] + awards_merge_df['James Norris Awards']  
awards_merge_df['Awards'] = awards_merge_df['Awards2'] + awards_merge_df['Ted Lindsay Awards'] + awards_merge_df['Maurice Richard Awards']                           
awards_merge_df.head()

,Player,Art Ross Awards,Conn Smythe Awards,Hart Awards,Calder Awards,James Norris Awards,Ted Lindsay Awards,Maurice Richard Awards,Awards3,Awards2,Awards
0,Ace Bailey,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1,Alexander Ovechkin,1.0,1.0,3.0,1.0,0.0,3.0,9.0,5.0,6.0,18.0
2,Babe Dye,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0
3,Bernard Geoffrion,2.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0,4.0,4.0
4,Bill Cook,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0

In [131]:
# awards_merge_df = awards_merge_df.drop(['Art Ross Awards', 'Conn Smythe Awards', 'Hart Awards', 'Calder Awards', 'James Norris Awards',
#                                          'Ted Lindsay Awards', 'Maurice Richard Awards', 'Awards2', 'Awards3'], axis=1)
awards_merge_df.head()

               Player  Awards
0          Ace Bailey     1.0
1  Alexander Ovechkin    18.0
2            Babe Dye     2.0
3   Bernard Geoffrion     4.0
4           Bill Cook     2.0

Scrape the data from url to get the players Stanley Cup wins

In [132]:
# Scrape the data for Stanley Cup wins by player
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
from splinter.driver.webdriver import BaseWebDriver, WebDriverElement

In [133]:
options = Options()
options.add_argument('--no-sandbox')
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False, chrome_options=options)

In [134]:
# Set URL to the stanley Cup records page
url = 'https://records.nhl.com/records/playoff-skater-records/stanley-cups/skater-most-stanley-cups-won-career'
browser.visit(url)

In [135]:
# Scrape the data for Stanley Cup wins from the url
my_list = []

for i in range(1, 23):
#     print(i)

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    rows = soup.find_all('div', class_='rt-tr-group')
    for row in rows:
        cells = row.find_all('div', class_='rt-td')

        data = {
            'Player':cells[1].text,
            'Pos':cells[2].text,
            'Cups':cells[3].text
        }

        my_list.append(data)
    if i < 22:
        browser.find_by_text('Next').click()

my_list

'Pos': 'L', 'Cups': '1'},
 {'Player': 'Jim Hay', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ian Cushenan', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Earl Balfour', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Murray Balfour', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jack Evans', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Reg Fleming', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Bill Hay', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Wayne Hicks', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Wayne Hillman', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Bobby Hull', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Chico Maki', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Stan Mikita', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Eric Nesterenko', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Pierre Pilote', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Moose Vasko', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Kenny Wharram', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Andy Bathgate', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Gerry Ehman', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Don McKenney', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Red Berenson', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Jean Gauthier', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Garry Peters', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Noel Picard', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Bryan Watson', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Noel Price', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'John Brenneman', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Brian Conacher', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Ron Ellis', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Aut Erickson', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Larry Jeffrey', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Milan Marcetta', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Pete Stemkowski', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Danny Grant', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Christian Bordeleau', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Ivan Boldirev', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Wayne Carleton', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Gary Doak', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Bill Lesuk', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jim Lorentz', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Danny Schock', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Rick Smith', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Bill Speer', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Phil Roberto', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Bobby Sheehan', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Barry Ashbee', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Bruce Cowick', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Bill Flett', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Simon Nolet', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Larry Goodenough', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Reggie Leach', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'John Van Boxmeer', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Mike Polich', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Cam Connor', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Rod Langway', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Lorne Henning', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Alex McKendry', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Steve Tambellini', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Paul Boutilier', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Mats Hallin', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Pat Conacher', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Ken Linseman', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Larry Melnyk', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Serge Boisvert', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Kjell Dahlin', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Lucien DeBlois', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Gaston Gingras', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Rick Green', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'John Kordic', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Tom Kurvers', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Mike Lalor', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'David Maley', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Mike McPhee', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Mats Naslund', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Chris Nilan', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Steve Rooney', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Bobby Smith', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Petr Svoboda', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ryan Walter', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Moe Lemay', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Kent Nilsson', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Keith Acton', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Geoff Courtnall', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Normand Lacombe', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Theo Fleury', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Doug Gilmour', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Mark Hunter', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Tim Hunter', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Hakan Loob', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Al MacInnis', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Brian MacLellan', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Brad McCrimmon', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Lanny McDonald', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Dana Murzyn', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ric Nattress', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Joel Otto', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Colin Patterson', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jim Peplinski', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Gary Roberts', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Gary Suter', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Dave Brown', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Martin Gelinas', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Petr Klima', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Mark Lamb', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Joe Murphy', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Geoff Smith', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Randy Gilhen', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Randy Hillier', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Barry Pederson', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Jock Callander', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jeff Chychrun', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Jeff Daniels', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Jamie Leach', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Shawn McEachern', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'David Michayluk', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Michael Needham', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Ken Priestlay', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Kjell Samuelsson', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Rick Tocchet', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jesse Belanger', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Brian Bellows', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Patrice Brisebois', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Benoit Brunet', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'J.J. Daigneault', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Vincent Damphousse', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Eric Desjardins', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Paul Di Pietro', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Gilbert Dionne', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Donald Dufresne', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Todd Ewen', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Kevin Haller', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Sean Hill', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Stephan Lebeau', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'John LeClair', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Gary Leeman', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Kirk Muller', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Lyle Odelein', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Mario Roberge', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Ed Ronan', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Denis Savard', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Mathieu Schneider', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Mike Hartman', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Mike Hudson', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Alexander Karpovtsev', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Alex Kovalev', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Nick Kypreos', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Steve Larmer', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Brian Leetch', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Doug Lidster', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Stephane Matteau', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Brian Noonan', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Eddie Olczyk', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jay Wells', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Neal Broten', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Bobby Carpenter', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Tom Chorske', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Danton Cole', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Kevin Dean', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Jim Dowd', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Bruce Driver', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'John MacLean', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Chris McAlpine', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Mike Peluso', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Brian Rolston', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Valeri Zelepukin', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Rene Corbet', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Adam Deadmarsh', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Alexei Gusarov', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Valeri Kamensky', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Uwe Krupp', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Sylvain Lefebvre', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Curtis Leschyshyn', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Troy Murray', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Sandis Ozolinsh', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Mike Ricci', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Warren Rychel', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Chris Simon', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Craig Wolanin', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Jamie Pushor', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Tomas Sandstrom', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Anders Eriksson', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Brent Gilchrist', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Mike Knuble', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Dmitri Mironov', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Derian Hatcher', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Benoit Hogue', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Tony Hrkac', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Jere Lehtinen', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Richard Matvichuk', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Mike Modano', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Derek Plante', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Brent Severyn', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Jon Sim', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Blake Sloan', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Pat Verbeek', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jason Arnott', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Brad Bombardir', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Steve Brule', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Steve Kelly', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Vladimir Malakhov', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Alexander Mogilny', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Krzysztof Oliwa', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Ken Sutton', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Rob Blake', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ray Bourque', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Greg De Vries', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Chris Drury', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Milan Hejduk', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Dan Hinote', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Eric Messier', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Bryan Muir', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ville Nieminen', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Scott Parker', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Shjon Podein', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Steve Reinprecht', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Martin Skoula', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Alex Tanguay', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Boyd Devereaux', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Steve Duchesne', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Jiri Fischer', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Fredrik Olausson', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Luc Robitaille', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Jiri Slegr', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Jason Williams', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Jiri Bicek', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jeff Friesen', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Brian Gionta', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jim McKenzie', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Pascal Rheaume', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Mike Rupp', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Richard Smehlik', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Turner Stevenson', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Dimitri Afanasenkov', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Dave Andreychuk', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Dan Boyle', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Martin Cibak', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Ben Clymer', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jassen Cullimore', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Pavel Kubina', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Vincent Lecavalier', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Brad Lukowich', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Freddy Modin', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Stan Neckar', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Eric Perrin', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Andre Roy', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Darren Rumble', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Cory Sarich', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Martin St. Louis', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Kevyn Adams', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Anton Babchuk', 'Pos': 'D', 'Cups': '1'},
 {'Player': "Rod Brind'Amour", 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Erik Cole', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Mike Commodore', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Bret Hedican', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Andrew Hutchinson', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Frantisek Kaberle', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Chad LaRose', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Eric Staal', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Josef Vasicek', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Niclas Wallin', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Doug Weight', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Glen Wesley', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ray Whitney', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Francois Beauchemin', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ryan Carter', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Joe DiPenta', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ryan Getzlaf', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Kent Huskins', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ric Jackman', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Todd Marchant', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Brad May', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Andy McDonald', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Drew Miller', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Travis Moen', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Joe Motzko', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Rob Niedermayer', 'Pos': 'C', 'Cups': '1'},
 {'Player': "Sean O'Donnell", 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Samuel Pahlsson', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'George Parros', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Corey Perry', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Chris Pronger', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Teemu Selanne', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Ryan Shannon', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Daniel Cleary', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Aaron Downey', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Dallas Drake', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Valtteri Filppula', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Johan Franzen', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Darren Helm', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Jiri Hudler', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Niklas Kronwall', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Brett Lebda', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Andreas Lilja', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Derek Meech', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Mikael Samuelsson', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Brad Stuart', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Henrik Zetterberg', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Philippe Boucher', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Matt Cooke', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Mark Eaton', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Hal Gill', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Eric Godard', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Alex Goligoski', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Sergei Gonchar', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Tyler Kennedy', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Miroslav Satan', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jordan Staal', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Max Talbot', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Michael Zigomanis', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Nick Boynton', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Troy Brouwer', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Adam Burish', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Dustin Byfuglien', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Brian Campbell', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Ben Eager', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Jordan Hendry', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Brent Sopel', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Patrice Bergeron', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Johnny Boychuk', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Gregory Campbell', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Zdeno Chara', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Andrew Ference', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Nathan Horton', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Tomas Kaberle', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Chris Kelly', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'David Krejci', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Milan Lucic', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Brad Marchand', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Adam McQuaid', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Daniel Paille', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Rich Peverley', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Michael Ryder', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Marc Savard', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Tyler Seguin', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Dennis Seidenberg', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Davis Drewiske', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Simon Gagne', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Brad Richardson', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Kevin Westgarth', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Brandon Bollig', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Sheldon Brookbank', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Michael Frolik', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Michal Handzus', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Nick Leddy', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Jamal Mayers', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Ben Smith', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Viktor Stalberg', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Marian Gaborik', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jake Muzzin', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Tanner Pearson', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Robyn Regehr', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Jeff Schultz', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Tyler Toffoli', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Kyle Cumiskey', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Andrew Desjardins', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Joakim Nordstrom', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'David Rundblad', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Teuvo Teravainen', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Kimmo Timonen', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Trevor van Riemsdyk', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Antoine Vermette', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Eric Fehr', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Ben Lovejoy', 'Pos': 'D', 'Cups': '1'},
 {'Player': 'Kevin Porter', 'Pos': 'C', 'Cups': '1'},
 {'Player': 'Josh Archibald', 'Pos': 'R', 'Cups': '1'},
 {'Player': 'Jake Guentzel', 'Pos': 'L', 'Cups': '1'},
 {'Player': 'Ron Hainsey', 'Pos': 'D', 'Cups': '1'},
 ...]

In [136]:
# Convert the list to a dataframe
stanley_cup_df = pd.DataFrame(my_list)
stanley_cup_df.head()

            Player Pos Cups
0    Henri Richard   C   11
1    Jean Beliveau   C   10
2   Yvan Cournoyer   R   10
3   Claude Provost   R    9
4  Maurice Richard   R    8

In [137]:
# Filter out the goal tenders.
stanley_cup_df = stanley_cup_df[stanley_cup_df['Pos'] != 'G'] 
stanley_cup_df.head()

            Player Pos Cups
0    Henri Richard   C   11
1    Jean Beliveau   C   10
2   Yvan Cournoyer   R   10
3   Claude Provost   R    9
4  Maurice Richard   R    8

In [138]:
# Drop columns that are not needed
stanley_cup_df = stanley_cup_df.drop(['Pos'], axis=1)
stanley_cup_df.head()

            Player Cups
0    Henri Richard   11
1    Jean Beliveau   10
2   Yvan Cournoyer   10
3   Claude Provost    9
4  Maurice Richard    8

In [139]:
# Change names to match the master stats
stanley_cup_df = stanley_cup_df.replace("Alex Ovechkin", "Alexander Ovechkin")
stanley_cup_df = stanley_cup_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
stanley_cup_df = stanley_cup_df.replace("Evgeni Malkin", "Yevgeni Malkin")
stanley_cup_df = stanley_cup_df.replace("Johnny Quilty", "John Quilty")
stanley_cup_df = stanley_cup_df.replace("Ray Bourque", "Raymond Bourque")
stanley_cup_df = stanley_cup_df.replace("Sweeney Schriner", "David Schriner")
stanley_cup_df = stanley_cup_df.replace("Tommy Anderson", "Tom Anderson")
stanley_cup_df = stanley_cup_df.replace("Bob Sirois", "Robert Sirois")
stanley_cup_df = stanley_cup_df.replace("Bobby Nystrom", "Bob Nystrom")
stanley_cup_df = stanley_cup_df.replace("Bucky Hollingworth", "Gord Hollingworth")
stanley_cup_df = stanley_cup_df.replace("Daniel Girardi", "Dan Girardi")
stanley_cup_df = stanley_cup_df.replace("Dollard St. Laurent", "Dollard St-Laurent")
stanley_cup_df = stanley_cup_df.replace("Evgeny Kuznetsov", "Yevgeni Kuznetsov")
stanley_cup_df = stanley_cup_df.replace("Fern Flaman", "Fernie Flaman")
stanley_cup_df = stanley_cup_df.replace("George 'Hully' Gee", "George Gee")
stanley_cup_df = stanley_cup_df.replace("Hubert 'Pit' Martin", "Pit Martin")
stanley_cup_df = stanley_cup_df.replace("J.C. Tremblay", "Jean-Claude Tremblay")
stanley_cup_df = stanley_cup_df.replace("Jack Leclair", "Jackie LeClair")
stanley_cup_df = stanley_cup_df.replace("Joshua Bailey", "Josh Bailey")
stanley_cup_df = stanley_cup_df.replace("Kenny Mosdell", "Ken Mosdell")
stanley_cup_df = stanley_cup_df.replace("Kristopher Letang", "Kris Letang")
stanley_cup_df = stanley_cup_df.replace("Leonard 'Red' Kelly", "Red Kelly")
stanley_cup_df = stanley_cup_df.replace("Nicholas Boynton", "Nick Boynton")
stanley_cup_df = stanley_cup_df.replace("Nick Libett", "Lynn Libett")
stanley_cup_df = stanley_cup_df.replace("Oliver Ekman-Larsson", "Oliver Ekman Larsson")
stanley_cup_df = stanley_cup_df.replace("Quinton Hughes", "Quinn Hughes")
stanley_cup_df = stanley_cup_df.replace("Red Sullivan", "George Sullivan")
stanley_cup_df = stanley_cup_df.replace("Reg Fleming", "Reggie Fleming")
stanley_cup_df = stanley_cup_df.replace("Reg Sinclair", "Reggie Sinclair")
stanley_cup_df = stanley_cup_df.replace("Ron 'Chico' Maki", "Chico Maki")
stanley_cup_df = stanley_cup_df.replace("Sandis Ozolinsh", "Sandis Ozolins")
stanley_cup_df = stanley_cup_df.replace("Theoren Fleury", "Theo Fleury")
stanley_cup_df = stanley_cup_df.replace("Willie Huber", "William Huber")
stanley_cup_df = stanley_cup_df.replace("Zachary Werenski", "Zach Werenski")
stanley_cup_df = stanley_cup_df.replace("Al Langlois", "Albert Langlois")
stanley_cup_df = stanley_cup_df.replace("Al Shields", "Allan Shields")
stanley_cup_df = stanley_cup_df.replace("Alex Kovalev", "Alexei Kovalev")
stanley_cup_df = stanley_cup_df.replace("Aurel Joliat", "Aurele Joliat")
stanley_cup_df = stanley_cup_df.replace("Baldy Cotton", "Harold Cotton")
stanley_cup_df = stanley_cup_df.replace("Billy Boyd", "Bill Boyd")
stanley_cup_df = stanley_cup_df.replace("Billy Taylor Sr.", "Billy Taylor")
stanley_cup_df = stanley_cup_df.replace("Bingo Kampman", "Rudolph Kampman")
stanley_cup_df = stanley_cup_df.replace("Bob Fillion", "Robert Fillion")
stanley_cup_df = stanley_cup_df.replace("Bryan Hextall Sr.", "Bryan Hextall, Sr.")
stanley_cup_df = stanley_cup_df.replace("Butch Bouchard", "Emile Bouchard")
stanley_cup_df = stanley_cup_df.replace("Connie Broden", "Connell Broden")
stanley_cup_df = stanley_cup_df.replace("David Michayluk", "Dave Michayluk")
stanley_cup_df = stanley_cup_df.replace("Dimitri Afanasenkov", "Dmitri Afanasenkov")
stanley_cup_df = stanley_cup_df.replace("Dmitry Orlov", "Dmitri Orlov")
stanley_cup_df = stanley_cup_df.replace("Donnie Marshall", "Don Marshall")
stanley_cup_df = stanley_cup_df.replace("Dutch Gainor", "Norman Gainor")
stanley_cup_df = stanley_cup_df.replace("Dutch Hiller", "Wilbert Hiller")
stanley_cup_df = stanley_cup_df.replace("Dutch Reibel", "Earl Reibel")
stanley_cup_df = stanley_cup_df.replace("Ed Gorman", "Edwin Gorman")
stanley_cup_df = stanley_cup_df.replace("Eddie Olczyk", "Ed Olczyk")
stanley_cup_df = stanley_cup_df.replace("Fern Majeau", "Fernand Majeau")
stanley_cup_df = stanley_cup_df.replace("Frank Callighen", "Francis Callighen")
stanley_cup_df = stanley_cup_df.replace("Fred Cook", "Bun Cook")
stanley_cup_df = stanley_cup_df.replace("Freddy Modin", "Fredrik Modin")
stanley_cup_df = stanley_cup_df.replace("George Boucher", "Buck Boucher")
stanley_cup_df = stanley_cup_df.replace("Gord Pettinger", "Gordon Pettinger")
stanley_cup_df = stanley_cup_df.replace("Hobie Kitchen", "Chapman Kitchen")
stanley_cup_df = stanley_cup_df.replace("Ivan Barbashev", "Ivan Barbashyov")
stanley_cup_df = stanley_cup_df.replace("J.C. Tremblay", "Jean-Claude Tremblay")
stanley_cup_df = stanley_cup_df.replace("J.J. Daigneault", "Jean-Jacques Daigneault")
stanley_cup_df = stanley_cup_df.replace("Jimmy Peters", "Jim Peters")
stanley_cup_df = stanley_cup_df.replace("Johnny Sheppard", "John Sheppard")
stanley_cup_df = stanley_cup_df.replace("Lou Trudel", "Louis Trudel")
stanley_cup_df = stanley_cup_df.replace("Max Talbot", "Maxime Talbot")
stanley_cup_df = stanley_cup_df.replace("Michael Needham", "Mike Needham")
stanley_cup_df = stanley_cup_df.replace("Michael Zigomanis", "Mike Zigomanis")
stanley_cup_df = stanley_cup_df.replace("Mikhail Sergachev", "Mikhail Sergachyov")
stanley_cup_df = stanley_cup_df.replace("Moe Lemay", "Maurice Lemay")
stanley_cup_df = stanley_cup_df.replace("Moe Morris", "Elwyn Morris")
stanley_cup_df = stanley_cup_df.replace("Moose Vasko", "Elmer Vasko")
stanley_cup_df = stanley_cup_df.replace("Murph Chamberlain", "Erwin Chamberlain")
stanley_cup_df = stanley_cup_df.replace("Muzz Patrick", "Murray Patrick")
stanley_cup_df = stanley_cup_df.replace("Ott Heller", "Ehrhardt Heller")
stanley_cup_df = stanley_cup_df.replace("Paul Di Pietro", "Paul DiPietro")
stanley_cup_df = stanley_cup_df.replace("Peter Mahovlich", "Pete Mahovlich")
stanley_cup_df = stanley_cup_df.replace("Pit Lepine", "Alfred Lepine")
stanley_cup_df = stanley_cup_df.replace("Punch Broadbent", "Harry Broadbent")
stanley_cup_df = stanley_cup_df.replace("Sam Rothschild", "Samuel Rothschild")
stanley_cup_df = stanley_cup_df.replace("Sammy Blais", "Samuel Blais")
stanley_cup_df = stanley_cup_df.replace("Slava Voynov", "Vyacheslav Voynov")
stanley_cup_df = stanley_cup_df.replace("Stan Neckar", "Stanislav Neckar")
stanley_cup_df = stanley_cup_df.replace("Steve Reinprecht", "Steven Reinprecht")
stanley_cup_df = stanley_cup_df.replace("Viacheslav Fetisov", "Vyacheslav Fetisov")
stanley_cup_df = stanley_cup_df.replace("Lee Fogolin Jr.", "Lee Fogolin, Jr.")
stanley_cup_df = stanley_cup_df.replace("Bryan Hextall Sr.", "Bryan Hextall, Sr.")
stanley_cup_df.head()

            Player Cups
0    Henri Richard   11
1    Jean Beliveau   10
2   Yvan Cournoyer   10
3   Claude Provost    9
4  Maurice Richard    8

Merge the Stanley Cup win dataframe to the awards dataframe.

In [140]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 stanley_cup_df[['Player', 'Cups']],
                 on='Player', how='outer')
awards_merge_df.head()

               Player  Awards Cups
0          Ace Bailey     1.0    1
1  Alexander Ovechkin    18.0    1
2            Babe Dye     2.0    1
3   Bernard Geoffrion     4.0    6
4           Bill Cook     2.0    2

Scrape the data from url to get the player all-star game appearances

In [141]:
# Scrape data for all-star game appearances.
all_star_tables = []

for page in range(1,19):
    url = f'https://www.quanthockey.com/scripts/AjaxPaginate.php?cat=Records&pos=Players&SS=&af=0&nat=alltime&st=5&sort=points&so=&page={page}&league=NHL%20All-Star%20Game&lang=en&rnd=651834569&dt=1&sd=undefined&ed=undefined'

    print('page:', page, '-------------')

    # find the table
    table = pd.read_html(url)
    df = table[0]
    # delete unneeded column
    del df['Unnamed: 1']
    # convert games played column to integer
    df['GP'] = df['GP'].astype(int)
    all_star_tables.append(df)
    
print("Scraping completed!")

page: 1 -------------
page: 2 -------------
page: 3 -------------
page: 4 -------------
page: 5 -------------
page: 6 -------------
page: 7 -------------
page: 8 -------------
page: 9 -------------
page: 10 -------------
page: 11 -------------
page: 12 -------------
page: 13 -------------
page: 14 -------------
page: 15 -------------
page: 16 -------------
page: 17 -------------
page: 18 -------------
Scraping completed!

In [142]:
# Combined the 18 tables of data to one dataframe 
all_star_df = pd.concat(all_star_tables, ignore_index=True)
all_star_df.head()

,Rk,Name,Born,Pos,GP,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0.0,0.0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0.0,0.0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0.0,0.0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6.0,1.0,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0.0,0.0,2,0.400,0.867,1.267

In [143]:
# Remove goalies from dataframe
all_star_df = all_star_df[all_star_df['Pos'] != 'G'] 
all_star_df.head()

,Rk,Name,Born,Pos,GP,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0.0,0.0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0.0,0.0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0.0,0.0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6.0,1.0,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0.0,0.0,2,0.400,0.867,1.267

In [144]:
# Change names to match the master stat file
all_star_df = all_star_df.replace("Alex Ovechkin", "Alexander Ovechkin")
all_star_df = all_star_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
all_star_df = all_star_df.replace("Evgeni Malkin", "Yevgeni Malkin")
all_star_df = all_star_df.replace("Johnny Quilty", "John Quilty")
all_star_df = all_star_df.replace("Ray Bourque", "Raymond Bourque")
all_star_df = all_star_df.replace("Sweeney Schriner", "David Schriner")
all_star_df = all_star_df.replace("Tommy Anderson", "Tom Anderson")
all_star_df = all_star_df.replace("Bob Sirois", "Robert Sirois")
all_star_df = all_star_df.replace("Bobby Nystrom", "Bob Nystrom")
all_star_df = all_star_df.replace("Bucky Hollingworth", "Gord Hollingworth")
all_star_df = all_star_df.replace("Daniel Girardi", "Dan Girardi")
all_star_df = all_star_df.replace("Dollard St. Laurent", "Dollard St-Laurent")
all_star_df = all_star_df.replace("Evgeny Kuznetsov", "Yevgeni Kuznetsov")
all_star_df = all_star_df.replace("Fern Flaman", "Fernie Flaman")
all_star_df = all_star_df.replace("George 'Hully' Gee", "George Gee")
all_star_df = all_star_df.replace("Hubert 'Pit' Martin", "Pit Martin")
all_star_df = all_star_df.replace("J.C. Tremblay", "Jean-Claude Tremblay")
all_star_df = all_star_df.replace("Jack Leclair", "Jackie LeClair")
all_star_df = all_star_df.replace("Joshua Bailey", "Josh Bailey")
all_star_df = all_star_df.replace("Kenny Mosdell", "Ken Mosdell")
all_star_df = all_star_df.replace("Kristopher Letang", "Kris Letang")
all_star_df = all_star_df.replace("Leonard 'Red' Kelly", "Red Kelly")
all_star_df = all_star_df.replace("Nicholas Boynton", "Nick Boynton")
all_star_df = all_star_df.replace("Nick Libett", "Lynn Libett")
all_star_df = all_star_df.replace("Oliver Ekman-Larsson", "Oliver Ekman Larsson")
all_star_df = all_star_df.replace("Quinton Hughes", "Quinn Hughes")
all_star_df = all_star_df.replace("Red Sullivan", "George Sullivan")
all_star_df = all_star_df.replace("Reg Fleming", "Reggie Fleming")
all_star_df = all_star_df.replace("Reg Sinclair", "Reggie Sinclair")
all_star_df = all_star_df.replace("Ron 'Chico' Maki", "Chico Maki")
all_star_df = all_star_df.replace("Sandis Ozolinsh", "Sandis Ozolins")
all_star_df = all_star_df.replace("Theoren Fleury", "Theo Fleury")
all_star_df = all_star_df.replace("Willie Huber", "William Huber")
all_star_df = all_star_df.replace("Zachary Werenski", "Zach Werenski")
all_star_df = all_star_df.replace("John Leclair", "John LeClair")
all_star_df.loc[(all_star_df.Name == 'Lee Fogolin') & (all_star_df.Born == 1955), 'Name'] = 'Lee Fogolin, Jr.'
all_star_df.loc[(all_star_df.Name == 'Billy Harris') & (all_star_df.Born == 1952), 'Name'] = 'Billy Harris, Jr.'
all_star_df.loc[(all_star_df.Name == 'Syl Apps') & (all_star_df.Born == 1947), 'Name'] = 'Syl Apps, Jr.'

all_star_df.head()

,Rk,Name,Born,Pos,GP,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0.0,0.0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0.0,0.0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0.0,0.0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6.0,1.0,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0.0,0.0,2,0.400,0.867,1.267

In [145]:
# Change all special characters to standard characters to match master stat file
cols_to_check = ['Name']
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'a'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'i'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'a'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'c'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'a'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'E'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'A'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'e'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'e'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'i'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'o'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'ss'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'u'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'y'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'O'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'e'}, regex=True)
all_star_df[cols_to_check] = all_star_df[cols_to_check].replace({'':'s'}, regex=True)

all_star_df.head()

,Rk,Name,Born,Pos,GP,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0.0,0.0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0.0,0.0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0.0,0.0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6.0,1.0,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0.0,0.0,2,0.400,0.867,1.267

In [146]:
# Rename the Name column to Player to match other dataframes
all_star_df = all_star_df.rename(columns={"Name": "Player", 'GP': 'All-Star Games'})
all_star_df.head()

,Rk,Player,Born,Pos,All-Star Games,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0.0,0.0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0.0,0.0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0.0,0.0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6.0,1.0,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0.0,0.0,2,0.400,0.867,1.267

In [147]:
# Drop columns that are not needed
all_star_df = all_star_df.drop(['Rk', 'Born', 'Pos', 'G', 'A', 'P', 'PIM', '+/-', 'PPG', 'SHG',
                                 'GWG', 'G/GP', 'A/GP', 'P/GP'], axis=1)
all_star_df.head()

          Player  All-Star Games
0  Wayne Gretzky              18
1  Mario Lemieux              10
2      Joe Sakic              12
3    Gordie Howe              23
4   Mark Messier              15

Merge the All-Star game dataframe to the Awards dataframe.

In [148]:
# Merge the individual award files into one complete file
awards_merge_df = pd.merge(awards_merge_df,
                 all_star_df[['Player', 'All-Star Games']],
                 on='Player', how='outer')
awards_merge_df.head()

               Player  Awards Cups  All-Star Games
0          Ace Bailey     1.0    1             NaN
1  Alexander Ovechkin    18.0    1             7.0
2            Babe Dye     2.0    1             NaN
3   Bernard Geoffrion     4.0    6            11.0
4           Bill Cook     2.0    2             NaN

In [149]:
# Change all the NaN values to 0 and change numeric columns to integers
awards_merge_df = awards_merge_df.fillna(0)
awards_merge_df = awards_merge_df.astype({'Awards':'int', 'Cups':'int', 'All-Star Games':'int'}) 
awards_merge_df.head()

               Player  Awards  Cups  All-Star Games
0          Ace Bailey       1     1               0
1  Alexander Ovechkin      18     1               7
2            Babe Dye       2     1               0
3   Bernard Geoffrion       4     6              11
4           Bill Cook       2     2               0

In [150]:
awards_merge_df.dtypes

Player            object
Awards             int32
Cups               int32
All-Star Games     int32
dtype: object

In [151]:
# Save the file to csv
awards_merge_df.to_csv("Output/awards_adj.csv", index=False, header=True)