Create a file of players in the Hockey Hall of Fame

In [1]:
# Import pandas
import pandas as pd
import numpy as np

In [2]:
# Assign file paths to variable and read csv into pandas
file_one = "Resources/hof.csv"
hall_of_fame_df = pd.read_csv(file_one, encoding="ISO-8859-1")
hall_of_fame_df.head()

   year       hofID              name category
0  1945  bakerho01h       Hobey Baker   Player
1  1945  gardich01h  Charlie Gardiner   Player
2  1945  gerared01h      Eddie Gerard   Player
3  1945  mcgeefr01h       Frank McGee   Player
4  1945  morenho01h      Howie Morenz   Player

In [3]:
# Filter to show only player data from category column
hall_of_fame_df = hall_of_fame_df[hall_of_fame_df['category'] == 'Player']
hall_of_fame_df.head()

   year       hofID              name category
0  1945  bakerho01h       Hobey Baker   Player
1  1945  gardich01h  Charlie Gardiner   Player
2  1945  gerared01h      Eddie Gerard   Player
3  1945  mcgeefr01h       Frank McGee   Player
4  1945  morenho01h      Howie Morenz   Player

In [4]:
# Change mismatch names to match across files
hall_of_fame_df.loc[(hall_of_fame_df.name == 'Harry Watson') & (hall_of_fame_df.year == 1962), 'name'] = 'Harry E. Watson'
hall_of_fame_df.head()

   year       hofID              name category
0  1945  bakerho01h       Hobey Baker   Player
1  1945  gardich01h  Charlie Gardiner   Player
2  1945  gerared01h      Eddie Gerard   Player
3  1945  mcgeefr01h       Frank McGee   Player
4  1945  morenho01h      Howie Morenz   Player

In [5]:
# Rename the Name column to Player to match other dataframes
hall_of_fame_df = hall_of_fame_df.rename(columns={"name": "Player"})
hall_of_fame_df.head()

   year       hofID            Player category
0  1945  bakerho01h       Hobey Baker   Player
1  1945  gardich01h  Charlie Gardiner   Player
2  1945  gerared01h      Eddie Gerard   Player
3  1945  mcgeefr01h       Frank McGee   Player
4  1945  morenho01h      Howie Morenz   Player

In [6]:
# Remove columns not needed and create a column showing "1" for Hof inclusion
hall_of_fame_df = hall_of_fame_df[['Player']]
hall_of_fame_df["HoF"] = 1
hall_of_fame_df.head()

             Player  HoF
0       Hobey Baker    1
1  Charlie Gardiner    1
2      Eddie Gerard    1
3       Frank McGee    1
4      Howie Morenz    1

Scrape additional Hall of Fame player data that was missing from the csv file.  2012 to 2020.

In [7]:
# Panda scrape hall of fame table from wikipedia to get the missing years inductees
hof_tables = []

url = f'https://en.wikipedia.org/wiki/List_of_members_of_the_Hockey_Hall_of_Fame'

# find the table
table = pd.read_html(url)
hof_df = table[1]

hof_tables.append(hof_df)
hof_df.head()

       Year              Name Position            Nationality
0  1945[15]       Hobey Baker        F          United States
1  1945[15]  Charlie Gardiner        G  Canada/ Great Britain
2  1945[15]      Eddie Gerard     D–LW                 Canada
3  1945[15]       Frank McGee      C–R                 Canada
4  1945[15]      Howie Morenz        C                 Canada

In [8]:
# Create a column that counts the rows and filter to above 250, to remove any player inducted in 2011 or earlier.
# These players are included in the csv file
hof_df["Counter"] = range(len(hof_df))
hof_df = hof_df[hof_df['Counter'] > 250]
hof_df.head()

     Year           Name Position           Nationality  Counter
251  2012     Pavel Bure       RW  Russia/ Soviet Union      251
252  2012     Adam Oates        C                Canada      252
253  2012      Joe Sakic        C                Canada      253
254  2012    Mats Sundin        C                Sweden      254
255  2013  Chris Chelios        D         United States      255

In [9]:
# Rename the Name column to Player to match other dataframes
# reduce to only the player column and add a Hof coulumn to indicate player is in the hall of fame
hof_df = hof_df.rename(columns={"Name": "Player"})
hof_df = hof_df[['Player']]
hof_df["HoF"] = 1
hof_df.head()

            Player  HoF
251     Pavel Bure    1
252     Adam Oates    1
253      Joe Sakic    1
254    Mats Sundin    1
255  Chris Chelios    1

In [10]:
# Combined the two hall of fame dataframes into one 
hall_of_fame_concat_df = pd.concat([hall_of_fame_df, hof_df])
hall_of_fame_concat_df.tail()

            Player  HoF
284   Marián Hossa    1
285  Jarome Iginla    1
286     Kevin Lowe    1
287  Kim St-Pierre    1
288    Doug Wilson    1

In [11]:
# Remove special characters to match to the stats file
cols_to_check = ['Player']
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'á':'a'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'í':'i'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ä':'a'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ö':'o'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ç':'c'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'å':'a'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'É':'E'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'Å':'A'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'è':'e'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ë':'e'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'î':'i'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ó':'o'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ô':'o'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ø':'o'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ß':'ss'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ü':'u'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'ý':'y'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'Ö':'O'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'é':'e'}, regex=True)
hall_of_fame_concat_df[cols_to_check] = hall_of_fame_concat_df[cols_to_check].replace({'š':'s'}, regex=True)

hall_of_fame_concat_df.head()

             Player  HoF
0       Hobey Baker    1
1  Charlie Gardiner    1
2      Eddie Gerard    1
3       Frank McGee    1
4      Howie Morenz    1

In [12]:
# Change names to match the stats file
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Ching Johnson", "Ivan Johnson")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Punch Broadbent", "Harry Broadbent")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Sweeney Schriner", "David Schriner")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Shorty Green", "Wilfred Green")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Bullet Joe Simpson", "Joe Simpson")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Black Jack Stewart", "Jack Stewart")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Bryan Hextall", "Bryan Hextall, Sr.")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Bernie Geoffrion", "Bernard Geoffrion")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Viacheslav Fetisov", "Vyacheslav Fetisov")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Ray Bourque", "Raymond Bourque")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Harry P. Watson", "Harry Watson")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Aurel Joliat", "Aurele Joliat")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("John Bucyk", "Johnny Bucyk")
hall_of_fame_concat_df = hall_of_fame_concat_df.replace("Fern Flaman", "Fernie Flaman")

hall_of_fame_concat_df.head()

             Player  HoF
0       Hobey Baker    1
1  Charlie Gardiner    1
2      Eddie Gerard    1
3       Frank McGee    1
4      Howie Morenz    1

In [13]:
# Save the file to csv
hall_of_fame_concat_df.to_csv("Output/hof_adj.csv", index=False, header=True, encoding='utf-8-sig')