Create Master Statistics File by Joining the Stats, Awards, and Hof files

In [1]:
# Import pandas
import pandas as pd
import numpy as np

In [2]:
# Assign file paths to variable and read csv into pandas
file_one = "Output/career_stats_adj.csv"
file_two = "Output/awards_adj.csv"
file_three = "Output/hof_adj.csv"
master_stats_df = pd.read_csv(file_one)
master_awards_df = pd.read_csv(file_two, encoding="ISO-8859-1")
master_hof_df = pd.read_csv(file_three)

In [3]:
master_stats_df.head()

          Player    GP    G     A    TP    PPG   PIM POS  firstYear  lastYear
0  Wayne Gretzky  1487  894  1963  2857  1.921   577   C       1979      1999
1   Jaromir Jagr  1733  766  1155  1921  1.108  1167  RW       1990      2018
2   Mark Messier  1756  694  1193  1887  1.075  1910   C       1979      2004
3    Gordie Howe  1767  801  1049  1850  1.047  1685  RW       1946      1980
4    Ron Francis  1731  549  1249  1798  1.039   979   C       1981      2004

In [4]:
master_awards_df.head()

               Player  Awards  Cups  All-Star Games
0          Ace Bailey       1     1               0
1  Alexander Ovechkin      18     1               7
2            Babe Dye       2     1               0
3   Bernard Geoffrion       4     6              11
4           Bill Cook       2     2               0

In [5]:
master_hof_df.head()

             Player  HoF
0       Hobey Baker    1
1  Charlie Gardiner    1
2      Eddie Gerard    1
3       Frank McGee    1
4      Howie Morenz    1

Merge the awards and hof files to the stats file by left join.

In [6]:
# Merge Awards data to the stats data by left join
master_stats_file_df = pd.merge(left=master_stats_df, right=master_awards_df, how='left', left_on='Player', right_on='Player')
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,C,1979,1999,26.0,4.0,18.0
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,RW,1990,2018,9.0,2.0,10.0
2,Mark Messier,1756,694,1193,1887,1.075,1910,C,1979,2004,5.0,6.0,15.0
3,Gordie Howe,1767,801,1049,1850,1.047,1685,RW,1946,1980,12.0,4.0,23.0
4,Ron Francis,1731,549,1249,1798,1.039,979,C,1981,2004,0.0,2.0,4.0

In [7]:
# Merge Hall Of Fame data to the stats data by left join
master_stats_file_df = pd.merge(left=master_stats_file_df, right=master_hof_df, how='left', left_on='Player', right_on='Player')
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,C,1979,1999,26.0,4.0,18.0,1.0
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,RW,1990,2018,9.0,2.0,10.0,NaN
2,Mark Messier,1756,694,1193,1887,1.075,1910,C,1979,2004,5.0,6.0,15.0,1.0
3,Gordie Howe,1767,801,1049,1850,1.047,1685,RW,1946,1980,12.0,4.0,23.0,1.0
4,Ron Francis,1731,549,1249,1798,1.039,979,C,1981,2004,0.0,2.0,4.0,1.0

In [9]:
# Change all the NaN values to 0 and change numeric columns to integers
master_stats_file_df = master_stats_file_df.fillna(0)
master_stats_file_df = master_stats_file_df.astype({'GP':'int', 'G':'int', 'A':'int', 'TP':'int', 'PPG':'float', 'PIM':'int',                                                                'firstYear':'int', 'lastYear':'int', 'Awards':'int', 'Cups':'int', 
                                                    'All-Star Games':'int', 'HoF':'int'}) 
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,C,1979,1999,26,4,18,1
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,RW,1990,2018,9,2,10,0
2,Mark Messier,1756,694,1193,1887,1.075,1910,C,1979,2004,5,6,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,RW,1946,1980,12,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,C,1981,2004,0,2,4,1

In [49]:
master_stats_file_df['POS'] = master_stats_file_df['POS'].replace(['C', 'C/D','C/LW', 'C/RW', 'C/W', 'F', 'F/D', 'LW', 'LW/C', 'LW/C/D',
                                                                    'LW/D', 'LW/RW', 'RW','RW/C', 'RW/D', 'RW/LW', 'W/C'], 1)
master_stats_file_df['POS'] = master_stats_file_df['POS'].replace(['D', 'D/C','D/F', 'D/LW', 'D/RW', 'D/W'], 2)
master_stats_file_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1,1979,1999,26,4,18,1
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,1,1990,2018,9,2,10,0
2,Mark Messier,1756,694,1193,1887,1.075,1910,1,1979,2004,5,6,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1,1946,1980,12,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,1,1981,2004,0,2,4,1

In [50]:
# Save the file to csv
master_stats_file_df.to_csv("Output/master_stats_file.csv", index=False, header=True, encoding='utf-8-sig')

In [51]:
# Create test_train data for players that have not played as of 2017, essentially retired players
test_train_df = master_stats_file_df[master_stats_file_df['lastYear'] < 2017]
test_train_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1,1979,1999,26,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,1,1979,2004,5,6,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1,1946,1980,12,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,1,1981,2004,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,1,1971,1989,3,0,8,1

In [52]:
# Save the file to csv
test_train_df.to_csv("Output/test_train_file.csv", index=False, header=True, encoding='utf-8-sig')

In [53]:
# Create predict data for palyers who played their last game as of 2017, includes active players as well
predict_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 2017) & (master_stats_file_df['HoF'] != 1)]
predict_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,1,1990,2018,9,2,10,0
13,Joe Thornton,1641,421,1090,1511,0.921,1250,1,1997,2021,2,0,6,0
34,Alexander Ovechkin,1156,707,576,1283,1.110,719,1,2005,2021,18,1,7,0
37,Sidney Crosby,989,465,803,1268,1.282,677,1,2005,2021,11,3,4,0
49,Patrick Marleau,1728,562,627,1189,0.688,517,1,1997,2021,0,0,3,0

In [54]:
# Save the file to csv
predict_df.to_csv("Output/predict_file.csv", index=False, header=True, encoding='utf-8-sig')

In [55]:
# Filtered the test data to only include players that played as of 1967.  Possibly improve ML predictions
test_train_filt67_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017)]
test_train_filt67_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1,1979,1999,26,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,1,1979,2004,5,6,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1,1946,1980,12,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,1,1981,2004,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,1,1971,1989,3,0,8,1

In [56]:
# Save the file to csv
test_train_filt67_df.to_csv("Output/test_train_filt67_file.csv", index=False, header=True, encoding='utf-8-sig')

In [57]:
# Review the different position designations.
master_stats_file_df['POS'].unique()

array([1, 2], dtype=int64)

In [ ]:
master_stats_file_df.count

In [ ]:
test_train_df.count

In [ ]:
predict_df.count

In [ ]:
test_train_filt67_df.count

In [ ]:
test_train_filt67_df.describe()

In [58]:
test_train_filt67_mingame_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] 
                                                    < 2017) & (master_stats_file_df['GP'] > 99)]
test_train_filt67_mingame_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1,1979,1999,26,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,1,1979,2004,5,6,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1,1946,1980,12,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,1,1981,2004,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,1,1971,1989,3,0,8,1

In [37]:
test_train_filt67_mingame_df.describe()

,GP,G,A,TP,PPG,PIM,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
count,2513.000000,2513.000000,2513.000000,2513.000000,2513.000000,2513.000000,2513.000000,2513.000000,2513.000000,2513.000000,2513.000000,2513.000000
mean,527.044966,95.183446,158.686431,253.870275,0.405828,499.468762,1985.453641,1995.924791,0.099881,0.435336,0.640271,0.042181
std,339.919446,117.741526,176.058203,285.357674,0.237029,511.125369,13.574148,13.466885,0.897167,1.093871,1.880677,0.201041
min,100.000000,0.000000,1.000000,3.000000,0.028000,6.000000,1946.000000,1967.000000,0.000000,0.000000,0.000000,0.000000
25%,231.000000,18.000000,39.000000,59.000000,0.223000,137.000000,1976.000000,1984.000000,0.000000,0.000000,0.000000,0.000000
50%,462.000000,48.000000,95.000000,146.000000,0.363000,330.000000,1986.000000,1997.000000,0.000000,0.000000,0.000000,0.000000
75%,756.000000,128.000000,218.000000,344.000000,0.538000,681.000000,1996.000000,2008.000000,0.000000,0.000000,0.000000,0.000000
max,1767.000000,894.000000,1963.000000,2857.000000,1.921000,3966.000000,2014.000000,2016.000000,26.000000,11.000000,23.000000,1.000000

In [59]:
t_t_filt67_100gp_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017) & 
                                           (master_stats_file_df['GP'] > 100) | (master_stats_file_df['lastYear'] >= 2017) &                                                        (master_stats_file_df['HoF'] == 1)]
t_t_filt67_100gp_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1,1979,1999,26,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,1,1979,2004,5,6,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1,1946,1980,12,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,1,1981,2004,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,1,1971,1989,3,0,8,1

In [60]:
t_t_filt67_100gp_df.to_csv("Output/tt_filt67_100GP_file.csv", index=False, header=True, encoding='utf-8-sig')

In [61]:
t_t_filt67_100tp_df = master_stats_file_df[(master_stats_file_df['lastYear'] >= 1967) & (master_stats_file_df['lastYear'] < 2017) & 
(master_stats_file_df['TP'] > 100) | (master_stats_file_df['lastYear'] >= 2017) & (master_stats_file_df['HoF'] == 1)]
t_t_filt67_100tp_df.head()

,Player,GP,G,A,TP,PPG,PIM,POS,firstYear,lastYear,Awards,Cups,All-Star Games,HoF
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1,1979,1999,26,4,18,1
2,Mark Messier,1756,694,1193,1887,1.075,1910,1,1979,2004,5,6,15,1
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1,1946,1980,12,4,23,1
4,Ron Francis,1731,549,1249,1798,1.039,979,1,1981,2004,0,2,4,1
5,Marcel Dionne,1348,731,1040,1771,1.314,600,1,1971,1989,3,0,8,1

In [62]:
t_t_filt67_100tp_df.to_csv("Output/tt_filt67_100TP_file.csv", index=False, header=True, encoding='utf-8-sig')