In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import time
import pandas as pd
import requests
import numpy as np

In [2]:
# Scrape data from hockey website url

player_tables = []

for x in range(1, 74):

    url = f'https://www.eliteprospects.com/league/nhl/stats/all-time?page={x}'
    html = requests.get(url).text

    soup = BeautifulSoup(html, 'html.parser')

    players = soup.find('table', class_='player-stats')

    player_tables.append(pd.read_html(str(players))[0])

    
    print('page:', x, '-------------')
    
print("Scrapping completed!")

page: 1 -------------
page: 2 -------------
page: 3 -------------
page: 4 -------------
page: 5 -------------
page: 6 -------------
page: 7 -------------
page: 8 -------------
page: 9 -------------
page: 10 -------------
page: 11 -------------
page: 12 -------------
page: 13 -------------
page: 14 -------------
page: 15 -------------
page: 16 -------------
page: 17 -------------
page: 18 -------------
page: 19 -------------
page: 20 -------------
page: 21 -------------
page: 22 -------------
page: 23 -------------
page: 24 -------------
page: 25 -------------
page: 26 -------------
page: 27 -------------
page: 28 -------------
page: 29 -------------
page: 30 -------------
page: 31 -------------
page: 32 -------------
page: 33 -------------
page: 34 -------------
page: 35 -------------
page: 36 -------------
page: 37 -------------
page: 38 -------------
page: 39 -------------
page: 40 -------------
page: 41 -------------
page: 42 -------------
page: 43 -------------
page: 44 -------------
page: 45 -------------
page: 46 -------------
page: 47 -------------
page: 48 -------------
page: 49 -------------
page: 50 -------------
page: 51 -------------
page: 52 -------------
page: 53 -------------
page: 54 -------------
page: 55 -------------
page: 56 -------------
page: 57 -------------
page: 58 -------------
page: 59 -------------
page: 60 -------------
page: 61 -------------
page: 62 -------------
page: 63 -------------
page: 64 -------------
page: 65 -------------
page: 66 -------------
page: 67 -------------
page: 68 -------------
page: 69 -------------
page: 70 -------------
page: 71 -------------
page: 72 -------------
page: 73 -------------
Scrapping completed!

In [3]:
# Combined the 73 pages of data to one dataframe and dropped missing values
combined_df = pd.concat(player_tables, ignore_index=True)
combined_df = combined_df.dropna()
combined_df.head()

,#,Player,GP,G,A,TP,PPG,PIM,Period,Years
0,1.0,Wayne Gretzky (C),1487,894,1963,2857,1.921,577,1979-1999,20.0
1,2.0,Jaromír Jágr (RW),1733,766,1155,1921,1.108,1167,1990-2018,24.0
2,3.0,Mark Messier (C),1756,694,1193,1887,1.075,1910,1979-2004,25.0
3,4.0,Gordie Howe (RW),1767,801,1049,1850,1.047,1685,1946-1980,26.0
4,5.0,Ron Francis (C),1731,549,1249,1798,1.039,979,1981-2004,23.0

In [4]:
# Created new df and split the player column into Name and POS
#  and dropped ")" and player column and moved name column to the left
adjusted_df = combined_df
adjusted_df[['Name','POS']] = combined_df.Player.str.split("(",expand=True) 
adjusted_df=adjusted_df.replace('\)','',regex=True)
adjusted_df = adjusted_df[['Name', 'GP', 'G', 'A', 'TP', 'PPG', 'PIM', 'Period', 'Years', 'POS']]
adjusted_df.head()

             Name    GP    G     A    TP    PPG   PIM     Period  Years POS
0  Wayne Gretzky   1487  894  1963  2857  1.921   577  1979-1999   20.0   C
1   Jaromír Jágr   1733  766  1155  1921  1.108  1167  1990-2018   24.0  RW
2   Mark Messier   1756  694  1193  1887  1.075  1910  1979-2004   25.0   C
3    Gordie Howe   1767  801  1049  1850  1.047  1685  1946-1980   26.0  RW
4    Ron Francis   1731  549  1249  1798  1.039   979  1981-2004   23.0   C

In [5]:
# Remove and replace special characters from Name column

cols_to_check = ['Name']
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'á':'a'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'í':'i'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ä':'a'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ö':'o'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ç':'c'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'å':'a'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'É':'E'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'Å':'A'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'è':'e'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ë':'e'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'î':'i'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ó':'o'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ô':'o'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ø':'o'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ß':'ss'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ü':'u'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'ý':'y'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'Ö':'O'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'é':'e'}, regex=True)

adjusted_df.head()

             Name    GP    G     A    TP    PPG   PIM     Period  Years POS
0  Wayne Gretzky   1487  894  1963  2857  1.921   577  1979-1999   20.0   C
1   Jaromir Jagr   1733  766  1155  1921  1.108  1167  1990-2018   24.0  RW
2   Mark Messier   1756  694  1193  1887  1.075  1910  1979-2004   25.0   C
3    Gordie Howe   1767  801  1049  1850  1.047  1685  1946-1980   26.0  RW
4    Ron Francis   1731  549  1249  1798  1.039   979  1981-2004   23.0   C

In [6]:
# Remove empty spaces to the right of value in name column
adjusted_df['Name'] = adjusted_df['Name'].str.rstrip()
adjusted_df.head()

            Name    GP    G     A    TP    PPG   PIM     Period  Years POS
0  Wayne Gretzky  1487  894  1963  2857  1.921   577  1979-1999   20.0   C
1   Jaromir Jagr  1733  766  1155  1921  1.108  1167  1990-2018   24.0  RW
2   Mark Messier  1756  694  1193  1887  1.075  1910  1979-2004   25.0   C
3    Gordie Howe  1767  801  1049  1850  1.047  1685  1946-1980   26.0  RW
4    Ron Francis  1731  549  1249  1798  1.039   979  1981-2004   23.0   C

In [7]:
# Split Period column into firstYear and lastYear
adjusted_df[['firstYear','lastYear']] = adjusted_df.Period.str.split("-",expand=True)
adjusted_df.head()

,Name,GP,G,A,TP,PPG,PIM,Period,Years,POS,firstYear,lastYear
0,Wayne Gretzky,1487,894,1963,2857,1.921,577,1979-1999,20.0,C,1979,1999
1,Jaromir Jagr,1733,766,1155,1921,1.108,1167,1990-2018,24.0,RW,1990,2018
2,Mark Messier,1756,694,1193,1887,1.075,1910,1979-2004,25.0,C,1979,2004
3,Gordie Howe,1767,801,1049,1850,1.047,1685,1946-1980,26.0,RW,1946,1980
4,Ron Francis,1731,549,1249,1798,1.039,979,1981-2004,23.0,C,1981,2004

In [8]:
# Converted data type from object to integer ono the first and last year columns
adjusted_df["firstYear"] = adjusted_df["firstYear"].astype(str).astype(int)
adjusted_df["lastYear"] = adjusted_df["lastYear"].astype(str).astype(int)
adjusted_df["Years"] = adjusted_df["Years"].astype(float).astype(int)
adjusted_df.dtypes

Name         object
GP           object
G            object
A            object
TP           object
PPG          object
PIM          object
Period       object
Years         int32
POS          object
firstYear     int32
lastYear      int32
dtype: object

In [9]:
# Drop columns that are not needed
adjusted_df = adjusted_df.drop(['Period', 'Years'], axis=1)
adjusted_df.head()

            Name    GP    G     A    TP    PPG   PIM POS  firstYear  lastYear
0  Wayne Gretzky  1487  894  1963  2857  1.921   577   C       1979      1999
1   Jaromir Jagr  1733  766  1155  1921  1.108  1167  RW       1990      2018
2   Mark Messier  1756  694  1193  1887  1.075  1910   C       1979      2004
3    Gordie Howe  1767  801  1049  1850  1.047  1685  RW       1946      1980
4    Ron Francis  1731  549  1249  1798  1.039   979   C       1981      2004

In [10]:
# Change the Name column to Player to match across files.
adjusted_df = adjusted_df.rename(columns={"Name": "Player"})
adjusted_df.head()

          Player    GP    G     A    TP    PPG   PIM POS  firstYear  lastYear
0  Wayne Gretzky  1487  894  1963  2857  1.921   577   C       1979      1999
1   Jaromir Jagr  1733  766  1155  1921  1.108  1167  RW       1990      2018
2   Mark Messier  1756  694  1193  1887  1.075  1910   C       1979      2004
3    Gordie Howe  1767  801  1049  1850  1.047  1685  RW       1946      1980
4    Ron Francis  1731  549  1249  1798  1.039   979   C       1981      2004

In [11]:
# Change mismatch names to match across files
adjusted_df.loc[(adjusted_df.Player == 'Lee Fogolin') & (adjusted_df.firstYear == 1974), 'Player'] = 'Lee Fogolin, Jr.'
adjusted_df.loc[(adjusted_df.Player == 'Billy Harris') & (adjusted_df.firstYear == 1972), 'Player'] = 'Billy Harris, Jr.'
adjusted_df.head()

          Player    GP    G     A    TP    PPG   PIM POS  firstYear  lastYear
0  Wayne Gretzky  1487  894  1963  2857  1.921   577   C       1979      1999
1   Jaromir Jagr  1733  766  1155  1921  1.108  1167  RW       1990      2018
2   Mark Messier  1756  694  1193  1887  1.075  1910   C       1979      2004
3    Gordie Howe  1767  801  1049  1850  1.047  1685  RW       1946      1980
4    Ron Francis  1731  549  1249  1798  1.039   979   C       1981      2004

In [12]:
# Change the cells with "-" to show "0" and change columns with numeric data to int and float.
adjusted_df = adjusted_df.replace('-', 0)
adjusted_df = adjusted_df.astype({'GP':'int', 'G':'int', 'A':'int',
                    'TP':'int', 'PPG':'float', 'PIM':'int'}) 
adjusted_df.tail()

                Player  GP  G  A  TP  PPG  PIM   POS  firstYear  lastYear
7927  Jonathan Aspirot   0  0  0   0  0.0    0  D/LW       2020      2021
7928     Drew O'Connor   0  0  0   0  0.0    0    LW       2020      2021
7929   Jake Neighbours   0  0  0   0  0.0    0    LW       2020      2021
7930   Philip Tomasino   0  0  0   0  0.0    0     C       2020      2021
7931  Connor McMichael   0  0  0   0  0.0    0     C       2020      2021

In [13]:
adjusted_df.dtypes

Player        object
GP             int32
G              int32
A              int32
TP             int32
PPG          float64
PIM            int32
POS           object
firstYear      int32
lastYear       int32
dtype: object

In [14]:
adjusted_df.count()

Player       7277
GP           7277
G            7277
A            7277
TP           7277
PPG          7277
PIM          7277
POS          7277
firstYear    7277
lastYear     7277
dtype: int64

In [15]:
# Remove duplicate player names
adjusted_df = adjusted_df.drop_duplicates(subset=['Player'])
adjusted_df.head()

          Player    GP    G     A    TP    PPG   PIM POS  firstYear  lastYear
0  Wayne Gretzky  1487  894  1963  2857  1.921   577   C       1979      1999
1   Jaromir Jagr  1733  766  1155  1921  1.108  1167  RW       1990      2018
2   Mark Messier  1756  694  1193  1887  1.075  1910   C       1979      2004
3    Gordie Howe  1767  801  1049  1850  1.047  1685  RW       1946      1980
4    Ron Francis  1731  549  1249  1798  1.039   979   C       1981      2004

In [16]:
adjusted_df.count()

Player       7234
GP           7234
G            7234
A            7234
TP           7234
PPG          7234
PIM          7234
POS          7234
firstYear    7234
lastYear     7234
dtype: int64

In [17]:
# Save data frame to csv
adjusted_df.to_csv("Output/career_stats_adj.csv", index=False, header=True, encoding='utf-8-sig')