In [1]:
import pandas as pd

In [2]:
hof_csv = "../Master\data\HOF.csv"
master_csv = "../Master/data/Master.csv"
scoring_csv = "../Master/data/Scoring.csv"

In [3]:
hof_df = pd.read_csv(hof_csv)
hof_df.head()

   year       hofID              name category
0  1945  bakerho01h       Hobey Baker   Player
1  1945  gardich01h  Charlie Gardiner   Player
2  1945  gerared01h      Eddie Gerard   Player
3  1945  mcgeefr01h       Frank McGee   Player
4  1945  morenho01h      Howie Morenz   Player

In [4]:
master_df = pd.read_csv(master_csv)
master_df.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
scoring_df = pd.read_csv(scoring_csv)
scoring_df.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
0,aaltoan01,1997,1,ANA,NHL,C,3.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aaltoan01,1998,1,ANA,NHL,C,73.0,3.0,5.0,8.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,aaltoan01,1999,1,ANA,NHL,C,63.0,7.0,11.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aaltoan01,2000,1,ANA,NHL,C,12.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abbeybr01,1975,1,CIN,WHA,D,17.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
scoring_df = scoring_df.loc[scoring_df['lgID'] == 'NHL']
scoring_df.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
0,aaltoan01,1997,1,ANA,NHL,C,3.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aaltoan01,1998,1,ANA,NHL,C,73.0,3.0,5.0,8.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,aaltoan01,1999,1,ANA,NHL,C,63.0,7.0,11.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aaltoan01,2000,1,ANA,NHL,C,12.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,abbotge01,1943,1,BOS,NHL,G,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
from splinter import Browser
from bs4 import BeautifulSoup
import time
import requests

## Art Ross Trophy Winners
### League's Scoring Champion since 1918

In [59]:
url = f'https://www.nhl.com/news/nhl-art-ross-trophy-winners-complete-list/c-287899824?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Art Ross']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
art_ross_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
art_ross_df['Year'] = art_ross_df['Year'].astype(int)
# filter dataframe 
art_ross_df = art_ross_df.loc[art_ross_df['Year'] >= 1967,:]
art_ross_df.head()

   Year           Player                 Team     Award
0  2020   Leon Draisaitl      Edmonton Oilers  Art Ross
1  2019  Nikita Kucherov  Tampa Bay Lightning  Art Ross
2  2018   Connor McDavid      Edmonton Oilers  Art Ross
3  2017   Connor McDavid      Edmonton Oilers  Art Ross
4  2016     Patrick Kane   Chicago Blackhawks  Art Ross

## Hart Memorial Trophy Winners
### Regular-Season MVPs since 1924

In [60]:
url = f'https://www.nhl.com/news/nhl-hart-memorial-trophy-winners-complete-list/c-287743272?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Hart Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
hart_memorial_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
hart_memorial_df['Year'] = hart_memorial_df['Year'].astype(int)
# filter dataframe 
hart_memorial_df = hart_memorial_df.loc[hart_memorial_df['Year'] >= 1967,:]
hart_memorial_df.head()

   Year           Player                 Team          Award
0  2020   Leon Draisaitl      Edmonton Oilers  Hart Memorial
1  2019  Nikita Kucherov  Tampa Bay Lightning  Hart Memorial
2  2018      Taylor Hall    New Jersey Devils  Hart Memorial
3  2017   Connor McDavid      Edmonton Oilers  Hart Memorial
4  2016     Patrick Kane   Chicago Blackhawks  Hart Memorial

## Conn Smythe Trophy Winners
### MVP of Playoffs since 1965

In [61]:
url = 'https://www.nhl.com/news/nhl-conn-smythe-trophy-winners-complete-list/c-287709808?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), "Conn Smythe"]
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
conn_smythe_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
conn_smythe_df['Year'] = conn_smythe_df['Year'].astype(int)
# filter dataframe 
conn_smythe_df = conn_smythe_df.loc[conn_smythe_df['Year'] >= 1967,:]
conn_smythe_df.head()

   Year         Player                 Team        Award
0  2020  Victor Hedman  Tampa Bay Lightning  Conn Smythe
1  2019  Ryan O'Reilly      St. Louis Blues  Conn Smythe
2  2018  Alex Ovechkin  Washington Capitals  Conn Smythe
3  2017  Sidney Crosby  Pittsburgh Penguins  Conn Smythe
4  2016  Sidney Crosby  Pittsburgh Penguins  Conn Smythe

## Calder Memorial Trophy Winners
### Rookie of the Year since 1933

In [62]:
url = 'https://www.nhl.com/news/nhl-calder-memorial-trophy-winners-complete-list/c-287749198?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = row.split(':')
        more_words = words[1].split(',')

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'Calder Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
calder_memorial_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
calder_memorial_df['Year'] = calder_memorial_df['Year'].astype(int)
# filter dataframe 
calder_memorial_df = calder_memorial_df.loc[calder_memorial_df['Year'] >= 1967,:]
calder_memorial_df.head()

   Year            Player                 Team            Award
0  2020        Cale Makar   Colorado Avalanche  Calder Memorial
1  2019  Elias Pettersson    Vancouver Canucks  Calder Memorial
2  2018     Mathew Barzal   New York Islanders  Calder Memorial
3  2017   Auston Matthews  Toronto Maple Leafs  Calder Memorial
4  2016    Artemi Panarin   Chicago Blackhawks  Calder Memorial

## James Norris Memorial Trophy Winners
### Best Defenseman since 1954

In [63]:
import re 
url = 'https://www.nhl.com/news/nhl-james-norris-memorial-trophy-winners-complete-list/c-287778852?tid=287709666'

# Retrieve page with the requests module
html = requests.get(url).text

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

# results are returned as a list
body = soup.find('div', class_='article-item__body')

results = body.find_all('li')

winners = []
for result in results:
    # Error handling
    try:
        #print(result)
        row = result.text
        #print(f'row: {row}')
        words = re.split(':|;', row)
        #print(words)
        more_words = words[1].split(',')
        #print(more_words)

        winner = [words[0], more_words[0].strip(), more_words[1].strip(), 'James Norris Memorial']
        #print(winner)
        winners.append(winner)

    except AttributeError as error:
        print(error)

# convert list of lists into DataFrame
james_norris_df = pd.DataFrame(winners, columns = ['Year', 'Player', 'Team', 'Award'])
# convert year column to int for filtering purposes
james_norris_df['Year'] = james_norris_df['Year'].astype(int)
# filter dataframe 
james_norris_df = james_norris_df.loc[james_norris_df['Year'] >= 1967,:]
james_norris_df.head()

   Year         Player                 Team                  Award
0  2020     Roman Josi       Calgary Flames  James Norris Memorial
1  2019  Mark Giordano       Calgary Flames  James Norris Memorial
2  2018  Victor Hedman  Tampa Bay Lightning  James Norris Memorial
3  2017    Brent Burns      San Jose Sharks  James Norris Memorial
4  2016   Drew Doughty    Los Angeles Kings  James Norris Memorial

In [65]:
awards_df = pd.concat([art_ross_df, hart_memorial_df, calder_memorial_df, conn_smythe_df, james_norris_df], axis=0)
awards_df

    Year           Player                 Team                  Award
0   2020   Leon Draisaitl      Edmonton Oilers               Art Ross
1   2019  Nikita Kucherov  Tampa Bay Lightning               Art Ross
2   2018   Connor McDavid      Edmonton Oilers               Art Ross
3   2017   Connor McDavid      Edmonton Oilers               Art Ross
4   2016     Patrick Kane   Chicago Blackhawks               Art Ross
..   ...              ...                  ...                    ...
48  1971        Bobby Orr        Boston Bruins  James Norris Memorial
49  1970        Bobby Orr        Boston Bruins  James Norris Memorial
50  1969        Bobby Orr        Boston Bruins  James Norris Memorial
51  1968        Bobby Orr        Boston Bruins  James Norris Memorial
52  1967     Harry Howell     New York Rangers  James Norris Memorial

[265 rows x 4 columns]

In [66]:
awards_df.to_csv('../Master/data/awards_df.csv')

## All Start Game Stats All-Time

In [85]:
url = f'https://www.quanthockey.com/scripts/AjaxPaginate.php?cat=Records&pos=Players&SS=&af=0&nat=alltime&st=5&sort=points&so=&page=1&league=NHL%20All-Star%20Game&lang=en&rnd=651834569&dt=1&sd=undefined&ed=undefined'

# find the table
table = pd.read_html(url)
df = table[0]
# delete unneeded column
del df['Unnamed: 1']
# convert games played column to integer
df['GP'] = df['GP'].astype(int)
df.head()

,Rk,Name,Born,Pos,GP,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0,0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0,0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0,0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6,1,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0,0,2,0.400,0.867,1.267

In [90]:


all_star_tables = []

for page in range(1,19):
    url = f'https://www.quanthockey.com/scripts/AjaxPaginate.php?cat=Records&pos=Players&SS=&af=0&nat=alltime&st=5&sort=points&so=&page={page}&league=NHL%20All-Star%20Game&lang=en&rnd=651834569&dt=1&sd=undefined&ed=undefined'

    print('page:', page, '-------------')

    # find the table
    table = pd.read_html(url)
    df = table[0]
    # delete unneeded column
    del df['Unnamed: 1']
    # convert games played column to integer
    df['GP'] = df['GP'].astype(int)
    all_star_tables.append(df)
    
print("Scraping completed!")

page: 1 -------------
page: 2 -------------
page: 3 -------------
page: 4 -------------
page: 5 -------------
page: 6 -------------
page: 7 -------------
page: 8 -------------
page: 9 -------------
page: 10 -------------
page: 11 -------------
page: 12 -------------
page: 13 -------------
page: 14 -------------
page: 15 -------------
page: 16 -------------
page: 17 -------------
page: 18 -------------
Scraping completed!

In [92]:
combined_df = pd.concat(all_star_tables, ignore_index=True)
combined_df

,Rk,Name,Born,Pos,GP,G,A,P,PIM,+/-,PPG,SHG,GWG,G/GP,A/GP,P/GP
0,1,Wayne Gretzky,1961,F,18,13,12,25,0,NaN,0.0,0.0,1,0.722,0.667,1.389
1,2,Mario Lemieux,1965,F,10,13,10,23,0,NaN,0.0,0.0,2,1.300,1.000,2.300
2,3,Joe Sakic,1969,F,12,6,16,22,0,3.0,0.0,0.0,0,0.500,1.333,1.833
3,4,Gordie Howe,1928,F,23,10,9,19,25,NaN,6.0,1.0,3,0.435,0.391,0.826
4,5,Mark Messier,1961,F,15,6,13,19,4,2.0,0.0,0.0,2,0.400,0.867,1.267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,889,Jacques Plante,1929,G,8,0,0,0,0,NaN,0.0,0.0,0,0.000,0.000,0.000
889,890,Martin Brodeur,1972,G,9,0,0,0,0,NaN,0.0,0.0,0,0.000,0.000,0.000
890,891,Patrick Roy,1965,G,11,0,0,0,2,NaN,0.0,0.0,0,0.000,0.000,0.000
891,892,Terry Sawchuk,1929,G,11,0,0,0,0,NaN,0.0,0.0,0,0.000,0.000,0.000
892,893,Glenn Hall,1931,G,13,0,0,0,0,NaN,0.0,0.0,0,0.000,0.000,0.000